<nav class="navbar navbar-default navbar-static-top navbar-fixed-top scrollable-nav">
	<div class="container navbar-center">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only"><%= __("Toggle navigation") %></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-links">
				<li><a target="_BLANK" href="/"><span>-</span>&nbsp; <%= __("full site and documentation") %></a></li>
			</ul>
		</div>

	</div>
</nav>
