<form class="form" method="post" action="/join-landing-page">
							
<div class="form-group">
	<input required="required" placeholder="Vorname" class="form-control input-group-lg" type="text" name="firstName" value="" />
</div>

<div class="form-group">
	<input required="required" placeholder="Familienname, Nachname" class="form-control input-group-lg" type="text" name="lastName" value="" />
</div>

<div class="form-group">
	<input required="required" placeholder="Email" class="form-control input-group-lg" type="email" name="email" value="" />
</div>

<%- recaptchaForm %>

	<input type="hidden" name="ltfSuccessPage" value="/thanks-germany" />
	<input type="hidden" name="firstNameFieldValue" value="cm-f-dytkyuhi" />
	<input type="hidden" name="lastNameFieldValue" value="cm-f-dytkyuhd" />
	<input type="hidden" name="emailFieldValue" value="cm-udlhthy-udlhthy" />
	<input type="hidden" name="ltfUrl" value="http://login.yourcampaignmanager.co.uk/t/r/s/udlhthy/" />

<button type="submit" class="btn btn-cta btn-cta-large btn-subscribe-cta btn-cta-landingpage btn-block">Abonnieren</button>
</form>