<form class="form" method="post" action="/join-landing-page">				
<div class="form-group">
	<input required="required" placeholder="Nombre de pila" class="form-control input-group-lg" type="text" name="firstName" value="" />
</div>

<div class="form-group">
	<input required="required" placeholder="Apellido" class="form-control input-group-lg" type="text" name="lastName" value="" />
</div>

<div class="form-group">
	<input required="required" placeholder="Email" class="form-control input-group-lg" type="email" name="email" value="" />
</div>
<%- recaptchaForm %>

	<input type="hidden" name="ltfSuccessPage" value="/thanks-spain" />
	<input type="hidden" name="firstNameFieldValue" value="cm-f-dytkyudk" />
	<input type="hidden" name="lastNameFieldValue" value="cm-f-dytkyudu" />
	<input type="hidden" name="emailFieldValue" value="cm-udlhtdh-udlhtdh" />
	<input type="hidden" name="ltfUrl" value="http://login.yourcampaignmanager.co.uk/t/r/s/udlhtdh/" />
	
	
<button type="submit" class="btn btn-cta btn-cta-large btn-subscribe-cta btn-cta-landingpage btn-block">Suscribir</button>
</form>