<form class="form" method="post" action="/join-landing-page">
							
<div class="form-group">
	<input required="required" placeholder="名字" class="form-control input-group-lg" type="text" name="cm-f-dytkyudt" value="" />
</div>

<div class="form-group">
	<input required="required" placeholder="姓" class="form-control input-group-lg" type="text" name="cm-f-dytkyudi" value="" />
</div>

<div class="form-group">
	<input required="required" placeholder="电子邮件" class="form-control input-group-lg" type="email" name="cm-udlhtiu-udlhtiu" value="" />
</div>
<%- recaptchaForm %>

	<input type="hidden" name="ltfSuccessPage" value="/thanks-china" />
	<input type="hidden" name="firstNameFieldValue" value="cm-f-dytkyudt" />
	<input type="hidden" name="lastNameFieldValue" value="cm-f-dytkyudi" />
	<input type="hidden" name="emailFieldValue" value="cm-udlhtiu-udlhtiu" />
	<input type="hidden" name="ltfUrl" value="http://login.yourcampaignmanager.co.uk/t/r/s/udlhtiu/" />
	
<button type="submit" class="btn btn-cta btn-cta-large btn-subscribe-cta btn-cta-landingpage btn-block">订阅</button>
</form>