html, body {
	font-family: 'Nunito', sans-serif;
	background-color: #fff;
	color: #323232;
}
div:focus {
    outline: none;
}
.no-left-padding {
	padding-left: 0px !important;
}.no-right-padding {
	padding-right: 0px !important;
}
.clear-right {
	clear:right;
}

h1,h2,h3 {
	color: #d5b453;
}
#fractal-background {
	position:absolute;
	width: 100%;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.container {
	position:relative;
	background: #fff;
}
/** GENERAL STYLES
**/
.navbar-brand {
	padding-top: 5px;
}
.navbar-default {
	background-color: #fff;
	color: #333;
}
.navbar-title {
	margin-top: 10px;
}
.padding-top40 {
	padding-top: 40px;
}
.padding-top60 {
	padding-top: 60px;
}
.padding-top80 {
	padding-top: 80px;
}

.full-img {
    width: 100%;
}

.small-caps {
	font-variant: small-caps;
}

.deposit-address-field {
	margin: 30px 0;
}

.highlight-msg {
	background-color: #f2f2f2;
	margin: 15px 0 15px 0;
	padding: 5px 15px 15px 15px;
	color: #323232;
	font-size: 16px;
}

.key-stats {
	font-weight: bold;
	font-size: 16px;
}
.live-stats {
	margin: 15px 0;
	font-weight: bold;
	font-size: 16px;
}
.coinpayments-secure-logo {
	margin: 0 0 20px 10px;
}

.white-link,
a.white-link:hover,
a.white-link:active,
a.white-link:visited {
	color: #fff;
	font-weight: bold;
}

span.whitelist-status,
.green-highlight {
	color: #9ac400;
}

/** CALCULATOR STYLES
**/
#token-calculator-modal {
	color: #323232;
}
#token-calculator-modal h4 {
	text-align: center;
	color: #d5b453;
}
.calculator-seperator {
	margin: 12px 0;
	text-align: center;
	font-size: 16px;
}
.token-calculator-calculation {
	text-align: center;
}
.calculator-totals {
	margin: 20px auto;
	font-size: 16px;
}
.calculator-loading {
	margin: 40px auto 60px auto;
	text-align: center;
}