<footer>
    <!-- Lists -->
    <div class="container u-space-2">
      <div class="row justify-content-md-between">
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>About</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li><a class="u-list__link" href="/our-story">Our Story</a></li>
            <li><a class="u-list__link" href="/team">The Team</a></li>
            <li><a class="u-list__link" href="/partners">Partners</a></li>
            <li><a class="u-list__link" href="/terms-of-use">Terms of Use</a></li>
            <li><a class="u-list__link" href="/privacy">Privacy Policy</a></li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>Services</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li><a class="u-list__link" href="/game-publishing">Game publishing</a></li>
            <li><a class="u-list__link" href="/raidparty">Player Retention &amp; Rewards</a></li>
            <li><a class="u-list__link" href="/dynamic-advertisement">Dynamic Advertisement</a></li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>Token Offering</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li><a class="u-list__link" href="/token-sale-legal">Legal Disclosures &amp; Terms</a></li>
            <li><a class="u-list__link" href="/token-sale">Token Sale</a></li>
            <li><a class="u-list__link" href="/contributor-login">Contributor Login</a></li>
            <li><a class="u-list__link" href="/documents">Documents</a></li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-md-6 col-lg-4">
          <h3 class="h6 mb-4">
            <strong>We are driven to making every game release a success story.</strong>
          </h3>

          <!-- Button -->
          <a href="https://discord.gg/Bnfpqrk" type="button" class="btn btn-xs btn-dark u-btn-dark u-btn-wide transition-3d-hover text-left mb-2">
            <span class="media align-items-center">
              <span class="d-flex mr-3">
                <span class="fab fa-discord font-size-26"></span>
              </span>
              <span class="media-body">
                <span class="d-block">Join us in</span>
                <strong class="font-size-14">Discord</strong>
              </span>
            </span>
          </a>
          <!-- End Button -->

          <!-- Button -->
          <a href="https://twitter.com/triforcetokens" type="button" class="btn btn-xs btn-dark u-btn-dark u-btn-wide transition-3d-hover text-left mb-2">
            <span class="media align-items-center">
              <span class="d-flex mr-3">
                <span class="fab fa-twitter font-size-26"></span>
              </span>
              <span class="media-body">
                <span class="d-block">Follow us on</span>
                <strong class="font-size-14">Twitter</strong>
              </span>
            </span>
          </a>
          <!-- End Button -->

          <div class="row mt-2">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <img class="img-fluid pull-right" src="/images/partners/tiga-partner-member.png" alt="TIGA Member" />
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Lists -->

    <hr>

    <!-- Copyright -->
    <div class="container text-center u-space-1">
      <!-- Logo -->
      <a class="d-inline-block mb-2" href="/" aria-label="Front">
        <img src="/images/logo-white.png" alt="TriForce Tokens Footer Logo" style="width: 120px;">
      </a>
      <!-- End Logo -->

      <p class="small text-muted">&copy; TriForce Tokens Ltd. 2018. All rights reserved.</p>
    </div>
    <!-- End Copyright -->
  </footer>

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->


<% if(req.session.user){ %>
  <aside id="sidebarContent" class="u-sidebar u-unfold--css-animation u-unfold--hidden" aria-labelledby="sidebarNavToggler" style="animation-duration: 500ms; right: 0px;">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-sidebar--account__footer-offset">
          <!-- Toggle Button -->
          <div class="d-flex justify-content-between align-items-center pt-4 px-7">
            <h3 class="h6 mb-0">My Account</h3>

            <button type="button" class="close ml-auto target-of-invoker-has-unfolds" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="js-scrollbar u-sidebar__body mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
            <!-- Holder Info -->
            <header class="d-flex align-items-center u-sidebar--account__holder mt-3">

                <div class="position-relative">
                </div>
                <div class="ml-3">
                  <strong><%- (req.session.user.firstName + " " + req.session.user.lastName).toLowerCase()
      .split(' ')
      .map(word => word.charAt(0).toUpperCase() + word.slice(1))
      .join(' ') %>
                </div>

            </header>
            <!-- End Holder Info -->

            <div class="u-sidebar__content--account">
                <!-- List Links -->
                <ul class="list-unstyled u-sidebar--account__list">
                  <li class="u-sidebar--account__list-item">
                    <a class="u-sidebar--account__list-link" href="/contributor/change-password">
                      <i class="fas fa-key mr-2"></i>
                      Change Password
                    </a>
                  </li>
                  <li class="u-sidebar--account__list-item">
                    <a class="u-sidebar--account__list-link" href="/logout">
                      <i class="fas fa-sign-out-alt mr-2"></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </div>

            <div class="u-sidebar__content--account">
              <!-- List Links -->
              <ul class="list-unstyled u-sidebar--account__list">
                <li class="u-sidebar--account__list-item">
                  <a class="u-sidebar--account__list-link" href="/contributor">
                    <span class="fa fa-home u-sidebar--account__list-icon mr-2"></span>
                    Dashboard
                  </a>
                </li>
                <li class="u-sidebar--account__list-item">
                  <a class="u-sidebar--account__list-link" href="/contributor/kyc-application">
                    <span class="fa fa-user-circle u-sidebar--account__list-icon mr-2"></span>
                    KYC Application
                  </a>
                </li>
                <li class="u-sidebar--account__list-item">
                  <a class="u-sidebar--account__list-link" href="/contributor/transactions">
                    <span class="fa fa-tasks u-sidebar--account__list-icon mr-2"></span>
                    Transactions
                  </a>
                </li>
                <li class="u-sidebar--account__list-item">
                  <a class="u-sidebar--account__list-link" href="/documents">
                    <span class="fa fa-layer-group u-sidebar--account__list-icon mr-2"></span>
                    Documentation
                  </a>
                </li>
                <li class="u-sidebar--account__list-item">
                  <a class="u-sidebar--account__list-link" href="/contact">
                    <span class="fa fa-users u-sidebar--account__list-icon mr-2"></span>
                    Support
                  </a>
                </li>
                <li class="u-sidebar--account__list-item">
                  <a class="u-sidebar--account__list-link" href="/contributor/buy-force">
                    <span class="fa fa-exchange-alt u-sidebar--account__list-icon mr-2"></span>
                    Buy FORCE
                  </a>
                </li>
              </ul>
              <!-- End List Links -->

              <div class="u-sidebar--account__list-divider"></div>

            </div>
          </div></div>

          <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; display: block; height: 187px; max-height: 336px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
        </div>

        <!-- Footer -->
        <footer class="u-sidebar__footer u-sidebar__footer--account">
          <ul class="list-inline mb-0">
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="/privacy">Privacy</a>
            </li>
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="/token-sale-legal">Terms</a>
            </li>
            <li class="list-inline-item">
              <a class="u-sidebar__footer--account__text" href="/documents">
                <i class="fa fa-info-circle"></i>
              </a>
            </li>
          </ul>

          <!-- SVG Background Shape -->
          <div class="position-absolute-bottom-0">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 126.5" style="margin-bottom: -5px; enable-background:new 0 0 300 126.5;" xml:space="preserve">
              <path class="u-fill-primary" opacity=".6" d="M0,58.9c0-0.9,5.1-2,5.8-2.2c6-0.8,11.8,2.2,17.2,4.6c4.5,2.1,8.6,5.3,13.3,7.1C48.2,73.3,61,73.8,73,69
                c43-16.9,40-7.9,84-2.2c44,5.7,83-31.5,143-10.1v69.8H0C0,126.5,0,59,0,58.9z"></path>
              <path class="u-fill-primary" d="M300,68.5v58H0v-58c0,0,43-16.7,82,5.6c12.4,7.1,26.5,9.6,40.2,5.9c7.5-2.1,14.5-6.1,20.9-11
                c6.2-4.7,12-10.4,18.8-13.8c7.3-3.8,15.6-5.2,23.6-5.2c16.1,0.1,30.7,8.2,45,16.1c13.4,7.4,28.1,12.2,43.3,11.2
                C282.5,76.7,292.7,74.4,300,68.5z"></path>
              <circle class="u-fill-danger" cx="259.5" cy="17" r="13"></circle>
              <circle class="u-fill-primary" cx="290" cy="35.5" r="8.5"></circle>
              <circle class="u-fill-success" cx="288" cy="5.5" r="5.5"></circle>
              <circle class="u-fill-warning" cx="232.5" cy="34" r="2"></circle>
            </svg>
          </div>
          <!-- End SVG Background Shape -->
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
  <% } %>