<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md" data-header-fix-moment="500" data-header-fix-effect="slide">
    

    <div class="u-header__section">
      <!-- Topbar -->
      <div class="container u-header__hide-content pt-2">
        <div class="d-flex align-items-center mb-0">
          <!-- Language -->
          <div class="position-relative">
            <a id="languageDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button" aria-controls="languageDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#languageDropdown" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
               <img class="u-unfold__icon" src="/images/flags/united-kingdom.png" alt="SVG">
              <span class="d-inline-block d-sm-none">EN</span>
              <span class="d-none d-sm-inline-block">English</span>
              <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
            </a>

            <div id="languageDropdown" class="u-unfold mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="languageDropdownInvoker" style="animation-duration: 300ms;">
              <a class="active u-list__link" href="#">Español‎</a>
              <a class="u-list__link" href="#">Chinese</a>
              <a class="u-list__link" href="#">Deutsch</a>
            </div>
          </div>
          <!-- End Language -->

          <div class="ml-auto">
            <!-- Jump To -->
            <div class="d-inline-block d-sm-none position-relative mr-2">
              <a id="jumpToDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button" aria-controls="jumpToDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#jumpToDropdown" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                Jump to
                <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
              </a>

              <div id="jumpToDropdown" class="u-unfold mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="jumpToDropdownInvoker" style="animation-duration: 300ms;">
                <a class="u-list__link" href="/contact">Contact Us</a>
              </div>
            </div>
            <!-- End Jump To -->

            <!-- Links -->
            <div class="d-none d-sm-inline-block ml-sm-auto">
               <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="https://discord.gg/ueyw6Z"><i class="fab fa-discord"></i></a>
                  </li>
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="https://twitter.com/triforcetokens"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="https://www.facebook.com/triforcetokens"><i class="fab fa-facebook-square"></i></a>
                  </li>
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="https://github.com/TriForceNetwork"><i class="fab fa-github"></i></a>
                  </li>
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="https://medium.com/@triforcetokens"><i class="fab fa-medium"></i></a>
                  </li>
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="/faq">FAQ</a>
                  </li>
                  <li class="list-inline-item mr-0">
                     <a class="u-header__topbar-nav-link" href="/contact">Contact Us</a>
                  </li>
                <li class="list-inline-item">
                 <!-- Account Sidebar Toggle Button -->
                 <a id="sidebarNavToggler" class="btn btn-xs u-btn--icon u-btn-text-secondary u-sidebar__toggler target-of-invoker-has-unfolds" href="javascript:;" role="button" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                   <span class="fa fa-user-circle u-btn--icon__inner font-size-14"></span>
                 </a>
                 <!-- End Account Sidebar Toggle Button -->
               </li>
              </ul>
            </div>
            <!-- End Links -->
          </div>
        </div>
      </div>
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="/" aria-label="TriForce Tokens Ltd">
            <img src="/images/triforce-tokens-logo-standard-200-150.png" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
              <!-- Home -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" 
               data-event="hover" 
               data-animation-in="slideInUp" data-animation-out="fadeOut" 
               data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Strategy
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>


                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="/images/dynamic-advertisement-menu-display.png">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                              <span class="badge badge-success ml-1">New</span>
                              <strong class="d-block u-header__banner-v1-title mb-2">Dynamic Advertisement</strong>
                              <span class="u-header__banner-v1-text">Less-intrusive advertisement can bring extra revenue without disrupting gameplay.</span>
                          </div>
                          <a target="_blank" class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="https://studio.raidparty.io">Learn More <span class="fa fa-angle-right ml-2"></span></a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Services</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li><a class="nav-link u-list__link py-2 px-0" href="/game-publishing">Game Publishing</a></li>
                            <li><a class="nav-link u-list__link py-2 px-0" href="/marketplaces">Market Place</a></li>
                            <li><a class="nav-link u-list__link py-2 px-0" href="/raidparty">Player Community</a></li>
                            <li><a class="nav-link u-list__link py-2 px-0" href="/dynamic-advertisement">Dynamic Advertisement</a></li>
                          </ul>
                          <!-- End Links -->

                        </div>

                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Comming Soon!</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li><a class="nav-link u-list__link py-2 px-0" href="/force-blockchain">FORCE Blockchain</a></li>
                            <li><a class="nav-link u-list__link py-2 px-0" href="/force-wallet">FORCE Wallet</a></li>
                            <li><a class="nav-link u-list__link py-2 px-0" href="/custom-game-tokens">Custom Game Tokens</a></li>
                          </ul>
                          <!-- End Links -->

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Home -->


              <!-- Documents -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" 
              data-animation-in="slideInUp" data-animation-out="fadeOut"
              data-position="right">
                <a id="documentsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Token Offering
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Works - Mega Menu -->
                <div class="hs-mega-menu w-50 u-header__sub-menu u-header__mega-menu-wrapper-v1 animated hs-position-right fadeOut" aria-labelledby="documentsMegaMenu">
                  <div class="row">

                     <div class="col-sm-6 col-lg-6 mb-12 mb-lg-0">
                      <strong class="d-block mb-2">Getting Started</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li><a class="nav-link u-list__link py-2 px-0" href="/token-sale-legal">Legal Disclosures &amp; Terms</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/completing-kyc">Completing KYC</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/private-offering">Private Offering</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/token-sale">Public Offering</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/documents">All Documents</a></li>
                      </ul>
                      <!-- End Links -->
                    </div>

                     
                    <div class="col-sm-6 col-lg-6 mb-12 mb-lg-0">
                      <strong class="d-block mb-2">Documents</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li><a class="nav-link u-list__link py-2 px-0" href="/pitch-deck">Pitch Deck</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/whitepaper">General Whitepaper</a></li>
                        <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://triforce.gitbook.io/docs/home">Technical Whitepaper</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/">Economic Whitepaper</a></li>
                        <li><a class="nav-link u-list__link py-2 px-0" href="/">Token Offer Summary</a></li>
                      </ul>
                      <!-- End Links -->
                    </div>


                    
                  </div>
                </div>
                <!-- End Works - Mega Menu -->
              </li>
              <!-- End Works -->


              <!-- Videos -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" 
              data-animation-in="slideInUp" data-animation-out="fadeOut"
              data-position="right">
                <a id="videosMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Videos
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- videos - Mega Menu -->
                <div class="hs-mega-menu w-50 u-header__sub-menu u-header__mega-menu-wrapper-v1 animated hs-position-right fadeOut" aria-labelledby="videosMegaMenu">
                  <div class="row">

                    <div class="col-sm-6 col-lg-6 mb-6 mb-lg-0">
                      <strong class="d-block mb-2">Technology</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/vNSnWaWLBsA"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Changing The Games Industry">Changing The Games Industry</a></li>
                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/vNSnWaWLBsA"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Dynamic Advertisement">Dynamic Advertisement</a></li>
                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/vNSnWaWLBsA"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Player Reward Platform">Player Reward Platform</a></li>
                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/vNSnWaWLBsA"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Market Place">Market Place</a></li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-6 mb-6 mb-lg-0">
                      <strong class="d-block mb-2">Team</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/n9WI3w1XPKo"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Project Launch Promo">Project Launch Promo</a></li>

                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/gpAz4SEjfoo"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Project Introduction">Project Introduction</a></li>

                        <li><a class="js-fancybox media u-media-player nav-link u-list__link py-2 px-0"
                           data-src="https://youtu.be/Ap0p517EcyY"
                           href="javascript:;"
                           data-speed="200" 
                           data-animate-in="zoomIn" 
                           data-animate-out="zoomOut"
                           data-caption="Pete Mardell, Founder and CEO Intro">Pete Mardell, Founder and CEO Intro</a></li>
                        
                      </ul>
                      <!-- End Links -->
                    </div>



                  </div>
                </div>
                <!-- End Works - Mega Menu -->
              </li>
              <!-- End Works -->



              <!-- Publications -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" 
              data-animation-in="slideInUp" data-animation-out="fadeOut"
              data-position="right">
                <a id="publicationsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Publications 
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- videos - Mega Menu -->
                <div class="hs-mega-menu w-100 u-header__sub-menu u-header__mega-menu-wrapper-v1 animated hs-position-right fadeOut" aria-labelledby="publicationsMegaMenu">
                  <div class="row">

                     <div class="col-sm-6 col-lg-3 mb-12 mb-lg-0">
                        <strong class="d-block mb-2">Medium</strong>

                           <!-- Links -->
                           <ul class="list-unstyled u-list">
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/@triforcetokens">TriForce Tokens Medium Channel</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/@triforcetokens/dynamic-advertising-the-future-is-here-6273074b7446">Dynamic Advertisement</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/@triforcetokens/raidparty-mobile-beta-now-live-d172462944f">RaidParty Mobile Launch</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/triforcetokens/global-partners-on-board-as-triforce-tokens-sails-past-soft-cap-selling-over-7-2m-tokens-worldwide-2527525dc3cc">Presale Results</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/triforcetokens/gaming-legend-danny-montaner-joins-triforce-2ab5ec31619a">Gaming Legend, Danny Montaner Joins</a></li>
                           </ul>
                           <!-- End Links -->
                        </div>

                     
                       <div class="col-sm-6 col-lg-3 mb-12 mb-lg-0">
                         <strong class="d-block mb-2">Blockchain Related</strong>

                         <!-- Links -->
                         <ul class="list-unstyled u-list">
                           <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/triforcetokens/beating-the-blockchain-bs-a7d852b49da6">Beating the Blockchain BS</a></li>
                           <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://blog.icoalert.com/ico-alert-report-triforce-d24e2314a841">ICO Alert Report</a></li>
                           <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://www.prnewswire.com/news-releases/how-triforce-tokens--busca-todo-plan-to-grow-the-gaming-industry-with-blockchain-in-latin-america-300603012.html">Partnership Announcement</a></li>
                           <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://www.coinspeaker.com/2018/05/02/triforce-tokens-launches-beta-mobile-moba-game-wargate-raidparty-app-50-eth-free-force-tokens-grabs/">Coinspeaker Publication</a></li>
                           <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://icobench.com/ico/triforce-tokens">Coinspeaker Publication</a></li>
                         </ul>
                         <!-- End Links -->
                       </div>


                       <div class="col-sm-6 col-lg-3 mb-12 mb-lg-0">
                         <strong class="d-block mb-2">Gaming</strong>

                         <!-- Links -->
                         <ul class="list-unstyled u-list">
                           <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://medium.com/@triforcetokens/update-game-releases-b380b10d9f40">Game Releases</a></li>
                         </ul>
                         <!-- End Links -->
                       </div>


                       <div class="col-sm-6 col-lg-3 mb-12 mb-lg-0">
                         <strong class="d-block mb-2">Partners</strong>

                           <!-- Links -->
                           <ul class="list-unstyled u-list">
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://www.youtube.com/watch?v=5w77Td3flzs">LevelUp Announcement Video</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="http://www.levelup.com/buscar/all?q=triforce+tokens">LevelUp Articles</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://bitcoinprbuzz.com/?s=triforce">Bitcoin PR Buzz Press Releases</a></li>
                              <li><a target="_blank" class="nav-link u-list__link py-2 px-0" href="https://www.techracers.com/smart-contract-security-audit-triforce">TechRacers Smart Contract Audit</a></li>
                           </ul>
                           <!-- End Links -->
                        </div>

                     </div>
                   </div>
                   <!-- End Works - Mega Menu -->
                 </li>
                 <!-- End Works -->


              <!-- Button -->
              <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="/studio-signup" target="_blank">
                  Join The Community
                </a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>