<nav class="navbar navbar-default navbar-static-top navbar-fixed-top scrollable-nav">

	<div class="container navbar-center">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only"><%= __("Toggle navigation") %></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-links">
				<li><a target="_BLANK" href="/"><span>-</span>&nbsp; <%= __("homepage") %></a></li>
				<li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language fa-1x" aria-hidden="true"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
						<li><a href="?locale=en">english</a></li>
						<li><a href="?locale=ru">russian</a></li>
						<li><a href="?locale=es">spanish</a></li>
						<li><a href="?locale=pt">portuguese</a></li>
                        <li><a href="?locale=ja">japanese</a></li>
                        <li><a href="?locale=zh">chinese</a></li>
                        <li><a href="?locale=ko">korean</a></li>
						<li><a href="?locale=de">deutsch</a></li>
                        <li><a href="?locale=fr">francais</a></li>
                    </ul>
                </li>
			</ul>
		</div>

	</div>
</nav>
