<%- partial('../public/partials/header.ejs') %>


<main id="content" role="main">
    
	<%- partial('./partials/sub-header.ejs') %> 

	<div class="u-bg-light-blue-50">
      <div class="container u-space-2">

      	<div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
	        <span class="u-label u-label--sm u-label--primary mb-2">Token Sale</span>
	        <h2 class="h3 font-weight-normal">Our public token sale is currently closed</h2>

	        <p>We will be opening our final public token sale on <strong>8th October 2018 at 12:00pm UTC</strong>.</p>
	        <p>Check back on that date to purchase FORCE with a bonus.</p>

	        <br />

	        <h4>Want to enter the private sale?</h4>
	        <p>Our private sale is now open to accredited investors.</p>
	        <p>Please contact the company CEO Pete Mardell at <a href="mailto:pete@triforcetokens.io">pete@triforcetokens.io</a></p>
      	</div>

      </div>
    </div>



</main>


<%- partial('../public/partials/footer.ejs') %>