<%- partial('../public/partials/header.ejs') %>


<main id="content" role="main">
    
	<%- partial('./partials/sub-header.ejs') %>

	<div class="u-bg-light-blue-50">
  		<div class="container u-space-2">
  		<div class="card-deck d-block d-lg-flex mb-6">
		    <div class="col-lg-12 col-md-12 col-sm-12">
		      	<div class="row">

			      		<div class="col-lg-4 col-md-4 col-sm-6">
			      			<h5 class="ml-4 mb-3">Follow us on all our channels</h5>

			      			<div class="card u-info-v2 mb-3">
				              <a class="card-body p-4" href="https://discord.gg/Bnfpqrk">
				                <div class="media align-items-center">
			                		<i class="fab fa-discord rounded-circle mr-3"></i>
				                  	<div class="media-body">
					                    <span class="text-dark">Discord</span>
				                  	</div>
				                </div>
				              </a>
				            </div>


			      			<div class="card u-info-v2 mb-3">
				              <a class="card-body p-4" href="https://twitter.com/TriForceTokens">
				                <div class="media align-items-center">
			                		<i class="fab fa-twitter rounded-circle mr-3"></i>
				                  	<div class="media-body">
					                    <span class="text-dark">Twitter</span>
				                  	</div>
				                </div>
				              </a>
				            </div>

				            <div class="card u-info-v2 mb-3">
				              <a class="card-body p-4" href="https://facebook.com/TriForceTokens">
				                <div class="media align-items-center">
			                		<i class="fab fa-facebook rounded-circle mr-3"></i>
				                  	<div class="media-body">
					                    <span class="text-dark">Facebook</span>
				                  	</div>
				                </div>
				              </a>
				            </div>


				            <div class="card u-info-v2 mb-3">
				              <a class="card-body p-4" href="https://medium.com/@triforcetokens">
				                <div class="media align-items-center">
			                		<i class="fab fa-medium rounded-circle mr-3"></i>
				                  	<div class="media-body">
					                    <span class="text-dark">Medium</span>
				                  	</div>
				                </div>
				              </a>
				            </div>


				            <div class="card u-info-v2 mb-3">
				              <a class="card-body p-4" href="https://github.com/TriForceNetwork">
				                <div class="media align-items-center">
			                		<i class="fab fa-github rounded-circle mr-3"></i>
				                  	<div class="media-body">
					                    <span class="text-dark">GitHub</span>
				                  	</div>
				                </div>
				              </a>
				            </div>


				            <div class="card u-info-v2 mb-3">
				              <a class="card-body p-4" href="https://www.youtube.com/triforcetokens">
				                <div class="media align-items-center">
			                		<i class="fab fa-youtube rounded-circle mr-3"></i>
				                  	<div class="media-body">
					                    <span class="text-dark">YouTube</span>
				                  	</div>
				                </div>
				              </a>
				            </div>

				            <div class="card u-info-v2 mb-3">

				            	<div class="img-fluid text-center mt-2">
					            	<iframe src="https://www.youtube.com/embed/vNSnWaWLBsA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					            	<p>Dynamic Advertisement on blockchain</p>
					            </div>
					            
					            <div class="img-fluid text-center mt-2">
					            	<iframe src="https://www.youtube.com/embed/oxsmBIGr3nY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					            	<p>Company CEO, Pete Mardell</p>
					            </div>

					            <div class="img-fluid text-center mt-2">
					            	<iframe src="https://www.youtube.com/embed/Ap0p517EcyY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					            	<p>Company CEO, Pete Mardell</p>
					            </div>

					        </div>


			      		</div>

			      		<div class="col-lg-4 col-md-4 col-sm-6 card">
		      			    <br />
			      			<h4>Latest Articles</h4>
			      			<hr />
		      			    <div id="mediumJsonContent"></div>
			      		</div>

			      		<div class="col-lg-4 col-md-4 col-sm-6 card">
			      			<br />
			      			<h4>Twitter Feed</h4>
			      			<hr />
			      			<a class="twitter-timeline" data-height="1400" href="https://twitter.com/TriForceTokens?ref_src=twsrc%5Etfw">Tweets by TriForceTokens</a>
							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			      		</div>

		      		</div>

		      	</div>
	      	</div>
		</div>
	</div>


</main>


<%- partial('../public/partials/footer.ejs') %>