<%- partial('./../partials/header.ejs') %>

<header class="padding-top80 white-bg">

    <div class="container white-bg">

        <div class="banner-content text-center animation animated animation-fade-in-down" data-animation="animation-fade-in-down">
            <a href="/"><img src="/images/triforce-tokens-banner-logo-2.png" alt="TriForce Tokens Ltd Logo" /></a>
        </div>

    </div>

</header>

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 class="section-sub-heading margin-top0">congratulations on joining the triforce tokens movement!</h3>
                <div class="padding-top20">
				
					<p>We will keep you informed of updates as we lead up to our next Token Sale on 20th Feb 2018, and beyond.</p>
					<p>In the meantime, please become an advocate by following and sharing our Social Profiles, and joining our Telegram Community:</p>
					
					<div class="row">
						<div class="social-header-links">
							<a href="https://twitter.com/triforcetokens"><img class="social-icon-circle twitter" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Twitter" /></a>
							<a href="https://www.facebook.com/triforcetokens"><img class="social-icon-circle facebook" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Facebook" /></a>
							<a href="https://t.me/triforcetokens"><img class="social-icon-circle telegram" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Telegram" /></a>
							<a href="https://bitcointalk.org/index.php?topic=2222731"><img class="social-icon-circle bitcointalk" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Bitcointalk" /></a>
							<a href="https://medium.com/triforcetokens"><img class="social-icon-circle medium" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Medium" /></a>
							<a href="https://github.com/TriForceNetwork"><img class="social-icon-circle github" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On GitHub" /></a>
							<a href="https://www.linkedin.com/company/11265929/"><img class="social-icon-circle linkedin" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Linkedin" /></a>
							<a href="https://www.youtube.com/channel/UCzXH1e2bclPu8NkuM1yICfg"><img class="social-icon-circle youtube" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On YouTube" /></a>
						</div>
					</div>
					
					<br />
					
					
					<div class="row team-row team">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
							<img class="mem mem-pete" src="/images/icons/blnk-pixl-foricn.png" alt="Pete Mardell" />
							<h3>pete mardell</h3>
							<p><%=__("CEO") %></p>
						</div>
					</div>
				
					
				</div>
            </div>
        </div>
    </div>
</div>

<%- partial('./../partials/footer.ejs') %>