<%- partial('./partials/header.ejs') %>

<main id="content" role="main">

    


    <!-- Description Section -->
    <div class="container u-space-3-top u-space-2-bottom">
      <div class="w-lg-60 mx-auto">

        <div class="mb-5 mt-5">

          <h1>Completing KYC</h1>

          <p>Know Your Customer (commonly referred to as KYC) is a process of performing validation checks against an individual or corporation to assess 
          potential risks of illegal intentions by the individual/corporation, namely that of money-laundering activities.</p>
          <p>Any reputable company aiming to raise funds of significant volume should conduct this to ensure they can engage commercially with
          other business entities and in particular banks.</p>
          <p>We use a very reputable KYC/AML provider, <a target="_BLANK" href="https://www.cynopsis-solutions.com/">Cynopsis Solutions PTE, Singapore</a> who are a RegTech 100 Company. Your data is processed in accordance with the European <a href="/privacy">General Data Protection Regulation policy</a>.</p>

          <h2 class="mt-6 mb-6">How to complete our KYC process</h2>

          <h4>Step 1 - Enter Personal Data</h4>
          <p>Once you have <a href="/contributor-signup">created an account</a> you will be taken to the KYC process page in your account.</p>
          <p>You will then need to enter personal information; full name, age, date of birth, nationality and country of residency.</p>
          <p><strong>It is critical that you enter the same information as is specified in your personal identification document used in step 3.</strong></p>
          <img class="img-fluid" src="/images/kyc/kyc-step-1.png" alt="KYC Step 1" />

          <h4 class="mt-6 mb-6">Step 2 - Enter Ether Wallet Address</h4>
          <p>We then need to take your ERC-20 compatible ether wallet address. They are typically in the following format: 0x123f681646d4a755815f9cb19e1acc8565a0c2ac</p>
          <p>Please ensure that you are able to receive ERC-20 tokens and that you own the private key for the wallet. ERC-20 wallet examples you can use, can be found on
          the following link: <a href="https://tokenmarket.net/what-is/ethereum-token-wallets/">https://tokenmarket.net/what-is/ethereum-token-wallets/</a> </p>
          <img class="img-fluid" src="/images/kyc/kyc-step-2.png" alt="KYC Step 2" />

          <h4 class="mt-6 mb-6">Step 3 - Upload Personal Documentation and Selfie</h4>
          <p>The final step is to upload one of the following types of document:</p>
          <ul>
            <li>Passport</li>
            <li>Government Issued ID</li>
            <li>Drivers Licence</li>
          </ul>

          <img class="img-fluid" src="/images/kyc/kyc-step-3.png" alt="KYC Step 3" />

          <p><strong>Make sure all your images are:</strong></p>
          <ul>
            <li>In .png, .gif, .jpg or .jpeg format only</li>
            <li>Less than 1MB in size (<a target="_BLANK" href="https://www.reduceimages.com/">You can use this image file size reducer tool</a>)</li>
            <li>Clearly visible</li>
            <li>Full colour</li>
            <li>Text fully legible</li>
          </ul>

          <p>The image should be clear with all text visable, as in the following example:</p>

          <img class="img-fluid" src="/images/kyc/passport-example.jpg" alt="Passport Example" />

          <p>The final part is to then upload a selfie picture of your face as in the example below:</p>

          <div class="text-center">
            <img class="img-fluid text-center" src="/images/kyc/selfie-example.jpg" alt="Selfie Example" />
          </div>
          <br />

          <p>If you are having difficulties <a href="/contact">please get in touch</a>.</p>

        </div>

        

      </div>

      <hr class="my-7">

        <!-- Social Networks -->
        <ul class="list-inline text-center mb-0">
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://www.facebook.com/triforcetokens">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://discord.gg/Bnfpqrk">
              <span class="fab fa-discord u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="http://twitter.com/triforcetokens">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://medium.com/@ForceProtocol">
              <span class="fab fa-medium u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://www.youtube.com/triforcetokens">
              <span class="fab fa-youtube u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://github.com/TriForceNetwork">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://web.telegram.org/#/im?p=@TriForceTokens">
              <span class="fab fa-telegram-plane u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->

    </div>
    <!-- End Description Section -->

    
<% /*
    <!-- Testimonials Section -->
    <div class="position-relative u-gradient-half-primary-v1">
      <div class="container u-space-3">
        <!-- Testimonials -->
        <div class="text-center">
          <div class="mb-4">
            <img class="img-fluid rounded-circle u-md-avatar mx-auto" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
          </div>
          <div class="w-md-80 w-lg-50 text-center mx-auto mb-7">
            <blockquote class="h4 text-white font-weight-light mb-0"></blockquote>
          </div>
          <h4 class="h5 text-warning mb-0">Maria Muszynska</h4>
        </div>
        <!-- End Testimonials -->
      </div>

      <!-- SVG Quote -->
      <figure class="w-25 position-absolute-top-0 left-15x">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
          <path class="u-fill-white" opacity=".075" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
            C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
            c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
            C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
        </svg>
      </figure>
      <!-- End SVG Quote -->

      <!-- SVG Background -->
      <figure class="position-absolute-bottom-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
          <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
          <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
          <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z"></path>
          <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
        </svg>
      </figure>
      <!-- End SVG Background Section -->
    </div>
    <!-- End Testimonials Section -->
*/ %>
   

    <div class="container u-space-2-top">
      <div class="row">
        <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0 u-space-1-bottom">
          <!-- Contacts Info -->
          <div class="media pr-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fa fa-envelope u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Can't find your answer?</h3>
              <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
              <a class="font-size-14" href="/contact">Contact us <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-lg-6">
          <!-- Contacts Info -->
          <div class="media pl-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fab fa-discord u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Technical questions</h3>
              <p class="mb-1">Have some technical questions? Reach out to us on Discord.</p>
              <a class="font-size-14" href="https://discord.gg/Bnfpqrk">Discord Server <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>

      <hr class="my-0">

  </main>

<%- partial('./partials/footer.ejs') %>