<%- partial('./partials/header.ejs') %>

<header class="padding-top80 white-bg">

    <div class="container white-bg">

        <div class="banner-content text-center animation animated animation-fade-in-down" data-animation="animation-fade-in-down">
            <a href="/"><img src="/images/triforce-tokens-banner-logo-2.png" alt="TriForce Tokens Ltd Logo" /></a>
        </div>

    </div>

</header>

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 class="section-sub-heading margin-top0">important documents</h3>
				
                <div class="text-justify padding-top20">
				
					<div class="document-download-links">
						<h4 class="category-heading strong-heading-gold">token sale</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/terms-of-token-sale"><i class="fa fa-download"></i> legal terms of token sale</a></p>
							<p class="sub-info">The legal terms you should read carefully and agree to prior to contributing</p>
						</div>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://github.com/TriForceNetwork/TriForceTokens-WhitePaper/blob/master/Securities%20Law%20Framework%20for%20Blockchain%20Tokens.pdf"><i class="fa fa-download"></i> howey test result - securities law framework guide</a></p>
							<p class="sub-info">We have achieved a positive overall risk score of 0 on the howey test, which means our token would likely not to be considered a security.</p>
						</div>
						
					</div>
					
					
					<div class="document-download-links">
					
						<h4 class="category-heading strong-heading-gold">project papers</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/resources/white-paper-v3.3.pdf"><i class="fa fa-download"></i> white paper</a></p>
							<p class="sub-info">An in-depth overview of the complete project</p>
						</div>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/documents"><i class="fa fa-download"></i> pitch deck</a></p>
							<p class="sub-info">A light hearted document about the project</p>
						</div>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/documents"><i class="fa fa-download"></i> one pager</a></p>
							<p class="sub-info">A handy quick summary sheet on the core principles of the project</p>
						</div>
						
					</div>
					
					
					<div class="document-download-links">
						<h4 class="category-heading strong-heading-gold">github codebases</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://github.com/TriForceNetwork"><i class="fa fa-download"></i> team account</a></p>
							<p class="sub-info">Access to the teams public GitHub account.</p>
						</div>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://github.com/TriForceNetwork/TokenSaleContracts"><i class="fa fa-download"></i> our erc-223 smart contracts</a></p>
							<p class="sub-info">Get your technical audit team to review our ERC-223 standard Smart Contracts.</p>
						</div>
						
					</div>
					
					
					<div class="document-download-links">
						<h4 class="category-heading strong-heading-gold">wallet guides</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://docs.google.com/document/d/1BriLzrcOOloLyUcqeUr0ZpZhGXkYJc3OejKh99Tzfew/edit?usp=sharing"><i class="fa fa-download"></i> myetherwallet guide</a></p>
							<p class="sub-info">A useful guide for using the MEW offline wallet for storing your erc-20 compliant tokens - including FORCE tokens.</p>
						</div>
						
					</div>
					
					
					<div class="document-download-links">
						<h4 class="category-heading strong-heading-gold">general documents</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/privacy"><i class="fa fa-download"></i> privacy policy</a></p>
							<p class="sub-info">How your private information is handled while engaging with this website and related services</p>
						</div>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/resources/newzoo-2016-global-games-report.pdf"><i class="fa fa-download"></i> games industry research report</a></p>
							<p class="sub-info">A very thorough report compiled by <a href="https://newzoo.com/">newzoo games</a></p>
						</div>
						
					</div>
				
				
				</div>
            </div>
        </div>
    </div>
</div>

<%- partial('./partials/footer.ejs') %>