<%- partial('./partials/header.ejs') %>

<main id="content" role="main">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 u-space-4-top u-space-1-bottom">
                <h3 class="section-sub-heading margin-top0">Documents</h3>
				
                <div class="text-justify">
				
					<div class="document-download-links u-space-1-top">
						<h4 class="category-heading strong-heading-gold mb-3">Legal</h4>
						
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/terms-of-use"><i class="fa fa-download"></i> Use of Website</a></p>
							<p class="sub-info">The legal terms you should read carefully and agree to prior to using this website</p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a href="/privacy"><i class="fa fa-download"></i> Privacy Policy</a></p>
							<p class="sub-info">How your private information is handled while engaging with this website and related services</p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a href="/token-sale-legal"><i class="fa fa-download"></i> Token Sale Disclosures and Agreement</a></p>
							<p class="sub-info">The legal terms you should read carefully and agree to prior to buying FORCE cryptocurrency</p>
						</div>
						
					</div>
					
					
					<div class="document-download-links u-space-1-top">
					
						<h4 class="category-heading strong-heading-gold mb-3">Project Details</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/resources/general-whitepaper-v2.1.pdf"><i class="fa fa-download"></i> General White Paper</a></p>
							<p class="sub-info">An in-depth overview of the complete project</p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a href="/resources/tokenomic-whitepaper-v1.1.pdf"><i class="fa fa-download"></i> Tokenomic White Paper</a></p>
							<p class="sub-info">Economic mechanisms and factors that drive the project ecosystem.</p>
						</div>

						
					</div>
					
					
					<div class="document-download-links u-space-1-top">
						<h4 class="category-heading strong-heading-gold mb-3">Technical</h4>
						

						<div class="document-link">
							<p class="strong-heading-gold"><a target="_BLANK" href="https://triforce.gitbook.io/docs/home"><i class="fa fa-download"></i> Technical White Paper</a></p>
							<p class="sub-info">Our interactive technical whitepaper covers our technology strategy to provide our services.</p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://github.com/TriForceNetwork"><i class="fa fa-download"></i> Team GitHub</a></p>
							<p class="sub-info">Access to the teams public GitHub account.</p>
						</div>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://github.com/TriForceNetwork/TokenSaleContracts"><i class="fa fa-download"></i> ERC-20 Smart Contracts</a></p>
							<p class="sub-info">Review our ERC-223 standard smart contract for the token sale.</p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a target="_BLANK" href="https://www.techracers.com/smart-contract-security-audit-triforce"><i class="fa fa-download"></i> Smart Contract Audit</a></p>
							<p class="sub-info">Techracers audit report of our ERC-223 smart contract.</p>
						</div>
						
					</div>
					
					
					
					<div class="document-download-links u-space-1">
						<h4 class="category-heading strong-heading-gold mb-3">Other Resources</h4>
						
						<div class="document-link">
							<p class="strong-heading-gold"><a href="/resources/newzoo-2016-global-games-report.pdf"><i class="fa fa-download"></i> Games Industry Research report</a></p>
							<p class="sub-info">A very thorough report compiled by <a href="https://newzoo.com/">newzoo games</a></p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a href="https://tokenmarket.net/what-is/ethereum-token-wallets/"><i class="fa fa-download"></i> ERC-20 Compatible Wallet List</a></p>
							<p class="sub-info">A useful guide for storing your ERC-20 compliant tokens - including FORCE tokens.</p>
						</div>

						<div class="document-link">
							<p class="strong-heading-gold"><a href="/resources/howey-test-result.pdf"><i class="fa fa-download"></i> Howey Test Result</a></p>
							<p class="sub-info">We have achieved a positive overall risk score of 0 on the howey test, which means our token would likely not to be considered a security.</p>
						</div>
						
					</div>
				
				
				</div>
            </div>
        </div>
    </div>

	<div class="container">
      <div class="row">
        <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0 u-space-1-bottom">
          <!-- Contacts Info -->
          <div class="media pr-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fa fa-envelope u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Can't find your answer?</h3>
              <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
              <a class="font-size-14" href="/contact">Contact us <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-lg-6">
          <!-- Contacts Info -->
          <div class="media pl-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fab fa-discord u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Technical questions</h3>
              <p class="mb-1">Have some technical questions? Reach out to us on Discord.</p>
              <a class="font-size-14" href="https://discord.gg/Bnfpqrk">Discord Server <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>

      <hr class="my-0">
    </div>



</main>

<%- partial('./partials/footer.ejs') %>