<%- partial('./partials/header.ejs') %>

<header class="padding-top80 faq-bg">

    <div class="container">
	
		<div class="row">
			<div class="banner-logo-white-top-left">
				<a href="/"><img src="/images/banner-logo-white.svg" alt="TriForce Tokens Ltd Logo" /></a>
			</div>
		</div>
		
		<div class="row">
			<div class="text-center faq-banner">
				<h1>what would you like to know?</h1>
				
				<div class="form-group col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
					<select class="form-control input-lg">
						<option>--- Please select a topic ---</option>
						<option>The project</option>
						<option>The token sale</option>
						<option>The team</option>
					</select>
				</div>
			</div>
		</div>
			
		
    </div>

</header>

<div class="section">

    <div class="container text-left faq-topics">
	
	
		<div class="alert alert-info">
			<p><strong>Contributing more than 25Eth?</strong> Reach out to someone on our team who will hapily answer your questions.</p>
		</div>
	
	
		<div class="row topic">
		
			<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
				<h2>Why join TriForce Tokens?</h2>
				<p>General information about the project.</p>
			</div>
			
			<div class="col-lg-7 col-md-7 col-sm-6">
			
				<ul class="faq-questions-list">
					<li><a href="">What is TriForce Tokens?</a></li>
					<li><a href="">What is TriForce Tokens?</a></li>
				</ul>
				
			</div>
			
		</div>
		
		
		<div class="row topic">
		
			<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
				<h2>Token Sale</h2>
				<p>All related questions about our public token sale events.</p>
			</div>
			
			<div class="col-lg-7 col-md-7 col-sm-6">
			
				<ul class="faq-questions-list">
					<li><a href="">Can US investors join?</a></li>
					<li><a href="">What is TriForce Tokens?</a></li>
				</ul>
				
			</div>
			
		</div>
		
		
		<div class="row topic">
		
			<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
				<h2>The Technology</h2>
				<p>Deep dive into the technology that makes our project awesome.</p>
			</div>
			
			<div class="col-lg-7 col-md-7 col-sm-6">
			
				<ul class="faq-questions-list">
					<li><a href="">What is TriForce Tokens?</a></li>
					<li><a href="">What is TriForce Tokens?</a></li>
				</ul>
				
			</div>
			
		</div>
		
		
		<div class="row topic">
		
			<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
				<h2>The Team</h2>
				<p>Discover more about the team and organisation.</p>
			</div>
			
			<div class="col-lg-7 col-md-7 col-sm-6">
			
				<ul class="faq-questions-list">
					<li><a href="">What is TriForce Tokens?</a></li>
					<li><a href="">What is TriForce Tokens?</a></li>
				</ul>
				
			</div>
			
		</div>
		
		
		
		<div class="row topic">
		
			<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
				<h2>Legal</h2>
				<p>What</p>
			</div>
			
			<div class="col-lg-7 col-md-7 col-sm-6">
			
				<ul class="faq-questions-list">
					<li><a href="">What is TriForce Tokens?</a></li>
					<li><a href="">What is TriForce Tokens?</a></li>
				</ul>
				
			</div>
			
		</div>
		
		
	
    </div>
	
</div>

<%- partial('./partials/footer.ejs') %>