<%- partial('./partials/header.ejs') %>

<main id="content" role="main">
	<div class="container u-space-4-top u-space-3-bottom">
      <div class="row">
        <div id="stickyBlockStartPoint" class="col-lg-3 mb-9 mb-lg-0">
          <!-- Nav -->
          <nav class="js-sticky-block bg-primary shadow-primary-sm rounded" data-has-sticky-header="true" data-offset-target="#logoAndNav" data-sticky-view="lg" data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="24" data-offset-bottom="24" style="z-index: 1; top: 96px; width: 255px; height: 228px;">
            <ul id="scrollNav" class="list-unstyled u-list u-list--white py-3 px-5">
              <li class="py-2 active">
                <a class="d-block u-list__link" href="#services">Services</a>
              </li>
              <li class="py-2">
                <a class="d-block u-list__link" href="#technology">Technology</a>
              </li>
              <li class="py-2">
                <a class="d-block u-list__link" href="#tokenSale">Token Sale</a>
              </li>
              <li class="py-2">
                <a class="d-block u-list__link" href="#account">Account</a>
              </li>
            </ul>
          </nav>
          <!-- End Nav -->
        </div>

        <div class="col-lg-9">
          <div id="services" class="u-space-2-bottom active">
            <!-- Title -->
            <div class="mb-3">
              <h3 class="text-primary font-weight-bold">Services</h3>
            </div>
            <!-- End Title -->

            <!-- Services Accordion -->
            <div id="servicesAccordion">
              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="servicesHeadingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3" data-toggle="collapse" data-target="#servicesCollapseOne" aria-expanded="true" aria-controls="servicesCollapseOne">
                      When will I hear back from you?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="servicesCollapseOne" class="collapse show" aria-labelledby="servicesHeadingOne" data-parent="#servicesAccordion">
                  <div class="card-body u-card-body">
                    If you have submitted a contact request or game, please allow our team time to get back to you.<br />
                    Our main office is based in the UK, open between 8:00am GMT to 6:00pm GMT.<br />
                    We aim to respond to all requests within 2 working days.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="servicesHeadingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#servicesCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                      How much do you charge?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="servicesCollapseTwo" class="collapse" aria-labelledby="servicesHeadingTwo" data-parent="#servicesAccordion">
                  <div class="card-body u-card-body">
                    We do not charge any up-front fees. Based on an assessment of your game and requirements, we will come to an agreement on
                    a fair revenue share.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="servicesHeadingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#servicesCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
                      What revenue split do you expect?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="servicesCollapseThree" class="collapse" aria-labelledby="servicesHeadingThree" data-parent="#servicesAccordion">
                  <div class="card-body u-card-body">
                    Each game is different and so establishing a fair revenue split is done on a case-by-case basis.<br />
                    The best thing to do is <a href="/contact">speak with our team</a> to discuss your objectives.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="servicesHeadingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#servicesCollapseFour" aria-expanded="false" aria-controls="servicesCollapseFour">
                      How many players will you send to my game?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="servicesCollapseFour" class="collapse" aria-labelledby="servicesHeadingFour" data-parent="#servicesAccordion">
                  <div class="card-body u-card-body">
                    This is a difficult question to answer and no company can give you any guarantees on this. Each game is different, but we can assure you we will achieve maximum exposure of your game through
                    our partners and network.
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="servicesHeadingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#servicesCollapseFive" aria-expanded="false" aria-controls="servicesCollapseFive">
                      Do you work with independent developers?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="servicesCollapseFive" class="collapse" aria-labelledby="servicesHeadingFive" data-parent="#servicesAccordion">
                  <div class="card-body u-card-body">
                  	We work with sole developers or studios of any size. It all depends on what stage your game is at and what you are looking to achieve.
                  	<a href="/contact">Get in touch</a> with us if you're not sure .
                  </div>
                </div>
              </div>
              <!-- End Card -->



            </div>
            <!-- End Basics Accordion -->
          </div>



          <hr class="my-0">



          <div id="technology" class="u-space-2 active">
            <!-- Title -->
            <div class="mb-3">
              <h3 class="text-primary font-weight-bold">Technology</h3>
            </div>
            <!-- End Title -->

            <!-- Syncing Accordion -->
            <div id="technologyAccordion">
              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="technologyHeadingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3" data-toggle="collapse" data-target="#technologyCollapseOne" aria-expanded="false" aria-controls="technologyCollapseOne">
                		What game engines do you work with?
	                  <span class="u-card-btn__arrow">
	                    <span class="fa fa-arrow-down small"></span>
	                  </span>
                    </button>
                  </h5>
                </div>
                <div id="technologyCollapseOne" class="collapse show" aria-labelledby="technologyHeadingOne" data-parent="#technologyAccordion">
                  <div class="card-body u-card-body">
                  	Our technology is able to integrate with; Unity3D, Unreal Engine, Phaser.js and even custom frameworks/engines. We have full API documentation
                  	for your developers to work with.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="technologyHeadingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#technologyCollapseTwo" aria-expanded="false" aria-controls="technologyCollapseTwo">
                    	How long does integration take?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="technologyCollapseTwo" class="collapse" aria-labelledby="technologyHeadingTwo" data-parent="#technologyAccordion">
                  <div class="card-body u-card-body">
                  	This really depends on what we want to achieve and which parts of our technology you want to integrate with.<br />
                  	As a rough guide however, our player reward and dynamic advertisement development kits will take less than a few hours.<br />
                  	We have comprehensive guides that walk your developers through the process step by step.
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="technologyHeadingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#technologyCollapseThree" aria-expanded="false" aria-controls="technologyCollapseThree">
                    	Where is your technical documentation?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="technologyCollapseThree" class="collapse" aria-labelledby="technologyHeadingThree" data-parent="#technologyAccordion">
                  <div class="card-body u-card-body">
                  	<a href="/contact">Speak with us</a> directly and we can provide you with full documentation.
                  </div>
                </div>
              </div>
              <!-- End Card -->

            </div>
            <!-- End Technology Accordion -->
          </div>



          <hr class="my-0">



          <div id="tokenSale" class="u-space-2">
            <!-- Title -->
            <div class="mb-3">
              <h3 class="text-primary font-weight-bold">Token Sale</h3>
            </div>
            <!-- End Title -->

            <!-- tokenSale Accordion -->
            <div id="tokenSaleAccordion">
              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3" data-toggle="collapse" data-target="#tokenSaleCollapseOne" aria-expanded="false" aria-controls="tokenSaleCollapseOne">
                      How can I buy your cryptocurrency?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseOne" class="collapse show" aria-labelledby="tokenSaleHeadingOne" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  	Check out our <a href="/token-sale">token sale</a> page.
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseTwo" aria-expanded="false" aria-controls="tokenSaleCollapseTwo">
                    	What makes your cryptocurrency so special?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseTwo" class="collapse" aria-labelledby="tokenSaleHeadingTwo" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  	<p>We get it. The number of new cryptocurrencies released grows day by day.</p>
                  	<p>So what makes ours different?</p>
                  	<p>First, many projects aren't even trying to achieve real world utilisation. They have been built specifically for speculation purposes, even though they communicate the opposite.</p>
                  	<p>This is what seperates us. Our token is being engineered to flow through our entire technology infrustructure providing users with 
                  	access to certain functionality, specific uses such as player rewards, advert placement tracking and for gamers to acquire new digital assets and merchandise.</p>
                  	<p><a href="/our-story">Our vision</a> has always been to have a universal gaming currency that communities use to have a fast, trustless way of engaging in transaction activities.<br />
                  	<p>But we aren't just 'claiming' this is what we do or want to achieve. We have delivered on part of this already with our <a href="/raidparty">player reward</a> technology and marketplace. With real integration to games, not simply through third party API's.</p>
                  	<p>Our main activity now is to engineer our <a href="/force-blockchain">own blockchain</a> to provide the exact specific functionality needed to achieve significant real world adoption.</p>
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseSix" aria-expanded="false" aria-controls="tokenSaleCollapseSix">
                      What makes your project and team so special?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseSix" class="collapse" aria-labelledby="tokenSaleHeadingSix" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  	<p>We have a real passion for both the cryptocurrency and games industries. We are laying the foundations to provide a 
                  	better economy for every party in the industry with ambitious growth plans.</p>
                  	<p><strong>We recommend reading our full <a href="https://medium.com/@triforcetokens/evaluating-triforce-tokens-for-investment-part-1-of-2-46c61db168a7">evaluation series</a> articles to get the full picture.</strong></p>
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseThree" aria-expanded="false" aria-controls="tokenSaleCollapseThree">
                      What is your token supply?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseThree" class="collapse" aria-labelledby="tokenSaleHeadingThree" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  	Our token supply will be fixed at 200,000,000.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseFour" aria-expanded="false" aria-controls="tokenSaleCollapseFour">
                      What is your currency symbol?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseFour" class="collapse" aria-labelledby="tokenSaleHeadingFour" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  FORCE
                  </div>
                </div>
              </div>
              <!-- End Card -->



              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseFive" aria-expanded="false" aria-controls="tokenSaleCollapseFive">
                      Is your cryptocurrency a coin or token?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseFive" class="collapse" aria-labelledby="tokenSaleHeadingFive" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  At the moment our cryptocurrency is an ERC-20 token. However our team are currently <a href="/force-blockchain">building our own blockchain</a> and will
                  be migrating all token holders across for a 1-to-1 swap to the native coin.
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingSeven">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseSeven" aria-expanded="false" aria-controls="tokenSaleCollapseSeven">
                      What supply will be publicly available?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseSeven" class="collapse" aria-labelledby="tokenSaleHeadingSeven" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  	The total available supply outside of our team, advisors and bounty supporters will be 75&percnt;
                  </div>
                </div>
              </div>
              <!-- End Card -->



              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="tokenSaleHeadingEight">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3" data-toggle="collapse" data-target="#tokenSaleCollapseEight" aria-expanded="false" aria-controls="tokenSaleCollapseEight">
                      Are you listed on an exchange?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="tokenSaleCollapseEight" class="collapse" aria-labelledby="tokenSaleHeadingEight" data-parent="#tokenSaleAccordion">
                  <div class="card-body u-card-body">
                  	<p>We are not currently listed on any cryptocurrency exchanges, due to our final token sale having not been completed.</p>
                  	<p><strong>We have been approved by 3 exchanges with one being in the top ten.</strong></p>
                  </div>
                </div>
              </div>
              <!-- End Card -->



            </div>
            <!-- End Token Sale Accordion -->
          </div>



          <hr class="my-0">



          <div id="account" class="u-space-2-top">
            <!-- Title -->
            <div class="mb-3">
              <h3 class="text-primary font-weight-bold">Account</h3>
            </div>
            <!-- End Title -->

            <!-- Account Accordion -->
            <div id="accountAccordion">
              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="accountHeadingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3" data-toggle="collapse" data-target="#accountCollapseOne" aria-expanded="false" aria-controls="accountCollapseOne">
                    	How do I login to my token owner account?

                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="accountCollapseOne" class="collapse show" aria-labelledby="accountHeadingOne" data-parent="#accountAccordion">
                  <div class="card-body u-card-body">
                  	<a href="/contributor-login">Account Login &raquo;</a>
                  </div>
                </div>
              </div>
              <!-- End Card -->


              <!-- Card -->
              <div class="card mb-3">
                <div class="card-header u-card-header" id="accountHeadingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3" data-toggle="collapse" data-target="#accountCollapseTwo" aria-expanded="false" aria-controls="accountCollapseTwo">
                    	I've forgotten my password
                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="accountCollapseTwo" class="collapse" aria-labelledby="accountHeadingTwo" data-parent="#accountAccordion">
                  <div class="card-body u-card-body">
                  	<a href="/forgot-password">Reset password &raquo;</a>
                  </div>
                </div>
              </div>
              <!-- End Card -->




            </div>
            <!-- End Privacy Accordion -->
          </div>
        </div>
      </div>

     <div id="stickyBlockEndPoint"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0 u-space-1-bottom">
          <!-- Contacts Info -->
          <div class="media pr-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fa fa-envelope u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Can't find your answer?</h3>
              <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
              <a class="font-size-14" href="/contact">Contact us <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-lg-6">
          <!-- Contacts Info -->
          <div class="media pl-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fab fa-discord u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Technical questions</h3>
              <p class="mb-1">Have some technical questions? Reach out to us on Discord.</p>
              <a class="font-size-14" href="https://discord.gg/Bnfpqrk">Discord Server <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>

      <hr class="my-0">

  </main>

<%- partial('./partials/footer.ejs') %>