<%- partial('./partials/header.ejs') %>


<main id="content" role="main">

<div class="modal fade alert-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    <div class="alert-message">
      </div>
    </div>
  </div>
</div>

   <div class="d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-90vh--lg">
       <!-- Content -->
       <div class="container">
         <div class="row">
           <div class="col-lg-5">

           
             <div class="g-mb-32">
               <h1 class="display-4 font-size-48--md-down mb-3">Launch Your Game Successfully</h1>
               <p>Real technology innovation to help <span class="text-primary">
                   <strong class="header-typed-text"></strong>
                 </span> launch in a crowded market</p>
             </div>

             <div class="d-flex align-items-center">
               <a class="btn u-btn-primary--air u-btn-wide transition-3d-hover" href="/studio-signup">Get Started</a>

               <!-- Fancybox -->
               <a class="js-fancybox media align-items-center u-media-player ml-3" href="javascript:;" 
               data-src="https://youtu.be/gpAz4SEjfoo" 
               data-speed="200" 
               data-animate-in="zoomIn" 
               data-animate-out="zoomOut"
               data-caption="TriForce Tokens Vision">
                 <span class="d-flex mr-3">
                   <span class="u-media-player__icon u-media-player__icon--success">
                     <span class="fa fa-play u-media-player__icon-inner"></span>
                   </span>
                 </span>
                 <span class="media-body">
                   Play video
                 </span>
               </a>
               <!-- End Fancybox -->

             </div>

             <br />

              <a target="_blank" href="https://www.the-blocks.com/"><img class="img-responsive" src="/images/theblocks-award-2018.png" alt="" /></a>

           </div>
         </div>
       </div>
       <!-- End Content -->
      </div>


      <div class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute-top-right-0 pr-0" style="margin-top: 105.6px;">
        <figure class="w-100">
           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
             <path class="u-fill-primary" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
               c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
             <g>
               <defs>
                 <path id="heroBlock1" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
                   l449.3-373.4V0z"></path>
               </defs>
               <clipPath id="heroBlock2">
                 <use xlink:href="#heroBlock1" style="overflow:visible;"></use>
               </clipPath>
               <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#heroBlock2);">
                 <!-- Apply your (750px width to 750px height) image here -->
                 <image style="overflow:visible;" width="750" height="750" xlink:href="/images/banner-image-eximius.png" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
               </g>
             </g>
           </svg>
         </figure>
      </div>


      <div class="container u-space-1">

        <h4 class="h4 text-center text-muted mb-3">Game Portfolio</h4>

        <div class="u-cubeportfolio">
          <ul id="gameOptionControls" class="list-inline cbp-l-filters-alignRight text-center">
            <li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item" data-filter="*">All</li>
            <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".pc">PC</li>
            <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".mobile">Mobile</li>
          </ul>

          <div class="cbp"
                data-controls="#gameOptionControls"
                data-animation="quicksand"
                data-x-gap="20"
                data-y-gap="20"
                data-layout="grid"
                data-media-queries='[
                  {"width": 1500, "cols": 3},
                  {"width": 1100, "cols": 3},
                  {"width": 800, "cols": 2}
                ]'>

            <div class="cbp-item rounded pc">
              <a class="cbp-caption" target="_blank" href="https://eximius.raidparty.io?utm_source=triforce&utm_source=website">
                <div class="cbp-caption-defaultWrap">
                  <img src="/images/games/eximius-banner.png" alt="Eximius on PC">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">Eximius: Seize the Frontline</h4>
                      <p class="small u-text-light mb-0">
                        by Ammoxbox Studios
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>


            <div class="cbp-item rounded pc">
              <a class="cbp-caption" target="_blank" href="https://store.steampowered.com/app/658470/Mini_Battlegrounds/">
                <div class="cbp-caption-defaultWrap">
                  <img src="/images/games/mini-battlegrounds-small-square-banner.png" alt="Mini Battlegrounds On PC">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">Mini Battlegrounds</h4>
                      <p class="small u-text-light mb-0">
                        by IOA Games
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            
            <div class="cbp-item rounded mobile">
              <a class="cbp-caption" target="_blank" href="https://play.google.com/store/apps/details?id=com.BWStudios.RacersSquad">
                <div class="cbp-caption-defaultWrap">
                  <img src="/images/games/racers-squad-banner.png" alt="Racers Squad">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">Racers Squad</h4>
                      <p class="small u-text-light mb-0">
                        by BW Studios
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>


            <div class="cbp-item rounded mobile">
              <a class="cbp-caption" target="_blank" href="https://www.wargategame.com/">
                <div class="cbp-caption-defaultWrap">
                  <img src="/images/games/wargate-banner.png" alt="Wargate">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">Wargate</h4>
                      <p class="small u-text-light mb-0">
                        by Space Rhino Games Corp
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>


            <div class="cbp-item rounded pc">
              <a class="cbp-caption" target="_blank" href="https://store.steampowered.com/app/894920/ZKILLER/">
                <div class="cbp-caption-defaultWrap">
                  <img src="/images/games/zkiller-banner.png" alt="ZKiller">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">ZKiller</h4>
                      <p class="small u-text-light mb-0">
                        by Chainsaw Games
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>


            <div class="cbp-item rounded mobile">
              <a class="cbp-caption" target="_blank" href="https://play.google.com/store/apps/details?id=com.thegamewallstudios.twityroads">
                <div class="cbp-caption-defaultWrap">
                  <img src="/images/games/twisty-road-banner.png" alt="Twisty Road">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">Twisty Road</h4>
                      <p class="small u-text-light mb-0">
                        by Silver City Studios
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>


          </div>
        </div>

      </div>



      <div class="container u-space-3">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <div class="pr-md-4">
            <!-- Title -->
            <div class="mb-7">
              <span class="u-label u-label--sm u-label--success mb-2">Distribution</span>
              <h2 class="text-primary">Marketplace <span class="font-weight-bold">distribution</span></h2>
              <p>Focus on making an awesome game and growing your community.</p>
              <p>We are partnered with major marketplaces around the globe with special relationships, able to get 
              premium placement and maximum distribution of your game.</p>
            </div>
            <!-- End Title -->

            <a class="btn btn-sm btn-primary u-btn-primary u-btn-wide transition-3d-hover" href="/marketplace">Find out more <span class="fa fa-angle-right ml-2"></span></a>
          </div>
        </div>

        <div class="col-lg-6 position-relative">

          <!-- Image Gallery -->
          <div class="row mx-gutters-2">
            <div class="col-5 align-self-end px-2 mb-3">
              <!-- Fancybox -->
              <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="/images/marketplaces/green-man-gaming-marketplace-large.png" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #01" data-speed="700">
                <img class="img-fluid rounded" src="/images/marketplaces/green-man-gaming-marketplace.png" alt="Green Man Gaming">

                <span class="u-media-viewer__container">
                  <span class="u-media-viewer__icon">
                    <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                  </span>
                </span>
              </a>
              <!-- End Fancybox -->
            </div>

            <div class="col-7 px-2 mb-3">
              <!-- Fancybox -->
              <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="/images/marketplaces/nuuvem-marketplace-large.png" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #02" data-speed="700">
                <img class="img-fluid rounded" src="/images/marketplaces/nuuvem-marketplace.png" alt="Nuuvem">

                <span class="u-media-viewer__container">
                  <span class="u-media-viewer__icon">
                    <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                  </span>
                </span>
              </a>
              <!-- End Fancybox -->
            </div>

            <div class="col-5 offset-1 px-2 mb-3">
              <!-- Fancybox -->
              <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="/images/marketplaces/raidparty-marketplace-large.png" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #03" data-speed="700">
                <img class="img-fluid rounded" src="/images/marketplaces/raidparty-marketplace.png" alt="RaidParty">

                <span class="u-media-viewer__container">
                  <span class="u-media-viewer__icon">
                    <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                  </span>
                </span>
              </a>
              <!-- End Fancybox -->
            </div>

            <div class="col-5 px-2 mb-3">
              <!-- Fancybox -->
              <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="/images/marketplaces/steam-marketplace-large.png" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #04" data-speed="700">
                <img class="img-fluid rounded" src="/images/marketplaces/steam-marketplace.png" alt="Steam">

                <span class="u-media-viewer__container">
                  <span class="u-media-viewer__icon">
                    <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                  </span>
                </span>
              </a>
              <!-- End Fancybox -->
            </div>
          </div>
          <!-- End Image Gallery -->

          <!-- SVG Background Shape -->
          <figure class="w-100 u-content-centered-y z-index-minus-1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1109.8 797.1" style="enable-background:new 0 0 1109.8 797.1;" xml:space="preserve">
              <path class="u-fill-primary" opacity=".05" d="M105.1,267.1C35.5,331.5-3.5,423,0.3,517.7c5.8,145.3,110.7,314.2,588,273.1c753-64.7,481.3-358.3,440.4-398.3
                c-4-3.9-7.9-7.9-11.7-12L761.9,104.8C639.4-27.6,432.5-35.6,299.9,87L105.1,267.1z"></path>
            </svg>
          </figure>
          <!-- End SVG Background Shape -->
        </div>
      </div>
    </div>



    <div class="container">
      <div class="row justify-content-lg-between align-items-center">
        <div class="col-md-6 col-lg-5 order-md-2 mb-7 mb-md-0">
          <div class="pl-md-4">
            <!-- Info -->
            <div class="media mb-7">
              <div class="d-flex mr-3">
                <span class="u-icon u-icon-success--air u-icon--sm rounded-circle">
                  <span class="u-icon__inner font-weight-bold">A.</span>
                </span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-success">Increase Player Attraction</h3>
                <p>We can drive players directly to your game through our own communities.</p>
              </div>
            </div>
            <!-- End Info -->

            <!-- Info -->
            <div class="media mb-7">
              <div class="d-flex mr-3">
                <span class="u-icon u-icon-success--air u-icon--sm rounded-circle">
                  <span class="u-icon__inner font-weight-bold">B.</span>
                </span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-success">Increase Player Retention</h3>
                <p>We achieved over 214&percnt; increase in player retention for games released under RaidParty.</p>
              </div>
            </div>
            <!-- End Info -->

            <a class="btn btn-success u-btn-success u-btn-wide u-btn-pill transition-3d-hover" href="/raidparty" target="_blank">Find out more <span class="fa fa-angle-right ml-2"></span></a>
          </div>
        </div>

        <div class="col-md-6 order-md-1">
          <!-- SVG Mockup -->
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 614.8 747.7" style="enable-background:new 0 0 614.8 747.7;" xml:space="preserve">
              <path class="u-fill-success" opacity=".05" d="M428.5,138.9C489.6,144.5,545.6,176,581,226c54.3,76.8,67.1,204.7-193.8,371.7c-411.5,263.5-387.9,6-382.7-30.6
                c0.5-3.6,0.9-7.2,1.3-10.7l22.1-241.9c10.6-116.2,113.5-201.8,229.8-191.1L428.5,138.9z"></path>
              <g>
                <defs>
                  <path id="mockup3" d="M446.2,729.7L446.2,729.7C310.4,782.7,156,714.9,103,579.1L18,361.2C-34.9,225.4,32.8,71,168.6,18l0,0
                    c135.8-53,290.2,14.8,343.2,150.6l85,217.9C649.8,522.3,582,676.7,446.2,729.7z"></path>
                </defs>
                <clipPath id="mockup4">
                  <use xlink:href="#mockup3" style="overflow:visible;"></use>
                </clipPath>
                <g style="clip-path:url(#mockup4);">
                  <!-- Apply your (615px width to 750px height) image here -->
                  <image style="overflow:visible;" width="615" height="750" xlink:href="/images/raidparty-slim-banner.png" transform="matrix(1 0 0 1 -3.177470e-02 -0.9532)"></image>
                </g>
              </g>
              <g>
                <circle class="u-fill-danger" cx="488.6" cy="693.8" r="16.3"></circle>
                <circle class="u-fill-success" cx="482" cy="632.6" r="10.6"></circle>
                <circle class="u-fill-primary" cx="537.8" cy="655.9" r="21.6"></circle>
                <circle class="u-fill-warning" cx="576" cy="708.1" r="3.9"></circle>
              </g>
            </svg>
          </figure>
          <!-- End SVG Mockup -->
        </div>
      </div>
    </div>

    <div class="container u-space-3">
      <div class="row justify-content-lg-between align-items-center">
          <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
            <div class="pr-md-4">
              <!-- Info -->
              <div class="media mb-7">
                <div class="d-flex mr-3">
                  <span class="u-icon u-icon-primary--air u-icon--sm rounded-circle">
                    <span class="u-icon__inner font-weight-bold">C.</span>
                  </span>
                </div>
                <div class="media-body">
                  <h3 class="h5 text-primary">Non-intrusive Advertisement</h3>
                  <p>Our technology serves global brands to provide dynamic advertisement, keeping your players happy
                  and putting extra revenue in your bank.</p>
                </div>
              </div>
              <!-- End Info -->

              <!-- Info -->
              <div class="media mb-7">
                <div class="d-flex mr-3">
                  <span class="u-icon u-icon-primary--air u-icon--sm rounded-circle">
                    <span class="u-icon__inner font-weight-bold">D.</span>
                  </span>
                </div>
                <div class="media-body">
                  <h3 class="h5 text-primary">Powerful Features</h3>
                  <p>Brands can instantly launch campaigns, giving you control of approval and without players needing
                  to update the game.</p>
                </div>
              </div>
              <!-- End Info -->

              <a class="btn btn-primary u-btn-primary u-btn-wide u-btn-pill transition-3d-hover" href="/dynamic-advertisement">Find out more <span class="fa fa-angle-right ml-2"></span></a>
            </div>
          </div>

          <div class="col-md-6">
            <!-- SVG Mockup -->
            <figure>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 614.8 747.7" style="enable-background:new 0 0 614.8 747.7;" xml:space="preserve">
                <path class="u-fill-primary" opacity=".05" d="M186.9,138.9C125.8,144.5,69.7,176,34.4,226c-54.3,76.8-67.1,204.7,193.8,371.7c411.5,263.5,387.9,6,382.7-30.6
                  c-0.5-3.6-0.9-7.2-1.3-10.7l-22.1-241.9C576.8,198.3,474,112.7,357.7,123.3L186.9,138.9z"></path>
                <g>
                  <defs>
                    <path id="mockup1" d="M168.6,729.7L168.6,729.7c135.8,53,290.2-14.8,343.2-150.6l85-217.9C649.8,225.4,582,71,446.2,18l0,0
                      C310.4-34.9,156,32.8,103,168.6L18,386.5C-34.9,522.3,32.8,676.7,168.6,729.7z"></path>
                  </defs>
                  <clipPath id="mockup2">
                    <use xlink:href="#mockup1" style="overflow:visible;"></use>
                  </clipPath>
                  <g style="clip-path:url(#mockup2);">
                    <!-- Apply your (615px width to 750px height) image here -->
                    <image style="overflow:visible;" width="615" height="750" xlink:href="/images/dynamic-advertisement-slim-banner.png" transform="matrix(1 0 0 1 -0.1366 -0.9532)"></image>
                  </g>
                </g>
                <circle class="u-fill-danger" cx="126.3" cy="693.8" r="16.3"></circle>
                <circle class="u-fill-success" cx="132.9" cy="632.6" r="10.6"></circle>
                <circle class="u-fill-primary" cx="77" cy="655.9" r="21.6"></circle>
                <circle class="u-fill-warning" cx="38.8" cy="708.1" r="3.9"></circle>
              </svg>
            </figure>
            <!-- End SVG Mockup -->
          </div>
        </div>
      </div>


      <div class="container text-center u-space-2-bottom">
        <h4 class="h4 text-muted mb-3">As seen on</h4>
        <div class="justify-content-center">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <img class="u-clients" src="/images/publication-logos/newsbtc.png" alt="News BTC">
            </div>
            <div class="col-sm-6 col-md-2">
              <img class="u-clients" src="/images/publication-logos/themerkle.png" alt="The Merkle">
            </div>
            <div class="col-sm-6 col-md-2">
              <img class="u-clients" src="/images/publication-logos/icoalert.png" alt="ICO Alert">
            </div>
            <div class="col-sm-6 col-md-2">
              <img class="u-clients" src="/images/publication-logos/icocountdown.png" alt="ICO Countdown">
            </div>
            <div class="col-sm-6 col-md-2">
              <img class="u-clients" src="/images/publication-logos/icobench.png" alt="ICO Bench">
            </div>
            <div class="col-sm-6 col-md-2">
              <img class="u-clients" src="/images/publication-logos/coinspeaker.png" alt="Coinspeaker">
            </div>
          </div>
        </div>
      </div>




   </main>

<%- partial('./partials/footer.ejs') %>