<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title><%= typeof title == 'undefined' ? 'TriForce Tokens Ltd' : title %></title>
  		<meta name="description" content="<%= typeof metaDescription == 'undefined' ? "" : metaDescription %>">

  		<link rel="canonical" href="<%= "https://triforcetokens.io" + req.path %>" />

      <!-- Viewport mobile tag for sensible mobile support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

  		<meta name="google-site-verification" content="Te36QGBZpJQvKPcD9WiupYrXQXMN3cQAuxRfk_T3hIQ" />

  		<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  		<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  		<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  		<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  		<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  		<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  		<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  		<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  		<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
  		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  		<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  		<link rel="manifest" href="/icons/manifest.json">
  		<meta name="msapplication-TileColor" content="#ffffff">
  		<meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  		<meta name="theme-color" content="#ffffff">
 
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/bootstrap.css">
      <link rel="stylesheet" href="/styles/fontawesome-all.min.css">
      <link rel="stylesheet" href="/styles/front.css">
      <link rel="stylesheet" href="/styles/animate.min.css">
      <link rel="stylesheet" href="/styles/cubeportfolio.min.css">
      <link rel="stylesheet" href="/styles/custom.css">
      <link rel="stylesheet" href="/styles/dzsparallaxer.css">
      <link rel="stylesheet" href="/styles/flatpickr.min.css">
      <link rel="stylesheet" href="/styles/hs.megamenu.css">
      <link rel="stylesheet" href="/styles/jquery.fancybox.css">
      <link rel="stylesheet" href="/styles/jquery.mCustomScrollbar.css">
      <link rel="stylesheet" href="/styles/slick.css">
      <link rel="stylesheet" href="/styles/toastr.min.css">
      <!--STYLES END-->

    </head>
    <body>


    <%- body %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <div id="cookie-notice" style="display:none;" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-floating cc-type-opt-in cc-theme-block cc-bottom cc-right cc-color-override-382972913 " style=""><!--googleoff: all-->
      <span id="cookieconsent:desc" class="cc-message">
        <h5 class="h6">TriForce Tokens Ltd Cookies Policy</h5>
        <p>This website uses cookies to ensure you get the best experience on our website.</p>
        <a aria-label="learn more about cookies" tabindex="0" class="cc-link" href="/privacy">Learn more</a>
      </span>
      <div class="cc-compliance cc-highlight">
        <a aria-label="deny cookies" role="button" tabindex="0" class="cc-btn cc-deny">Decline</a>
        <a aria-label="allow cookies" role="button" tabindex="0" class="cc-btn cc-allow">Allow cookies</a>
      </div>
    </div>


    <script>
      window.intercomSettings = {
      app_id: "ucmtxxel"
      };
    </script>

    <!--SCRIPTS-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/hs.core.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/dzsparallaxer.js"></script>
    <script src="/js/hs.cubeportfolio.js"></script>
    <script src="/js/hs.datatables.js"></script>
    <script src="/js/hs.fancybox.js"></script>
    <script src="/js/hs.focus-state.js"></script>
    <script src="/js/hs.go-to.js"></script>
    <script src="/js/hs.header.js"></script>
    <script src="/js/hs.malihu-scrollbar.js"></script>
    <script src="/js/hs.megamenu.js"></script>
    <script src="/js/hs.scroll-effect.js"></script>
    <script src="/js/hs.scroll-nav.js"></script>
    <script src="/js/hs.show-animation.js"></script>
    <script src="/js/hs.slick-carousel.js"></script>
    <script src="/js/hs.step-form.js"></script>
    <script src="/js/hs.sticky-block.js"></script>
    <script src="/js/hs.unfold.js"></script>
    <script src="/js/hs.validation.js"></script>
    <script src="/js/hs.video-player.js"></script>
    <script src="/js/jquery.cubeportfolio.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/toastr.min.js"></script>
    <!--SCRIPTS END-->

    <script src='https://www.google.com/recaptcha/api.js'></script>


    <!-- JS Plugins Init. -->
    <script>
      $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('body'),
          breakpoint: 767,
          hideTimeOut: 0
        });

        // initialization of HSScrollNav component
        $.HSCore.components.HSScrollNav.init($('#scrollNav'), {
          duration: 700
        });
        
      });

      $(document).on('ready', function () {

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
          afterOpen: function () {
            $(this).find('input[type="search"]').focus();
          }
        });

        // initialization of text animation (typing)
        <% if(req.path == "/"){ %>
        var typed = new Typed(".header-typed-text", {
          strings: ["amazing game studios", "inspirational developers", "awesome game publishers", "you"],
          typeSpeed: 60,
          loop: true,
          backSpeed: 25,
          backDelay: 1500
        });
        <% } %>

        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of forms
        $.HSCore.helpers.HSFocusState.init();

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
          rules: {
            confirmPassword: {
              equalTo: '#password'
            }
          }
        });

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // initialization of fancybox
        $.HSCore.components.HSFancyBox.init('.js-fancybox');

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        setTimeout(function () {
          $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        }, 300);



        /** Set the public token sale open date */
        var dateNowUnix = Date.now();
        var tokenSaleOpenDate = new Date(Date.UTC(2018,9,8,12,0,0)).getTime();
        var tokenSaleCloseDate = new Date(Date.UTC(2018,10,11,12,0,0)).getTime();

        // Find the distance between now and the end date
        var openDistance = tokenSaleOpenDate - dateNowUnix;
        var closeDistance = tokenSaleCloseDate - dateNowUnix;

        // Time to token sale open
        if(openDistance > 0){
          $('.tokensale-opening').fadeIn();
          startDiscountTimeLeft(tokenSaleOpenDate);
        }
        // Token sale is LIVE
        else if(closeDistance > 0){
          $('.tokensale-open').fadeIn();
          startDiscountTimeLeft(tokenSaleCloseDate);
        }
        // Token sale is ENDED
        else{
          $('.tokensale-closed').fadeIn();
        }

        function startDiscountTimeLeft(endDateUnix){
            // Update the count down every 1 second
            var x = setInterval(function() {

              dateNowUnix = Date.now();

              // Find the distance between now and the count down date
              distance = endDateUnix - dateNowUnix;

              setTimeCountdown(distance);

              // If the count down is finished, write some text 
              if (distance < 2) {
                  clearInterval(x);
              }
            }, 1000);
          }

          function setTimeCountdown(distance, timeClass){

              if(typeof timeClass === 'undefined'){
                timeClass = '';
              }

              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              if(days < 1){
                days = 0;
              }
              if(hours < 1){
                hours = 0;
              }
              if(minutes < 1){
                minutes = 0;
              }
              if(seconds < 1){
                seconds = 0;
              }

              $('.js-days' + timeClass).text(days);
              $('.js-hours' + timeClass).text(hours);
              $('.js-minutes' + timeClass).text(minutes);
              $('.js-seconds' + timeClass).text(seconds);
          }

          // Work out current bonus
          var discountRound1End = new Date(Date.UTC(2018,8,14,0,0,0)).getTime();
          var discountRound2End = new Date(Date.UTC(2018,8,21,0,0,0)).getTime();
          var discountRound3End = new Date(Date.UTC(2018,8,28,0,0,0)).getTime();

          var discountRound1Distance = discountRound1End - Date.now();
          var discountRound2Distance = discountRound2End - Date.now();
          var discountRound3Distance = discountRound3End - Date.now();

          // Round 1 Live
          if(discountRound1Distance > 0){
            $('.current-bonus').text("15");
            startBonusTimeLeft(discountRound1End);
          }
          // Round 2 Live
          else if(discountRound2Distance > 0){
            $('.current-bonus').text("10");
            startBonusTimeLeft(discountRound2End);
          }
          // Round 3 Live
          else if(discountRound3Distance > 0){
            $('.current-bonus').text("5");
            startBonusTimeLeft(discountRound3End);
          }
          // Final round LIVE
          else {
            $('.current-bonus').text("0");
            $('.bonus-info').hide();
          }

          function startBonusTimeLeft(endDateUnix){
            // Update the count down every 1 second
            var z = setInterval(function() {

              dateNowUnix = Date.now();

              // Find the distance between now and the count down date
              distanceD = endDateUnix - dateNowUnix;

              setTimeCountdown(distanceD,"-bonus");

              // If the count down is finished, write some text 
              if (distanceD< 2) {
                  clearInterval(z);
              }
            }, 1000);
          }


      });
    </script>


    <!-- GOOGLE ANALYTICS -->
    <% if(sails.config.environment === 'production'){ %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104636616-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
    </script>
    <% }else{ %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){}
    </script>
    <% } %>

 
		<script>
		  window.intercomSettings = {
			app_id: "ucmtxxel"
		  };
		</script>
    </body>
</html>
