<%- partial('./partials/header.ejs') %>

<main id="content" role="main">

    <div class="container u-space-4-top u-space-2-bottom">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--warning mb-2">Marketplace Distribution</span>
        <h2 class="text-primary h3">Spend time developing, <span class="font-weight-bold">not negotiating</span></h2>
        <p>We have existing relationships with major marketplaces across the world. Let us secure the best deals for placement on your behalf.</p>
      </div>
      <!-- End Title -->

      <div class="row justify-content-md-between align-items-center">
        <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
          <div class="pr-md-4">
            <!-- Info -->
            <div class="media u-indicator-ver-dashed mb-3">
              <div class="d-flex mt-1 mr-3">
                <span class="u-icon u-icon-primary u-icon--xs rounded-circle">
                  <span class="fa fa-check u-icon__inner"></span>
                </span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">Global Distribution</h3>
                <p>Through our partners we can get your game distributed globally.</p>
              </div>
            </div>
            <!-- End Info -->

            <!-- Info -->
            <div class="media u-indicator-ver-dashed mb-3">
              <div class="d-flex mt-1 mr-3">
                <span class="u-icon u-icon-primary u-icon--xs rounded-circle">
                  <span class="fa fa-check u-icon__inner"></span>
                </span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">Complete Site Takeovers</h3>
                <p>Securing site takeovers gives your game the best possible exposure to marketplace audiences.</p>
              </div>
            </div>
            <!-- End Info -->

            <!-- Info -->
            <div class="media u-indicator-ver-dashed mb-3">
              <div class="d-flex mt-1 mr-3">
                <span class="u-icon u-icon-primary u-icon--xs rounded-circle">
                  <span class="fa fa-check u-icon__inner"></span>
                </span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">Community Management</h3>
                <p>Making sure the community get fast, 24/7 response is critical to maintaining a positive sales flow.</p>
              </div>
            </div>
            <!-- End Info -->

            <!-- Info -->
            <div class="media">
              <div class="d-flex mt-1 mr-3">
                <span class="u-icon u-icon-primary u-icon--xs rounded-circle">
                  <span class="fa fa-check u-icon__inner"></span>
                </span>
              </div>
              <div class="media-body">
                <h3 class="h5 text-primary">Dedicated Sales Pages</h3>
                <p>Check out this <a target="_blank" href="https://eximius.raidparty.io">awesome dedicated sales page</a>. We can do the same for your game.</p>
              </div>
            </div>
            <!-- End Info -->


          </div>
        </div>

        <div class="col-md-6">
          <!-- SVG Mockup -->
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 614.8 747.7" style="enable-background:new 0 0 614.8 747.7;" xml:space="preserve">
              <path class="u-fill-primary" opacity=".05" d="M186.9,138.9C125.8,144.5,69.7,176,34.4,226c-54.3,76.8-67.1,204.7,193.8,371.7c411.5,263.5,387.9,6,382.7-30.6
                c-0.5-3.6-0.9-7.2-1.3-10.7l-22.1-241.9C576.8,198.3,474,112.7,357.7,123.3L186.9,138.9z"></path>
              <g>
                <defs>
                  <path id="mockup1" d="M168.6,729.7L168.6,729.7c135.8,53,290.2-14.8,343.2-150.6l85-217.9C649.8,225.4,582,71,446.2,18l0,0
                    C310.4-34.9,156,32.8,103,168.6L18,386.5C-34.9,522.3,32.8,676.7,168.6,729.7z"></path>
                </defs>
                <clipPath id="mockup2">
                  <use xlink:href="#mockup1" style="overflow:visible;"></use>
                </clipPath>
                <g style="clip-path:url(#mockup2);">
                  <!-- Apply your (615px width to 750px height) image here -->
                  <image style="overflow:visible;" width="615" height="750" xlink:href="/images/backgrounds/marketplaces-banner-pill.png" transform="matrix(1 0 0 1 -0.1366 -0.9532)"></image>
                </g>
              </g>
              <circle class="u-fill-danger" cx="126.3" cy="693.8" r="16.3"></circle>
              <circle class="u-fill-success" cx="132.9" cy="632.6" r="10.6"></circle>
              <circle class="u-fill-primary" cx="77" cy="655.9" r="21.6"></circle>
              <circle class="u-fill-warning" cx="38.8" cy="708.1" r="3.9"></circle>
            </svg>
          </figure>
          <!-- End SVG Mockup -->
        </div>
      </div>
    </div>


    <div class="container text-center u-space-2-bottom">
        <h4 class="h4 text-muted mb-3">We work with</h4>
        <div class="justify-content-center">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <img class="img-responsive" src="/images/partners/partner-logos-small.png" alt="Our Partners">
            </div>
          </div>
        </div>
      </div>


    <div class="position-relative u-gradient-half-warning-v1">
      <div class="container position-relative z-index-2">
        <div class="row">
          <div class="col-lg-6">
            <!-- Hire Us -->
            <div class="d-flex align-items-center u-space-2 min-height-380 pr-lg-7">
              <div class="d-block">
                <h2 class="text-white">Have a game?</h2>
                <p class="u-text-light mb-4">Hire us. Our top professionals are ready to help.</p>
                <a class="btn text-primary u-btn-white u-btn-wide transition-3d-hover" href="/studio-signup">Submit Your Game</a>
              </div>
            </div>

            <div class="w-50 position-absolute-bottom-right-0 mr-7">
              <img src="/images/hire-us-flat-concept-illustration.svg" alt="SVG Illustration">
            </div>
            <!-- End Hire Us -->
          </div>

          <div class="col-lg-6">
            <!-- Contact Us -->
            <div class="d-flex align-items-center u-space-2 min-height-380 pl-lg-7">
              <div class="d-block">
                <h2 class="text-white">Get in touch</h2>
                <p class="u-text-light mb-4">If you would like to find out more, please give us a call or drop us an email.</p>
                <a class="btn text-warning u-btn-white u-btn-wide transition-3d-hover" href="/contact">Contact Us</a>
              </div>
            </div>

            <div class="w-50 position-absolute-bottom-right-0">
              <img src="/images/pushing-boundries-flat-concept-illustration.svg" alt="SVG Illustration">
            </div>
            <!-- End Contact Us -->
          </div>
        </div>
      </div>

      <div class="col-lg-6 u-gradient-half-primary-v1 position-absolute-top-left-0 min-height-380"></div>
    </div>



  </main>

<%- partial('./partials/footer.ejs') %>