<%- partial('./partials/header.ejs') %>

<main id="content" role="main">

    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 130%; background-image: url(&quot;/images/backgrounds/our-story-background.png&quot;); transform: translate3d(0px, -94.4216px, 0px);"></div>

      <!-- Content -->
      <div class="js-scroll-effect position-relative" data-scroll-effect="smoothFadeToBottom" style="opacity: 1;">
        <div class="container u-space-5-top u-space-1-bottom">
          <div class="text-center w-lg-80 mx-auto u-space-3-bottom">
            <h1 class="display-4 font-size-48--md-down text-white font-weight-normal mb-0">Our Story</h1>
          </div>

          <!-- Author -->
          <div class="text-center">
            <img class="img-fluid u-avatar rounded-circle mb-2" src="/images/team/pete-mardell-large-square.png" alt="Pete Mardell">
            <span class="d-block">
              <a class="text-white h6 mb-0" href="/team">by Pete Mardell</a>
            </span>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Content -->
    </div>



    <!-- Description Section -->
    <div class="container u-space-1-top u-space-2-bottom">
      <div class="w-lg-60 mx-auto">

        <h2>"Don’t be pushed around by the fears in your mind. Be led by the dreams in your heart."</h2>
        <p class="text-muted">Roy T. Bennet</p>

        <div class="mb-5 mt-5">
          <p>At Force Protocol, our mission has always been focused on providing unique technology solutions to the games industry. We've always believed
          that great gaming experiences are created when game studios focus purely on game development, and that gaming communities have increased expectations. We're proud to be a part of this incredible industry that grows year on year, with incredibly talented people.</p>

          <p>As we've grown, our philosophy has matured, our service range has been more robust and our technology more focussed.</p>

          <p>This is why we invite every indie game studio to <a href="/studio-signup">submit their game</a> to join our family and provide our communities with
          a richer gaming experience.</p>
        </div>

        
        <div class="mb-5">
          <h2 class="h5 mb-3">How we came to be</h2>

          <p>Company founder Pete Mardell had been an avid technology and gaming enthusiast, starting web development at age 16. In 2011 at age 23 he setup his first 
          Bitcoin mining PC. After a few years of experience growth in software development, he came to realise cryptocurrencies had the potential
          to become a way for gamers to trade and compete with each other, while achieving real ownership of their in-game currency.</p>

          <p>Eventually, in early 2017 he formed a small team to deliver on this vision, realising that it could benefit
          players, game studios and publishers in the same breath.</p>

          <p>Starting out on this journey had been challenging, but the vision has always remained the same; </p>

          <p><strong>"To provide the games industry with technology based solutions that gives consumers high quality gaming experiences and rewards, whilst supporting growth of both game studios, publishers and their communities."</strong></p>
        </div>


        <div class="mb-5">
          <h2 class="h5 mb-3">What has been achieved?</h2>

          <p>The Force Protocol now has a small, but growing family of several mobile and PC games, each with bespoke integration to the company's technology 
          to meet the game studios objectives.</p>

          <p>With the initial beta release of <a href="/raidparty">RaidParty</a>, the player community platform giving players a way to complete
          challenges to win rewards, the team proved that player retention could be increased dramatically compared with industry standards.</p>

          <p>Shortly afterwards the team released a new technology stack to achieve <a href="/dynamic-advertisement">dynamic advertisement</a>, delivering advertisement agencies instant campaign launching capability, while saving game studios many hours of development time and increased revenue potential.</p>

        </div>
        


        <div class="mb-5">
          <h2 class="h5 mb-3">What does the future hold?</h2>

          <p>The next phase of the journey is now to build on the game portfolio under the Force Protocol family, increase feature functionality across our existing technology and launch the <a href="/force-blockchain">FORCE blockchain</a> to really serve the player community on a production, scalable way.</p>
        </div>


      </div>

      <hr class="my-7">

        <!-- Social Networks -->
        <ul class="list-inline text-center mb-0">
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://www.facebook.com/triforcetokens">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://discord.gg/Bnfpqrk">
              <span class="fab fa-discord u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="http://twitter.com/triforcetokens">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://medium.com/@ForceProtocol">
              <span class="fab fa-medium u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://www.youtube.com/triforcetokens">
              <span class="fab fa-youtube u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://github.com/TriForceNetwork">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://web.telegram.org/#/im?p=@TriForceTokens">
              <span class="fab fa-telegram-plane u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->

    </div>
    <!-- End Description Section -->

    
<% /*
    <!-- Testimonials Section -->
    <div class="position-relative u-gradient-half-primary-v1">
      <div class="container u-space-3">
        <!-- Testimonials -->
        <div class="text-center">
          <div class="mb-4">
            <img class="img-fluid rounded-circle u-md-avatar mx-auto" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
          </div>
          <div class="w-md-80 w-lg-50 text-center mx-auto mb-7">
            <blockquote class="h4 text-white font-weight-light mb-0"></blockquote>
          </div>
          <h4 class="h5 text-warning mb-0">Maria Muszynska</h4>
        </div>
        <!-- End Testimonials -->
      </div>

      <!-- SVG Quote -->
      <figure class="w-25 position-absolute-top-0 left-15x">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
          <path class="u-fill-white" opacity=".075" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
            C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
            c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
            C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
        </svg>
      </figure>
      <!-- End SVG Quote -->

      <!-- SVG Background -->
      <figure class="position-absolute-bottom-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
          <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
          <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
          <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z"></path>
          <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
        </svg>
      </figure>
      <!-- End SVG Background Section -->
    </div>
    <!-- End Testimonials Section -->
*/ %>
   

    <div class="container u-space-2-top">
      <div class="row">
        <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0 u-space-1-bottom">
          <!-- Contacts Info -->
          <div class="media pr-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fa fa-envelope u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Can't find your answer?</h3>
              <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
              <a class="font-size-14" href="/contact">Contact us <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-lg-6">
          <!-- Contacts Info -->
          <div class="media pl-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fab fa-discord u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Technical questions</h3>
              <p class="mb-1">Have some technical questions? Reach out to us on Discord.</p>
              <a class="font-size-14" href="https://discord.gg/Bnfpqrk">Discord Server <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>

      <hr class="my-0">

  </main>

<%- partial('./partials/footer.ejs') %>