<%- partial('./partials/header.ejs') %>

<main id="content" role="main">

    <div class="container u-space-4-top u-space-2-bottom">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--warning mb-2">Global Partners</span>
        <h2 class="text-primary">Network &amp; Partners, working together for your <span class="font-weight-bold">success</span></h2>
        <p></p>
      </div>
      <!-- End Title -->




      <div class="container u-space-2">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 mb-7 mb-lg-0">
            <!-- SVG Icon -->
            <a href="https://www.levelup.com/">
              <img class="img-fluid" src="/images/partners/levelup-youtube-channel-large.png" alt="LevelUp.com">
            </a>
            <!-- End SVG Icon -->
          </div>

          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4">
              <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                <span class="small font-weight-bold u-icon__inner">02.</span>
              </span>
              <h2 class="h4 text-primary"><strong>LevelUp.com</strong></h2>
              <p class="mb-0"><a href="https://www.levelup.com">LevelUp.com</a> are the largest games content publisher for Latin America. With a huge audience of over 6 million unique visits and YouTube subscriber base totalling more than 1 million subscribers and over 1 billion views, they have LatAm covered.</p>
              <p></p>
            </div>
            <!-- End Title -->
          </div>
        </div>
      </div>


      <div class="container u-space-2">
        <div class="row align-items-lg-center">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4">
              <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                <span class="small font-weight-bold u-icon__inner">03.</span>
              </span>
              <h2 class="h4 text-primary"><strong>Official TIGA member</strong></h2>
              <p class="mb-0">We are a full member of TIGA, a UK games industry network for game developers, digital publishers and trade association.</p>
              <p>TIGA's core purpose is to strengthen the games developement and digital publishing sector through campaigns.</p>
            </div>
            <!-- End Title -->
          </div>
          <div class="col-lg-7 mb-7 mb-lg-0">
            <!-- SVG Icon -->
            <a href="https://tiga.org/">
              <img class="img-fluid" src="/images/partners/tiga-logo-large.png" alt="TIGA Games Industry Body">
            </a>
            <!-- End SVG Icon -->
          </div>
        </div>
      </div>


      <div class="container u-space-2">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 mb-7 mb-lg-0">
            <!-- SVG Icon -->
            <a href="https://bitcoinprbuzz.com/">
              <img class="img-fluid" src="/images/partners/bitcoinprbuzz-website-large.png" alt="BitcoinPRBuzz">
            </a>
            <!-- End SVG Icon -->
          </div>
          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4">
              <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                <span class="small font-weight-bold u-icon__inner">04.</span>
              </span>
              <h2 class="h4 text-primary"><strong>BitcoinPRBuzz</strong></h2>
              <p class="mb-0">With over 4 years experience and over 500 clients, Bitcoin PR Buzz is the first cryptocurrency and blockchain PR agency in the industry. Bitcoin PR Buzz leverages their unique experience and partnerships, to secure publication on <a href="BitcoinNews.com">BitcoinNews.com</a>, <a href="https://ccn.com">CCN.com</a>, <a href="https://nulltx.com/">The Merkle</a>,  <a href="https://www.coinspeaker.com/">Coinspeaker</a>, <a href="https://oracletimes.com/">Oracle Times</a>, <a href="https://coinidol.com/">Coin Idol</a>, <a href="https://thebitcoinnews.com/">The Bitcoin News</a>, <a href="https://www.criptonoticias.com/">Cripto Noticias</a>, <a href="https://www.criptomoedasfacil.com/">Criptomoedas Facil</a>, <a href="https://zycrypto.com/">ZYCrypto.com</a>, Bitcoin News Latin America, <a href="https://www.bitcoinnews.com.br/">Brazil</a>, <a href="https://bitcoinnewsarabia.com/">Arabia</a> and Indonesia, and PR publication on 200-400 other online news outlets including Reuters.com, NBC, Fox, WND.com, Digital Journal, International Business Times, San Diego Tribune, Boston Globe and much more.</p>
            </div>
            <!-- End Title -->
          </div>
        </div>
      </div>



      <div class="container u-space-2">
        <div class="row align-items-lg-center">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4">
              <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                <span class="small font-weight-bold u-icon__inner">05.</span>
              </span>
              <h2 class="h4 text-primary"><strong>MediaGame</strong></h2>
              <p class="mb-0">MediaGame are a dynamic advertisement specialist agency, operating from Spain, Europe.</p>
              <p>They are connected to global brands and able to secure dynamic advertisement deals for the right game.</p>
            </div>
            <!-- End Title -->
          </div>
          <div class="col-lg-7 mb-7 mb-lg-0">
            <!-- SVG Icon -->
            <a href="http://www.mediagame.eu">
              <img class="img-fluid" src="/images/partners/mediagame-website.png" alt="MediaGame">
            </a>
            <!-- End SVG Icon -->
          </div>
        </div>
      </div>




      <div class="container u-space-2">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 mb-7 mb-lg-0">
            <!-- SVG Icon -->
            <a href="https://www.techracers.com/">
              <img class="img-fluid" src="/images/partners/techracers-website-large.png" alt="Techracers">
            </a>
            <!-- End SVG Icon -->
          </div>

          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4">
              <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                <span class="small font-weight-bold u-icon__inner">06.</span>
              </span>
              <h2 class="h4 text-primary"><strong>Techracers</strong></h2>
              <p class="mb-0">Techracers is a blockchain solutions provider helping businesses transform the world in this new era of innovations.</p>
            </div>
            <!-- End Title -->
          </div>
        </div>
      </div>



      <div class="container u-space-2">
        <div class="row align-items-lg-center">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Title -->
            <div class="pr-lg-4">
              <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                <span class="small font-weight-bold u-icon__inner">07.</span>
              </span>
              <h2 class="h4 text-primary"><strong>Yudiz Solutions</strong></h2>
              <p class="mb-0">Yudiz have worked with global brands, having developed VR, 3D and mobile games.</p>
              <p>Their clients include Nestle, Groupon, Ubisoft and Ketchapp to name a few.</p>
            </div>
            <!-- End Title -->
          </div>
          <div class="col-lg-7 mb-7 mb-lg-0">
            <!-- SVG Icon -->
            <a href="https://www.yudiz.com/">
              <img class="img-fluid" src="/images/partners/yudiz-website-large.png" alt="Yudiz Solutions">
            </a>
            <!-- End SVG Icon -->
          </div>
        </div>
      </div>




    <div class="container text-center u-space-2">
        <h4 class="h4 text-muted mb-3">We also work with</h4>
        <div class="justify-content-center">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <img class="img-responsive" src="/images/partners/partner-logos-small.png" alt="Our Partners">
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="position-relative u-gradient-half-warning-v1">
      <div class="container position-relative z-index-2">
        <div class="row">
          <div class="col-lg-6">
            <!-- Hire Us -->
            <div class="d-flex align-items-center u-space-2 min-height-380 pr-lg-7">
              <div class="d-block">
                <h2 class="text-white">Have a game?</h2>
                <p class="u-text-light mb-4">Hire us. Our top professionals are ready to help.</p>
                <a class="btn text-primary u-btn-white u-btn-wide transition-3d-hover" href="/studio-signup">Submit Your Game</a>
              </div>
            </div>

            <div class="w-50 position-absolute-bottom-right-0 mr-7">
              <img src="/images/hire-us-flat-concept-illustration.svg" alt="SVG Illustration">
            </div>
            <!-- End Hire Us -->
          </div>

          <div class="col-lg-6">
            <!-- Contact Us -->
            <div class="d-flex align-items-center u-space-2 min-height-380 pl-lg-7">
              <div class="d-block">
                <h2 class="text-white">Get in touch</h2>
                <p class="u-text-light mb-4">If you would like to find out more, please give us a call or drop us an email.</p>
                <a class="btn text-warning u-btn-white u-btn-wide transition-3d-hover" href="/contact">Contact Us</a>
              </div>
            </div>

            <div class="w-50 position-absolute-bottom-right-0">
              <img src="/images/pushing-boundries-flat-concept-illustration.svg" alt="SVG Illustration">
            </div>
            <!-- End Contact Us -->
          </div>
        </div>
      </div>

      <div class="col-lg-6 u-gradient-half-primary-v1 position-absolute-top-left-0 min-height-380"></div>


  </main>

<%- partial('./partials/footer.ejs') %>