<%- partial('./partials/header.ejs') %>



<main id="content" role="main">
    <!-- Terms Title Section -->
    <div class="position-relative">
      <div class="container u-space-4-top u-space-5-top--md u-space-3-bottom">
        <div class="w-md-80 w-lg-60">
          <h1 class="text-primary"><span class="font-weight-bold">Privacy</span> Policy</h1>

          <p>This privacy policy applies between you, the User of this Website and TriForce Tokens Ltd, the owner and provider of this Website. TriForce Tokens Ltd takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website.</p>
          <p><strong>Please read this privacy policy carefully</strong></p>
        </div>
      </div>

      <!-- SVG Background Shapes -->
      <figure class="d-none d-lg-block w-lg-40 u-content-centered-y right-0 z-index-minus-1 ml-9">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 849.4 419.7" style="enable-background:new 0 0 849.4 419.7;" xml:space="preserve">
          <g>
            <linearGradient id="hireUsBgShape1" gradientUnits="userSpaceOnUse" x1="0.644" y1="109.4822" x2="84.356" y2="109.4822">
              <stop class="u-stop-color-gold-light" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-gold-dark" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape1)" d="M77.6,157.5L77.6,157.5c-7.3,5.4-17.7,3.7-23.1-3.6L3.8,84.5c-5.4-7.3-3.7-17.7,3.6-23.1l0,0
              c7.3-5.4,17.7-3.7,23.1,3.6l50.7,69.4C86.5,141.8,84.9,152.2,77.6,157.5z"></path>
          </g>
          <g>
            <linearGradient id="hireUsBgShape2" gradientUnits="userSpaceOnUse" x1="366.1731" y1="39.5945" x2="430.9116" y2="39.5945">
              <stop class="u-stop-color-primary" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-info" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape2)" d="M425.7,76.7L425.7,76.7c-5.7,4.1-13.7,2.9-17.8-2.8l-39.2-53.7c-4.1-5.7-2.9-13.7,2.8-17.8l0,0
              c5.7-4.1,13.7-2.9,17.8,2.8l39.2,53.7C432.6,64.6,431.4,72.6,425.7,76.7z"></path>
          </g>
          <linearGradient id="hireUsBgShape3" gradientUnits="userSpaceOnUse" x1="716" y1="109.4822" x2="739" y2="109.4822">
            <stop class="u-stop-color-primary" offset="7.500810e-08"></stop>
            <stop class="u-stop-color-info" offset="1"></stop>
          </linearGradient>
          <circle fill="url(#hireUsBgShape3)" cx="727.5" cy="109.5" r="11.5"></circle>
          <linearGradient id="hireUsBgShape4" gradientUnits="userSpaceOnUse" x1="0" y1="317.4822" x2="29" y2="317.4822">
            <stop class="u-stop-color-gold-light" offset="7.500810e-08"></stop>
            <stop class="u-stop-color-gold-dark" offset="1"></stop>
          </linearGradient>
          <circle fill="url(#hireUsBgShape4)" cx="14.5" cy="317.5" r="14.5"></circle>
          <g>
            <linearGradient id="hireUsBgShape5" gradientUnits="userSpaceOnUse" x1="139.1731" y1="371.5945" x2="203.9116" y2="371.5945">
              <stop class="u-stop-color-primary" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-info" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape5)" d="M198.7,408.7L198.7,408.7c-5.7,4.1-13.7,2.9-17.8-2.8l-39.2-53.7c-4.1-5.7-2.9-13.7,2.8-17.8l0,0
              c5.7-4.1,13.7-2.9,17.8,2.8l39.2,53.7C205.6,396.6,204.4,404.6,198.7,408.7z"></path>
          </g>
          <g>
            <linearGradient id="hireUsBgShape6" gradientUnits="userSpaceOnUse" x1="765.644" y1="368.4822" x2="849.356" y2="368.4822">
              <stop class="u-stop-color-gold-light" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-gold-dark" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape6)" d="M842.6,416.5L842.6,416.5c-7.3,5.4-17.7,3.7-23.1-3.6l-50.7-69.4c-5.4-7.3-3.7-17.7,3.6-23.1v0
              c7.3-5.4,17.7-3.7,23.1,3.6l50.7,69.4C851.5,400.8,849.9,411.2,842.6,416.5z"></path>
          </g>
        </svg>
      </figure>
      <!-- End SVG Background Shapes -->
    </div>
    <!-- End Terms Title Section -->


    <div class="u-bg-light-blue-50">
      <div class="container u-space-3">
        <div class="row">
          <div id="stickyBlockStartPoint" class="col-md-4 col-lg-3 mb-7 mb-md-0">
            <!-- Nav -->
            <nav class="js-sticky-block bg-primary rounded" data-has-sticky-header="true" data-offset-target="#logoAndNav" data-sticky-view="md" data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="24" data-offset-bottom="24" style="z-index: 1; width: 255px; top: 72px; left: 396.5px;">
              <ul id="scrollNav" class="list-unstyled u-list u-list--white py-3 px-5">
                <li class="py-2 active">
                  <a class="d-block u-list__link" href="#intro">Introduction</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#collecting-data">Collecting Data</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-collected">Data Collected, Stored and Processed</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#sensitive">Sensitive Personal Data</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#childrens-policy">Childrens Data Policy</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-subjects-rights">Data Subjects Rights</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#keeping-informed">Keeping You Informed</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-accuracy">Data Accuracy</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#impact-assessments">Impact Assessments</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-protection-officer">Data Protection Officer</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#third-parties">Third Parties</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-security-transferring">Data Security - Transferring</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-security-storage">Data Security - Storage</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-security-disposal">Data Security - Disposal</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-security-use">Data Security - Use</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-security-it">Data Security - IT</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#transferring-data-out">Transferring Data Outside EEA</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-retention">Data Retention</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#access-rights">Access Rights</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#objections">Objections</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#right-to-be-forgotten">Right to be forgotten</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#profiling">Profiling</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-portability">Data Portability</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#data-breach">Data Breach</a>
                </li>
                <li class="py-2">
                  <a class="d-block u-list__link" href="#policy-implementation">Policy Implementation</a>
                </li>
              </ul>
            </nav>
            <!-- End Nav -->
          </div>

          <div class="col-md-8 col-lg-9">
            <div id="intro" class="u-space-2-bottom active">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Introduction to our Privacy Policy under the General Data Protection Regulations (GDPR)</h3>
              </div>
              <!-- End Title -->

              <div class="uk-margin" data-id="page#7">
                <p>It's not easy to convey such a policy to you without referring to and using many legal terms and references. That said, we believe in identifying the spirit in which this policy legislation is intended, and we would summarise this as follows;
                  <br />
                  <br />
                  <span style="color: #000000;"><strong>We will explain to you why we collect your data,</strong></span><br /><br /><span style="color: #000000;"><strong> What we do with it, </strong></span><br /><br /><span style="color: #000000;"><strong> Who we may share it with,</strong></span><br /><br /><span style="color: #000000;"><strong> How we try and keep it safe, </strong></span><br /><br /><span style="color: #000000;"><strong> What rights you have to see and change anything we keep about you. </strong></span><br /><br /><span style="color: #000000;"><strong> What prompt and concise actions we will take should the data we store and or process is ever obtained from us unlawfully, exposed to unnecessary risk or threatened in any way.</strong></span>

                  <br /><br /> Once we have explained the above we would like to think that you have all the information you need in order to make an informed decision whether to consent to us collecting and processing your data known as '<span style="color: #000000;"><strong>OPTING IN</strong></span>'
                  This Policy sets out the duties of us, Compliancy &amp; Professional Services Ltd,&nbsp;11273509 ("the Company") regarding data protection and the rights of individuals, organisations, companies ("data subjects") in respect of their personal
                  data under EU Regulation 2016/679 General Data Protection Regulation ("GDPR").<br /><br /> The GDPR defines "personal data" as any information relating to an identified or identifiable natural person (a "data subject"); an identifiable natural
                  person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier, or to one or more factors specific to the physical, physiological,
                  genetic, mental, economic, cultural, or social identity of that natural person.

                  <br /><br />

                  <span style="color: #000000;"><strong>Under GDPR we consider ourselves to be both Data collectors and Data Processors.</strong></span><br /><br />
    The procedures and principles set out herein will be followed at all times by the Company, its employees, agents, contractors, or other parties working on behalf of the Company.</p>
            </div>

            <hr class="my-0">

            <div id="collecting-data" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Our lawful and legitimate reasons for collecting your data under GDPR</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#9">
              <p>The GDPR seeks to ensure that personal data is processed lawfully, fairly, and transparently, without adversely affecting the rights of the data subject.<br /><br /> The GDPR states that processing of personal data shall be lawful if at least one of the following applies:<br /><br /> The data subject has given consent to the processing of their personal data for one or more specific purposes;<br /><br /> The GDPR seeks to ensure that personal data is processed lawfully, fairly, and transparently, without adversely affecting the rights of the data subject. The GDPR states that processing of personal data shall be lawful if at least one of the following applies:<br /><br /> The data subject has given consent to the processing of their personal data for one or more specific purposes;<br /><br /> 2.1, The processing is necessary for the performance of a contract to which the data subject is a party, or in order to take steps at the request of the data subject prior to entering into a contract with them;<br /><br /> 2.2, The processing is necessary for compliance with a legal obligation to which the data controller is subject;<br /><br /> 2.3, The processing is necessary to protect the vital interests of the data subject or of another natural person;<br /><br /> 2.4, The processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller; or The processing is necessary for the purposes of the legitimate interests pursued by the data controller or by a third party, except where such interests are overridden by the fundamental rights and freedoms of the data subject which require protection of personal data, in particular where the data subject is a child.<br /><br /> If the personal data in question is "special category data" (also known as "sensitive personal data") for example, data concerning the data subject's race, ethnicity, politics, religion, trade union membership, genetics, biometrics (if used for ID purposes), health, sex life, or sexual orientation), at least one of the following conditions must be met:<br /><br /> 2.5, The data subject has given their explicit consent to the processing of such data for one or more specified purposes (unless EU or EU Member State law prohibits them from doing so);<br /><br /> 2.6, The processing is necessary for the purpose of carrying out the obligations and exercising specific rights of the data controller or of the data subject in the field of employment, social security, and social protection law (insofar as it is authorised by EU or EU Member State law or a collective agreement pursuant to EU Member State law which provides for appropriate safeguards for the fundamental rights and interests of the data subject);<br /><br /> 2.7, The processing is necessary to protect the vital interests of the data subject or of another natural person where the data subject is physically or legally incapable of giving consent;<br /><br /> 2.8, The data controller is a foundation, association, or other non-profit body with a political, philosophical, religious, or trade union aim, and the processing is carried out in the course of its legitimate activities, provided that the processing relates solely to the members or former members of that body or to persons who have regular contact with it in connection with its purposes and that the personal data is not disclosed outside the body without the consent of the data subjects;<br /><br /> 2.9, The processing relates to personal data which is clearly made public by the data subject;<br /><br /> 2.10, The processing is necessary for the conduct of legal claims or whenever courts are acting in their judicial capacity;<br /><br /> 2.11, The processing is necessary for substantial public interest reasons, on the basis of EU or EU Member State law which shall be proportionate to the aim pursued, shall respect the essence of the right to data protection, and shall provide for suitable and specific measures to safeguard the fundamental rights and interests of the data subject;<br /><br /> 2.12, The processing is necessary for the purposes of preventative or occupational medicine, for the assessment of the working capacity of an employee, for medical diagnosis, for the provision of health or social care or treatment, or the management of health or social care systems or services on the basis of EU or EU Member State law or pursuant to a contract with a health professional, subject to the conditions and safeguards referred to in Article 9(3) of the GDPR;<br /><br /> 2.13, The processing is necessary for public interest reasons in the area of public health, for example, protecting against serious cross-border threats to health or ensuring high standards of quality and safety of health care and of medicinal products or medical devices, on the basis of EU or EU Member State law which provides for suitable and specific measures to safeguard the rights and freedoms of the data subject (in particular, professional secrecy); or <br /><br /> 2.14, The processing is necessary for archiving purposes in the public interest, scientific or historical research purposes, or statistical purposes in accordance with Article 89(1) of the GDPR based on EU or EU Member State law which shall be proportionate to the aim pursued, respect the essence of the right to data protection, and provide for suitable and specific measures to safeguard the fundamental rights and the interests of the data subject.</p>
              </div>
            </div>

            <hr class="my-0">

            <div id="data-collected" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Personal Data collected, stored and Processed</h3>
              </div>
              <!-- End Title -->

                <div data-id="page#11">
                <p>The following are some, but not limited to regular types of personal data we collected, hold, and process.</p>
                <table class="table table-hover">
                <thead>
                <tr>
                <th>Reference</th>
                <th>Data Type</th>
                <th>Purpose of Data</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>Per 1</td>
                <td>Names</td>
                <td>To identify and communicate with a Data Subject</td>
                </tr>
                <tr>
                <td>Per 2</td>
                <td>Address</td>
                <td>To identify and communicate with a Data Subject</td>
                </tr>
                <tr>
                <td>Per 3</td>
                <td>Email Address</td>
                <td>To identify and communicate with a Data Subject</td>
                </tr>
                <tr>
                <td>Per 4</td>
                <td>Contact Tel Nos</td>
                <td>To identify and communicate with a Data Subject</td>
                </tr>
                <tr>
                <td>Bus 1</td>
                <td>Company Name &amp; Details</td>
                <td>To identify and communicate with a Business</td>
                </tr>
                <tr>
                <td>HRD1</td>
                <td>Bank and Card Payment Details</td>
                <td>To provide the business with a quotation</td>
                </tr>
                </tbody>
                </table>
                </div>

                <br />
                <br />
              
            </div>

            <hr class="my-0">

            <div id="sensitive" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Special Category Data (also known as <q>sensitive personal data</q>) collected and processed</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#13">
              <p>We currently have no such data other than on any individuals Nationality which in some cases will already be in the public domain.</p>
              </div>

            </div>

            <hr class="my-0">

            <div id="childrens-policy" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Our policy regarding collecting and processing children's data</h3>
              </div>
              <!-- End Title -->
              <div data-id="page#15">
              <p>We have Privacy Policies in place with Children in mind such as enhanced Data Protection Impact Assessment (DPIA's) We cannot stop children providing data to us but where relevant we make sure that the child understands what they are consenting to, and we do not exploit any imbalance in power in the relationship between us.</p>
              <p>The following are some guidance pointers, as directed by the Information Commissioners Office, that we have adopted in our dealings with children;<br /><br /> 5.1, Children have the same rights as adults over their personal data. These include the rights to access their personal data; request rectification; object to processing and have their personal data erased. 5.2, Children merit specific protection when you use their personal data for marketing purposes or creating personality or user profiles.<br /><br /> 5.3, We must have a lawful basis for processing a child's personal data. Consent is one possible lawful basis for processing, but it is not the only option. Sometimes using an alternative basis is more appropriate and provides better protection for the child.<br /><br /> 5.4, If we are relying on consent as our lawful basis for processing personal data, when offering an online service directly to a child, only children aged 13 or over are able provide their own consent. (This is the age proposed in the Data Protection Bill and is subject to Parliamentary approval).<br /><br /> 5.5, For children under this age we need to get consent from whoever holds parental responsibility for the child - unless the online service we offer is a preventive or counselling service.<br /><br /> As a matter of good practice, we use DPIA's to help us assess and mitigate the risks to children.<br /><br /> If our processing is likely to result in a high risk to the rights and freedom of children then we always do a DPIA.</p>
              </div>

            </div>

            <hr class="my-0">

            <div id="data-subjects-rights" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">The Rights of Data Subjects</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#17">
<p>The GDPR sets out the following rights applicable to data subjects (please refer to the parts of this policy indicated for further details):<br /><br /> 6.1, The right to be informed (Part 7).<br /><br /> 6.2, The right of access (Part 19);<br /><br /> 6.3, The right to rectification (Part 21);<br /><br /> 6.4, The right to erasure (also known as the 'right to be forgotten') (Part 21);<br /><br /> 6.5, The right to restrict processing (Part 21);<br /><br /> 6.6, The right to data portability (Part 23);<br /><br /> 6.7, The right to object (Part 20); and<br /><br /> Rights with respect to automated decision-making and profiling (Parts 20 and 22).</p>
</div>


            </div>

            <hr class="my-0">

            <div id="keeping-informed" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Keeping Data Subjects Informed</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#19">
<p>Where personal data is collected directly from data subjects, those data subjects will be informed of its purpose at the time of collection; and Where personal data is obtained from a third party, the relevant data subjects will be informed of its purpose:<br /><br /> 7.1, if the personal data is used to communicate with the data subject, when the first communication is made; or<br /><br /> 7.2, if the personal data is to be transferred to another party, before that transfer is made; or<br /><br /> 7.3, as soon as reasonably possible and in any event not more than one month after the personal data is obtained.<br /><br /> The following information shall be provided:<br /><br /> 7.4, Details of the Company including, but not limited to, the identity of its Data Protection Officer;<br /><br /> 7.5, The purpose(s) for which the personal data is being collected and will be processed (as detailed in sections 3, 4, 10 and16 of this Policy) and the legal basis justifying that collection and processing;<br /><br /> 7.6, Where applicable, the legitimate interests upon which the Company is justifying its collection and processing of the personal data;<br /><br /> 7.7, Where the personal data is not obtained directly from the data subject, the categories of personal data collected and processed;<br /><br /> 7.8, Where the personal data is to be transferred to one or more third parties, details of those parties;<br /><br /> Where the personal data is to be transferred to a third party that is located outside of the European Economic Area (the "EEA"), details of that transfer, including but not limited to the safeguards in place (see Part 17 of this Policy for further details);<br /><br /> Details of data retention;<br /><br /> 7.9, Details of the data subject's rights under the GDPR;<br /><br /> 7.10, Details of the data subject's right to withdraw their consent to the Company's processing of their personal data at any time;<br /><br /> Details of the data subject's right to complain to the Information Commissioner's Office (the "supervisory authority" under the GDPR);<br /><br /> 7.11, Where applicable, details of any legal or contractual requirement or obligation necessitating the collection and processing of the personal data and details of any consequences of failing to provide it;<br /><br /> and details of any automated decision-making or profiling that will take place using the personal data, including information on how decisions will be made, the significance of those decisions, and any consequences.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-accuracy" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Accuracy of data and the updating of it</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#21">
<p>The Company will only collect, and process personal data shown in sections 3 and 4 above for the extent necessary to perform the task in which it was collected for or until the data subject is notified. The data will be monitored by us on a regular basis but no later than every 3 Months from the date it was first collected.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="impact-assessments" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Impact assessments we undertake</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#23">
<p>The Company shall carry out Data Protection Impact Assessments (DPIA's) which will be overseen by our Data Protection Officer.<br /><br /> We will consider risks posed to data subjects resulting in collection and processing of data both from within our company and to the company.<br /><br /> Various manual and or electronic storage and protection systems and facilities are at our disposal and we will make decision on the suitability of which systems and facilities to use. Our decisions will be based on some key factors which include but are not limited to;<br /><br /> 9.1, Who within our company has access to your data.<br /><br /> 9.2, Will your data be processed by a third party (at our discretion)<br /><br /> 9.3, What volume of data we hold.<br /><br /> 9.4, What is the sensitivity and risk involved relating to the data we hold.<br /><br /> At all times we will act with the necessity and proportionality of the data processing with respect to the purposes for which it is being processed.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-protection-officer" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Our Data Protection Officer</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#25">
<p>Our nominated Data Protection Officer (DPO) is Pete Mardell who can be contacted by email pete@triforcetokens.io or by writing to TriForce Tokens Ltd, Au40 Science and Technology Bletchely Park, Bletchley Park, MK3 6DS. Systems will be in place that in the event that our Data Protection Officer is unavailable your enquiries will be directed to suitably qualified individuals within our organisation. Our DPO will be responsible for overseeing the collection and processing of data including relevant third party processors.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="third-parties" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Third Party Data Processing</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#27">
<p>We may as part of our collection, storage and processing of data, interface with other individuals, organisations or businesses (referred to as Third Party Processors) in order to perform the task in which it was collected for. Third Party processors will be expected to fulfil the criteria set out to them by our DPO. The Third Party's own GDPR policies will be regularly monitored in order that they meet the ongoing legislation.<br /><br /> If you wish to be provided with details of all of the Third Party processors we have used or are likely to use that have or are likely to process your data then please contact our DPO who will provide that information to you without any charges to you whatsoever.<br /><br /> Some of our regularly used Third Party processors include the following;</p>
<table class="table table-hover">
<thead>
<tr>
<th>Organisation</th>
<th>Data Type</th>
<th>Purpose of processing</th>
</tr>
</thead>
<tbody>
<tr>
<td>Gsuite</td>
<td>Emailing</td>
<td>To perform services as part of an agreement/contract with you</td>
</tr>
<tr>
<td>Google Drive</td>
<td>Cloud Storage</td>
<td>To perform services as part of an agreement/contract with you</td>
</tr>
<tr>
<td>Intiuit</td>
<td>Cloud Accounting</td>
<td>To perform services as part of an agreement/contract with you</td>
</tr>
<tr>
<td>PayPal</td>
<td>Payment Provider</td>
<td>To perform services as part of an agreement/contract with you</td>
</tr>
</tbody>
</table>
</div>

            </div>

            <hr class="my-0">

            <div id="data-security-transferring" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Security - Transferring Personal Data and Communications</h3>
              </div>
              <!-- End Title -->
              <div data-id="page#29">
<p>The Company shall ensure that the following measures are taken with respect to all communications and other transfers involving personal data:<br /><br /> 12.1, All emails containing personal data will be password protected if containing high risk data.<br /><br /> 12.2, All emails containing personal data must be marked "confidential";<br /><br /> 12.3, Personal data may be transmitted over secure networks only; transmission over unsecured networks is not permitted in any circumstances;<br /><br /> 12.4, Personal data may not be transmitted over a wireless network if there is a wired alternative that is reasonably practicable;<br /><br /> 12.5, Personal data contained in the body of an email, whether sent or received, should be copied from the body of that email and stored securely. The email itself should be deleted. All temporary files associated therewith should also be deleted using cache emptying and or electronic deletion.<br /><br /> 12.6, Where personal data is to be sent by facsimile transmission the recipient should be informed in advance of the transmission and should be waiting by the fax machine to receive the data;<br /><br /> 12.7, Where personal data is to be transferred in hardcopy form it should be passed directly to the recipient or sent using hand delivery, secure courier, normal post or registered post.<br /><br /> 12.8, All personal data to be transferred physically, whether in hardcopy form or on removable electronic media shall be transferred in a suitable container marked "confidential".</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-security-storage" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Security - Storage</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#31">
<p>The Company shall ensure that the following measures are taken with respect to the storage of personal data:<br /><br /> 13.1, All electronic copies of personal data should be stored securely using recognised branded software and password protected.<br /><br /> 13.2, All hardcopies of personal data, along with any electronic copies stored on physical, removable media should be stored securely in a locked box, drawer, cabinet, or similar;<br /><br /> 13.3, All personal data stored electronically should be backed up every 14 days with backups stored onsite and/or offsite. All backups should be stored securely using recognised branded software and password protected.<br /><br /> 13.4, No personal data should be stored on any mobile device (including, but not limited to, laptops, tablets, and smartphones), whether such device belongs to the Company or otherwise without the formal written approval our DPO and, in the event of such approval, strictly in accordance with all instructions and limitations described at the time the approval is given, and for no longer than is absolutely necessary; and<br /><br /> 13.5, No personal data should be transferred to any device personally belonging to an employee and personal data may only be transferred to devices belonging to agents, contractors, or other parties working on behalf of the Company where the party in question has agreed to comply fully with the letter and spirit of this Policy and of the GDPR (which may include demonstrating to the Company that all suitable technical and organisational measures have been taken).</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-security-disposal" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Security - Disposal</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#33">
<p>When any personal data is to be erased or otherwise disposed of for any reason (including where copies have been made and are no longer needed), it should be securely deleted, shredded and disposed of. For further information on the deletion and disposal of personal data, please refer to the Company's Data Retention Policy.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-security-use" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Security - Use of Personal Data</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#35">
<p>The Company shall ensure that the following measures are taken with respect to the use of personal data:<br /><br /> 15.1, No personal data may be shared informally and if an employee, agent, sub-contractor, or other party working on behalf of the Company<br /><br /> requires access to any personal data that they do not already have access to, such access should be formally requested from our DPO.<br /><br /> 15.2, No personal data may be transferred to any employees, agents, contractors, or other parties, whether such parties are working on behalf of the Company or not, without the authorisation of from our DPO.<br /><br /> 15.3, Personal data must be handled with care at all times and should not be left unattended or on view to unauthorised employees, agents, sub-contractors, or other parties at any time;<br /><br /> 15.4, If personal data is being viewed on a computer screen and the computer in question is to be left unattended for any period of time, the user must lock the computer and screen before leaving it; and<br /><br /> 15.5, Where personal data held by the Company is used for marketing purposes, it shall be the responsibility of our DPO to ensure that the appropriate consent is obtained and that no data subjects have opted out, whether directly or via a third-party service such as the TPS.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-security-it" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Security - IT Security</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#37">
<p>The Company shall ensure that the following measures are taken with respect to IT and information security:<br /><br /> 16.1, All passwords used to protect personal data should be changed regularly and should not use words or phrases that can be easily guessed or otherwise compromised. All passwords must contain a combination of uppercase and lowercase letters, numbers, and symbols. All software used by the Company is designed to require such passwords.;<br /><br /> 16.2, Under no circumstances should any passwords be written down or shared between any employees, agents, contractors, or other parties working on behalf of the Company, irrespective of seniority or department. If a password is forgotten, it must be reset using the applicable method. IT staff do not have access to passwords;<br /><br /> 16.3, All software (including, but not limited to, applications and operating systems) shall be kept up-to-date. The Company's IT staff shall be responsible for installing any and all security-related updates not more than 3 months after the updates are made available by the publisher or manufacturer or as soon as reasonably and practically possible, unless there are valid technical reasons not to do so; and<br /><br /> 16.4, No software may be installed on any Company-owned computer or device without the prior approval of our DPO.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="transferring-data-out" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Transferring Personal Data to a Country Outside the EEA</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#39">
<p>The Company may from time to time transfer ('transfer' includes making available remotely) personal data to countries outside of the EEA.<br /><br /> The transfer of personal data to a country outside of the EEA shall take place only if one or more of the following applies:<br /><br /> 17.1, The transfer is to a country, territory, or one or more specific sectors in that country (or an international organisation), that the European Commission has determined ensures an adequate level of protection for personal data;<br /><br /> 17.2, The transfer is to a country (or international organisation) which provides appropriate safeguards in the form of a legally binding agreement between public authorities or bodies; binding corporate rules; standard data protection clauses adopted by the European Commission; compliance with an approved code of conduct approved by a supervisory authority (e.g. the Information Commissioner's Office); certification under an approved certification mechanism (as provided for in the GDPR); contractual clauses agreed and authorised by the competent supervisory authority; or provisions inserted into administrative arrangements between public authorities or bodies authorised by the competent supervisory authority;<br /><br /> 17.3, The transfer is made with the informed consent of the relevant data subject(s);<br /><br /> 17.4, The transfer is necessary for the performance of a contract between the data subject and the Company (or for pre-contractual steps taken at the request of the data subject);<br /><br /> 17.5, The transfer is necessary for important public interest reasons;<br /><br /> 17.6, The transfer is necessary for the conduct of legal claims;<br /><br /> 17.7, The transfer is necessary to protect the vital interests of the data subject or other individuals where the data subject is physically or legally unable to give their consent; or<br /><br /> 17.8, The transfer is made from a register that, under UK or EU law, is intended to provide information to the public and which is open for access by the public in general or otherwise to those who are able to show a legitimate interest in accessing the register.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-retention" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Retention</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#41">
<p>The Company shall not keep personal data for any longer than is necessary in light of the purpose or purposes for which that personal data was originally collected, held, and processed.<br /><br /> When personal data is no longer required, all reasonable steps will be taken to erase or otherwise dispose of it without delay.<br /><br /> For full details of the Company's approach to data retention, including retention periods for specific personal data types held by the Company, please refer to our Data Protection Officer.<br /><br /> The above points do not affect the Data Subjects rights under this policy to have data erased (see following section)</p>
</div>

            </div>

            <hr class="my-0">

            <div id="access-rights" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Subject Access Rights</h3>
              </div>
              <!-- End Title -->

<div data-id="page#43">
<p>Data subjects may make subject access requests ("SARs") at any time to find out more about the personal data which the Company holds about them, what it is doing with that personal data, and why. Employees wishing to make a SAR should do using a Subject Access Request Form, sending the form to the Company's Data Protection Officer<br /><br /> Responses to SARs shall normally be made within one month of receipt, however this may be extended by up to two months if the SAR is complex and/or numerous requests are made. If such additional time is required, the data subject shall be informed.<br /><br /> All SARs received shall be handled by the Company's Data Protection Officer.<br /><br /> The Company does not charge a fee for the handling of normal SARs. The Company reserves the right to charge reasonable fees for additional copies of information that has already been supplied to a data subject, and for requests that are manifestly unfounded or excessive, particularly where such requests are repetitive.</p>
</div>


            </div>

            <hr class="my-0">

            <div id="objections" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Objections to Personal Data Processing and or intervention required to clarify decisions taken (Automated Decision Making)</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#45">
<p>Data subjects have the right to object to the Company processing their personal data based on legitimate interests, direct marketing (including profiling), and processing for scientific and/or historical research and statistics purposes.<br /><br /> Where a data subject objects to the Company processing their personal data based on its legitimate interests, the Company shall cease such processing immediately, unless it can be demonstrated that the Company's legitimate grounds for such processing override the data subject's interests, rights, and freedoms, or that the processing is necessary for the conduct of legal claims.<br /><br /> Where a data subject objects to the Company processing their personal data for direct marketing purposes, the Company shall cease such processing immediately.<br /><br /> Where a data subject objects to the Company processing their personal data for scientific and/or historical research and statistics purposes, the data subject must, under the GDPR, "demonstrate grounds relating to his or her particular situation". The Company is not required to comply if the research is necessary for the performance of a task carried out for reasons of public interest.<br /><br /> The Company does not currently use personal data in automated decision-making processes.<br /><br /> Where such decisions have a legal (or similarly significant effect) on data subjects, those data subjects have the right to challenge to such decisions under the GDPR, requesting human intervention, expressing their own point of view, and obtaining an explanation of the decision from the Company.<br /><br /> The rights described above does not apply in the following circumstances:<br /><br /> 20.1, The decision is necessary for the entry into, or performance of, a contract between the Company and the data subject;<br /><br /> 20.2, The decision is authorised by law; or<br /><br /> 20.3, The data subject has given their explicit consent.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="right-to-be-forgotten" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Erasure or the 'right to be forgotten' or restrictions of Personal Data</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#47">
<p>Data subjects have the right to request that the Company erases the personal data it holds about them in the following circumstances:<br /><br /> 21.1, It is no longer necessary for the Company to hold that personal data with respect to the purpose(s) for which it was originally collected or processed;<br /><br /> 21.2, The data subject wishes to withdraw their consent to the Company holding and processing their personal data;<br /><br /> 21.3, The data subject objects to the Company holding and processing their personal data (and there is no overriding legitimate interest to allow the Company to continue doing so) (see Part 18 of this Policy for further details concerning the right to object);<br /><br /> 21.4, The personal data has been processed unlawfully;<br /><br /> 21.5, The personal data needs to be erased in order for the Company to comply with a particular legal obligation; or.<br /><br /> 21.6, The personal data is being held and processed for the purpose of providing information society services to a child.<br /><br /> Unless the Company has reasonable grounds to refuse to erase personal data, all requests for erasure shall be complied with, and the data subject informed of the erasure, within one month of receipt of the data subject's request. The period can be extended by up to two months in the case of complex requests. If such additional time is required, the data subject shall be informed.<br /><br /> In the event that any personal data that is to be erased in response to a data subject's request has been disclosed to third parties, those parties shall be informed of the erasure (unless it is impossible or would require disproportionate effort to do so).<br /><br /> Data subjects may request that the Company ceases processing the personal data it holds about them. If a data subject makes such a request, the Company shall retain only the amount of personal data concerning that data subject (if any) that is necessary to ensure that the personal data in question is not processed further.<br /><br /> In the event that any affected personal data has been disclosed to third parties, those parties shall be informed of the applicable restrictions on processing it (unless it is impossible or would require disproportionate effort to do so). 21.7, Data subjects have the right to require the Company to rectify any of their personal data that is inaccurate or incomplete.<br /><br /> 21.8, The Company shall rectify the personal data in question, and inform the data subject of that rectification, within one month of the data subject informing the Company of the issue. The period can be extended by up to two months in the case of complex requests. If such additional time is required, the data subject shall be informed.<br /><br /> 21.9, In the event that any affected personal data has been disclosed to third parties, those parties shall be informed of any rectification that must be made to that personal data.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="profiling" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Profiling</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#49">
<p>The Company currently does not use personal data for profiling purposes.<br /><br /> When personal data is used for profiling purposes, the following shall apply:<br /><br /> 22.1, Clear information explaining the profiling shall be provided to data subjects, including the significance and likely consequences of the profiling;<br /><br /> 22.2, Appropriate mathematical or statistical procedures shall be used;<br /><br /> 22.3, Technical and organisational measures shall be implemented to minimise the risk of errors. If errors occur, such measures must enable them to be easily corrected; and<br /><br /> 22.4, All personal data processed for profiling purposes shall be secured in order to prevent discriminatory effects arising out of profiling</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-portability" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Portability</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#51">
<p>23.1, The Company processes personal data using automated means, such as logging in to an online account and migrating your data.<br /><br /> 23.2, Where data subjects have given their consent to the Company to process their personal data in such a manner, or the processing is otherwise<br /><br /> required for the performance of a contract between the Company and the data subject, data subjects have the right, under the GDPR, to receive a copy of their personal data and to use it for other purposes (namely transmitting it to other data controllers).<br /><br /> 23.3, To facilitate the right of data portability, the Company shall make available all applicable personal data to data subjects in the following formats:<br /><br /> 1.1.1 MS Word (Docx) / Comma Separated Values (CSV) / Portable Document Format (PDF)<br /><br /> 23.4, Where technically feasible, if requested by a data subject, personal data shall be sent directly to the required data controller.<br /><br /> 23.5, All requests for copies of personal data shall be complied with within one month of the data subject's request. The period can be extended by up to two months in the case of complex or numerous requests. If such additional time is required, the data subject shall be informed.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="data-breach" class="u-space-2">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Data Breach Notification</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#53">
<p>24.1, All personal data breaches must be reported immediately to the Company's Data Protection Officer.<br /><br /> 24.2, If a personal data breach occurs and that breach is likely to result in a risk to the rights and freedoms of data subjects (e.g. financial loss, breach of confidentiality, discrimination, reputational damage, or other significant<br /><br /> social or economic damage), the Data Protection Officer must ensure that the Information Commissioner's Office is informed of the breach without delay, and in any event, within 72 hours after having become aware of it.<br /><br /> 24.3, In the event that a personal data breach is likely to result in a high risk (that is, a higher risk than that described under Part 24.2) to the rights and freedoms of data subjects, the Data Protection Officer must ensure that all affected data subjects are informed of the breach directly and without undue delay.<br /><br /> 24.4, Data breach notifications shall include the following information:<br /><br /> 24.5, The categories and approximate number of data subjects concerned;<br /><br /> 24.6, The categories and approximate number of personal data records concerned;<br /><br /> 24.7, The name and contact details of the Company's data protection officer (or other contact point where more information can be obtained);<br /><br /> 24.8, The likely consequences of the breach;<br /><br /> 24.9, Details of the measures taken, or proposed to be taken, by the Company to address the breach including, where appropriate, measures to mitigate its possible adverse effects.</p>
</div>

            </div>

            <hr class="my-0">

            <div id="policy-implementation" class="u-space-2-top">
              <!-- Title -->
              <div class="mb-3">
                <h3 class="text-primary font-weight-bold">Policy Implementation</h3>
              </div>
              <!-- End Title -->

              <div data-id="page#55">
<p>The effective date of this policy is 14th May 2018. No part of this Policy shall have retroactive effect and shall thus apply only to matters occurring on or after this date. The policy is due for an optional review no later than the 30th January 2019</p>
<p><span style="color: #000000;"><strong>&copy; TriForce Tokens Ltd, Privacy Policy 14/08/2018</strong></span></p>
</div>

            </div>

          </div>
        </div>
      </div>
    </div>



    <div id="stickyBlockEndPoint"></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0 u-space-1-bottom">
          <!-- Contacts Info -->
          <div class="media pr-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fa fa-envelope u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Can't find your answer?</h3>
              <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
              <a class="font-size-14" href="/contact">Contact us <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-lg-6">
          <!-- Contacts Info -->
          <div class="media pl-lg-9">
            <div class="d-flex pr-4">
              <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                <span class="fab fa-discord u-icon__inner"></span>
              </span>
            </div>

            <div class="media-body">
              <h3 class="h5">Technical questions</h3>
              <p class="mb-1">Have some technical questions? Reach out to us on Discord.</p>
              <a class="font-size-14" href="https://discord.gg/ueyw6Z">Discord Server <span class="fa fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>

      <hr class="my-0">
    </div>
    
  </main>



<%- partial('./partials/footer.ejs') %>