<%- partial('./partials/header.ejs') %>

<main id="content" role="main">

    <div class="container u-space-4-top u-space-2-bottom">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--warning mb-2">Community Growth</span>
        <h2 class="text-primary">Grow your <span class="font-weight-bold">player community</span></h2>
        <p>Implement our player attraction and retention technology to drive new audiences to your game and keep them playing.</p>
      </div>
      <!-- End Title -->

  		<div class="container u-space-2">
      		<div class="row align-items-lg-center">
		        <div class="col-lg-5 mb-7 mb-lg-0">
		          <!-- Title -->
		          <div class="pr-lg-4">
		            <span class="u-icon u-icon-primary--air rounded-circle mb-3">
		              <span class="small font-weight-bold u-icon__inner">01.</span>
		            </span>
		            <h2 class="h4 text-primary"><strong>Player Rewards</strong></h2>
		            <p class="mb-0">Our player reward platform <a href="https://raidparty.io">RaidParty</a>, can integrate directly with your game and drive new audiences. As players complete challenges that we define with you, players will be rewarded tokens that can be redeemed for digital products and merchandise.</p>
		          </div>
		          <!-- End Title -->
		        </div>

		        <div class="col-lg-7 mb-7 mb-lg-0">
		          <!-- SVG Icon -->
		          <img class="img-fluid" src="/images/platforms/raidparty-platform.png" alt="RaidParty Platform">
		          <!-- End SVG Icon -->
		        </div>
      		</div>
	    </div>


	    <div class="container u-space-2">
      		<div class="row align-items-lg-center">
      			<div class="col-lg-7 mb-7 mb-lg-0">
		          <!-- SVG Icon -->
		          <img class="img-fluid" src="/images/wargate-retention-graph.png" alt="Wargate Retention Increase">
		          <p><small>* Image shown above is a live campaign we run for Wargate, showing 50&percnt; retention day 1</small></p>
		          <!-- End SVG Icon -->
		        </div>
		        <div class="col-lg-5 mb-7 mb-lg-0">
		          <!-- Title -->
		          <div class="pr-lg-4">
		            <span class="u-icon u-icon-primary--air rounded-circle mb-3">
		              <span class="small font-weight-bold u-icon__inner">02.</span>
		            </span>
		            <h2 class="h4 text-primary"><strong>Increase Retention</strong></h2>
		            <p class="mb-0">Our model is proven to increase player retention in your game. Every game we launched performed above industry standards, with some achieving over 214&percnt; increase.</p>
		          </div>
		          <!-- End Title -->
		        </div>
      		</div>
	    </div>
    </div>

    <div class="position-relative u-gradient-half-warning-v1">
	      <div class="container position-relative z-index-2">
	        <div class="row">
	          <div class="col-lg-6">
	            <!-- Hire Us -->
	            <div class="d-flex align-items-center u-space-2 min-height-380 pr-lg-7">
	              <div class="d-block">
	                <h2 class="text-white">Have a game?</h2>
	                <p class="u-text-light mb-4">Hire us. Our top professionals are ready to help.</p>
	                <a class="btn text-primary u-btn-white u-btn-wide transition-3d-hover" href="/studio-signup">Submit Your Game</a>
	              </div>
	            </div>

	            <div class="w-50 position-absolute-bottom-right-0 mr-7">
	              <img src="/images/hire-us-flat-concept-illustration.svg" alt="SVG Illustration">
	            </div>
	            <!-- End Hire Us -->
	          </div>

	          <div class="col-lg-6">
	            <!-- Contact Us -->
	            <div class="d-flex align-items-center u-space-2 min-height-380 pl-lg-7">
	              <div class="d-block">
	                <h2 class="text-white">Get in touch</h2>
	                <p class="u-text-light mb-4">If you would like to find out more, please give us a call or drop us an email.</p>
	                <a class="btn text-warning u-btn-white u-btn-wide transition-3d-hover" href="/contact">Contact Us</a>
	              </div>
	            </div>

	            <div class="w-50 position-absolute-bottom-right-0">
	              <img src="/images/pushing-boundries-flat-concept-illustration.svg" alt="SVG Illustration">
	            </div>
	            <!-- End Contact Us -->
	          </div>
	        </div>
	      </div>

	      <div class="col-lg-6 u-gradient-half-primary-v1 position-absolute-top-left-0 min-height-380"></div>
	    </div>


  </main>

<%- partial('./partials/footer.ejs') %>