
<header class="padding-top40">
            
	<div class="container">
		
		<div class="survey-header banner-content text-center animation animated animation-fade-in-down" data-animation="animation-fade-in-down">
			<img class="header-logo" src="/images/logo-white.png" alt="TriForce Tokens Logo" />
			<h1>Market Research Survey 2017</h1>
			<h2>Complete the survey below to claim your <u>&pound;50 in Bitcoin</u></h2>
		</div>
		
	</div>
	
</header>


<section class="feature-section">

	<div class="container">
	
		<div class="col-sm-12 col-md-12 col-lg-12">

            <% if(flash.has('errors')){ %>
            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12">
                <% flash.get('errors').forEach(function (message) { %>
                <h4 class="error"><i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%= message %></h4>
                <% }) %>
            </div>
            <% } %>

            <% if(flash.has('success')){ %>
            <div class="alert alert-success col-lg-12 col-md-12 col-sm-12">
                <% flash.get('success').forEach(function (message) { %>
                <h4 class="success"><i class="fa fa-exclamation-check"></i> &nbsp;&nbsp;<%= message %></h4>
                <% }) %>
            </div>
            <% } %>

			
			<p>Please note after completing this survey your personal details will be destroyed once we have
			analysed the results, unless you specifically opt-in at the end to receive updates about our product launch.</p>
			
			<p>In order to claim your free &pound;50 in Bitcoins you will need to enter your email so that we can verify you
			are a valid responder from our contact list.</p>
			
			<p>Finally, we thank you for taking the time to complete this short survey, it will help us create a better product that will
			benefit individuals/companies like yourself.</p>
			
			<hr />
			
			<form id="surveyForm" class="survey-form" method="post" action="">
			
				<div class="form-group">
					<label>What type of game development individual/company best represents you?</label>
                    <select class="form-control" required="required" name="companyType">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Hobby or Part-Time">Hobby or Part-Time</option>
                        <option value="Indie Developer">Indie Developer</option>
                        <option value="Consultant / Freelance">Consultant / Freelance</option>
                        <option value="Employed by development company">Employed by development company</option>
                        <option value="Business Owner">Business Owner</option>
                    </select>
				</div>


                <div class="form-group">
                    <label>What game platforms have you developed for or plan to?</label>
                    <br />
                    <strong><input type="checkbox" name="platforms[]" value="Windows/Desktop/PC" /> - Windows/Desktop/PC</strong><br />
                    <strong><input type="checkbox" name="platforms[]" value="MacOS" /> - MacOS</strong><br />
                    <strong><input type="checkbox" name="platforms[]" value="Linux" /> - Linux</strong><br />
                    <strong><input type="checkbox" name="platforms[]" value="Android" /> - Android</strong><br />
                    <strong><input type="checkbox" name="platforms[]" value="iOS" /> - iOS</strong><br />
                    <strong><input type="checkbox" name="platforms[]" value="Consoles" /> - Consoles</strong>
                </div>


				
				<div class="form-group">
					<label>What is the largest revenue generator for you with game development?</label>
                    <select class="form-control" required="required" name="largestRevenue">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Client Work">Client Work</option>
                        <option value="In-app purchases">In-app purchases</option>
                        <option value="In-app advertisement">In-app advertisement</option>
                        <option value="Digital Sales">Digital Sales</option>
                        <option value="Salary">Salary</option>
                        <option value="Other">Other</option>
                    </select>
				</div>
				
				
				
				<div class="form-group">
					<label>Do you earn revenue from in-app and/or digital purchases?</label>
                    <select class="form-control" required="required" name="inappRevenue">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Yes">Yes</option>
                        <option value="Not Yet">Not Yet</option>
                        <option value="No, and I don't plan to">No, and I don't plan to</option>
                    </select>
				</div>


				
				<div class="form-group">
					<label>Do any games you have worked on include it's own in-game currency, coins or reward points for players?</label>
                    <select class="form-control" required="required" name="offerOwnCurrency">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
				</div>


                <div class="form-group">
                    <label>Would you use a new third party in-game currency/reward system if you earned revenues from it?</label>
                    <select class="form-control" required="required" name="switchProvider">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Yes">Yes</option>
                        <option value="Maybe, but it depends on other factors">Maybe, but it depends on other factors</option>
                        <option value="No">No</option>
                        <option value="Not Applicable">Not Applicable</option>
                    </select>
                </div>

				
				<div class="form-group">
                    <label>If there was an easy way to offer player to player betting in your games, that
                        was legally viable, and that you could earn a percentage of, would it be suitable
                        for your games and would you implement it?</label>
                    <select class="form-control" required="required" name="offerPlayerBetting">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="I already do">I already do</option>
                        <option value="I would like to">I would like to</option>
                        <option value="It doesn't interest me">It doesn't interest me</option>
                        <option value="It's not suitable for my games">It's not suitable for my games</option>
                    </select>
				</div>
				
				
				<div class="form-group">
					<label>Given the following options, if you could offer your players a way to trade
					their in-game items with each other, would you:</label>

                    <select class="form-control" required="required" name="offerPlayerItemTrading">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Integrate it without earning revenue">Integrate it without earning revenue</option>
                        <option value="Integrate it only if I earned revenue from it">Integrate it only if I earned revenue from it</option>
                        <option value="I already offer my players that, but I don't earn revenue from it">I already offer my players that, but I don't earn revenue from it</option>
                        <option value="I already offer my players that and already earn revenue from it">I already offer my players that and already earn revenue from it</option>
                        <option value="Not suitable for my games / I would not offer my players that">Not suitable for my games / I would not offer my players that</option>
                    </select>
				</div>
				
				
				
				<div class="form-group">
					<label>If there was an easy way to integrate a universal gaming currency into your games that offers
					players a way to trade, exchange, bet and purchase goods while you keep 100&percnt; revenues, what
                        would best describe your feelings about such technology?</label>

                    <select class="form-control" required="required" name="goodIdea">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Sounds fantastic!">Sounds fantastic!</option>
                        <option value="I'm open to the idea">I'm open to the idea</option>
                        <option value="I already use one">I already use one</option>
                        <option value="It's not suitable for my type of games">It's not suitable for my type of games</option>
                        <option value="I don't think it could work">I don't think it could work</option>
                        <option value="It's a bad idea">It's a bad idea</option>
                    </select>
				</div>


                <div class="form-group">
                    <label>Have any games you have worked on implemented any player to player honour or ranking system?</label>
                    <select class="form-control" required="required" name="hasRankingSystem">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Would you implement any third party honour/ranking system that used a universal network
                    to potentially identify problem players or promote ethical behaviours amongst players?</label>
                    <select class="form-control" required="required" name="useRankingSystem">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="Yes">Yes</option>
                        <option value="Maybe">Maybe, it would depend on other factors</option>
                        <option value="No">No</option>
                    </select>
                </div>
				
				
				<div class="form-group">
					<label>Would you be happy to become a supporter of our project?<br />
                        <span class="small">(We're not seeking financial support, but we may like to feature you in our
                            promotional material as a supporter.)</span></label>
                    <select class="form-control" required="required" name="becomeSupporter">
                        <option value="">--- PLEASE SELECT ---</option>
                        <option value="I need to know more about your project">I need to know more about your project</option>
                        <option value="Yes">Yes</option>
                        <option value="Not right now">Not right now</option>
                    </select>
				</div>



				<div class="form-group">
					<label>Would you like to join our subscriber list to receive updates about the project? Your details will
					never be shared with any third parties.</label>
                    <br />
                    <strong><input type="checkbox" name="optin" value="true" /> - Yes</strong>
				</div>


                <div class="form-group">
                    <label>Please enter your company name (if applicable)</label>
                    <input class="form-control" type="text" name="companyName" />
                </div>
				
				
				<div class="form-group">
					<label>So that we can issue your Bitcoin reward, please enter your email below so we can verify your
                        response.</label>
					<input class="form-control" type="email" name="email" />
				</div>


                <div class="form-group">
                    <label>Are there any additional comments you would like to make that would further help our research?</label>
                    <textarea name="comments" rows="6" class="form-control" ></textarea>
                </div>

				
				<button class="btn btn-success btn-block btn-xl" type="submit" name="completeSurvey">Submit Survey &amp; Claim My Bitcoins</button>

                <br />
                <p>Once you complete this survey we will verify your details against our list of respondents, destroy
                any details we hold about you unless you choose to opt-in to our subscriber list, and finally
                analyse the results. Then once we complete our investment round we contact you to send your &pound;50 Bitcoin
                reward.</p>

                <input id="rel" type="hidden" name="rel" value="2" />
			
			</form>
		
		</div>
		
		
	</div>

</section>