<%- partial('./partials/header.ejs') %>

<main id="content" role="main">




<div class="container u-space-4-top u-space-1-bottom">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-auto">
        <span class="u-label u-label--sm u-label--success mb-2">Our Team</span>
        <h2 class="text-primary">Trust the <span class="font-weight-bold">professionals</span></h2>
        <p>Our experienced and creative team will be as passionate about your game, as you are.</p>
      </div>
      <!-- End Title -->

      <div class="u-slick u-slick--gutters-3 slick-initialized slick-slider slick-dotted" data-slides-show="2" data-slides-scroll="1" data-pagi-classes="text-center u-slick__pagination mt-7 mb-0">

        <div class="slick-list">
          <div class="slick-track" style="opacity: 1; width: 2284px; transform: translate3d(0px, 0px, 0px);">

            <div class="row u-space-2-top">
              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Pete Mardell</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Founder &amp; CEO</span>
                    <p class="font-size-14">Passionate about technology and how it can be used to improve businesses and relationships.</p>
                    <p class="font-size-14">Highly experienced software engineer, skilled in C#, Node.js, Angular, PHP and SQL.</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/petemardell/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/PeteDMardell" tabindex="0">
                          <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://github.com/mrpetef10" tabindex="0">
                          <span class="fab fa-github u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/pete-mardell-large-square.png" alt="Image Description">
                  </div>
                </div>
                <!-- End Team -->
              </div>


              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Jacob Ashby</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Chief Operations Officer</span>
                    <p class="font-size-14">A highly motivated Entrepreneur, who is passionate about gaming and emerging technology.</p>
                    <p class="font-size-14">International Business graduate from University of Westminster, London and Lycoming College, PA (USA).</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/jacob-ashby-04186a39/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/JacobAshby" tabindex="0">
                          <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/jake-ashby-large-square.png" alt="Jake Ashby">
                  </div>
                </div>
                <!-- End Team -->
              </div>

            </div>




              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Ram Narayanan</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Software Engineer and Lead Architect</span>
                    <p class="font-size-14">A highly skilled individual with a wealth of technology knowledge. Most of his waking hours are spent as an Entrepreneur, Coder, Strategist, Consultant &amp; New Product Development.</p>
                    <p class="font-size-14">Core skills include Python, Javascript, UX &amp; UI and related frameworks.</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/ramreva/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://github.com/ralstonia" tabindex="0">
                          <span class="fab fa-github u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/ram-large-square.png" alt="Jake Ashby">
                  </div>
                </div>
                <!-- End Team -->
              </div>

            </div>



            <div class="row u-space-2-top">
              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Jakub Kafarski</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Front-end Software Engineer</span>
                    <p class="font-size-14">Jakub has a wealth of software engineering experience, particularly front-end development.</p>
                    <p class="font-size-14">His skills include, but not limited to, React.js, Vue, Angular and Python.</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/jakub-kafarski/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://github.com/jakubkafarski" tabindex="0">
                          <span class="fab fa-github u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/jakub-kafarski-large-square.png" alt="Jakub Kafarski">
                  </div>
                </div>
                <!-- End Team -->
              </div>


              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Kacy Vendel</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Lead Marketing Executive</span>
                    <p class="font-size-14">Kacy has a passion for community growth and management, with extensive experience of crypto community management.</p>
                    <p class="font-size-14">Kacy has worked with; DigiLabz blockchain consultancy, Experience Points gaming crypto project.</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/kacy-vendel-12ba04169/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/Glitt3r97" tabindex="0">
                          <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/kacy-vendel-large-square.png" alt="Jake Ashby">
                  </div>
                </div>
                <!-- End Team -->
              </div>

            </div>




            <div class="row u-space-2-top">
              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Amin Rafizadeh</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Game Director &amp; Graphic Designer</span>
                    <p class="font-size-14">Amin is able to perform almost all aspects of game development and production including 2d&3d modeling, level design, character sculpture, texturing, animation, advertisement (including promo image and videos).</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/amin-rafizadeh/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/AMiN_Rafizadeh" tabindex="0">
                          <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/amin-large-square.png" alt="Amin Rafizadeh">
                  </div>
                </div>
                <!-- End Team -->
              </div>


              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Arash Rafizadeh</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Game Programmer</span>
                    <p class="font-size-14">Arash is able to perform all aspects of game programming including mechanics, application, network and AI.</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/arash-rafizadeh/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/arash-large-square.png" alt="Arash Rafizadeh">
                  </div>
                </div>
                <!-- End Team -->
              </div>

            </div>




            <div class="row u-space-2-top">
              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Tib Palin</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Business Developer</span>
                    <p class="font-size-14">Tib is a Senior Blockchain Growth Advisor with extensive experience in blockchain and cryptocurrency marketing, PR, communications, and community building, which he's done for UTRUST and Viuly</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/tibpalin/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/tib-palin-large-square.png" alt="Tib Palin">
                  </div>
                </div>
                <!-- End Team -->
              </div>


              <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                <!-- Team -->
                <div class="row">
                  <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                    <h3 class="h5 mb-4">Wayne Barker</h3>
                    <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Social Media and PR Manager</span>
                    <p class="font-size-14">Wayne is a Senior Account Manager with leading industry company Bitcoin PR Buzz. He has experience in PR Writing, Editing and Social Media Management. He has worked with such cryptocurrency companies as UTRUST and Viuly.</p>

                    <!-- Social Networks -->
                    <ul class="list-inline mt-auto mb-0">
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/Bit_Fellas" tabindex="0">
                          <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                      </li>
                      <li class="list-inline-item mx-0">
                        <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/wayne-barker-14405b152/" tabindex="0">
                          <span class="fab fa-linkedin-in u-icon__inner"></span>
                        </a>
                      </li>
                    </ul>
                    <!-- End Social Networks -->
                  </div>
                  <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="/images/team/wayne-barker-large-square.png" alt="Jake Ashby">
                  </div>
                </div>
                <!-- End Team -->
              </div>

            </div>
          </div>


          <div class="u-space-3-top">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-auto">
              <span class="u-label u-label--sm u-label--success mb-2">Advisors</span>
              <h2 class="text-primary">Board of <span class="font-weight-bold">advisors</span></h2>
              <p>Our advisors are mixture of seasoned executives and games industry experts. You're in safe hands.</p>
            </div>
            <!-- End Title -->


            <div class="u-slick u-slick--gutters-3 slick-initialized slick-slider slick-dotted" data-slides-show="2" data-slides-scroll="1" data-pagi-classes="text-center u-slick__pagination mt-7 mb-0">

              <div class="slick-list">
                <div class="slick-track" style="opacity: 1; width: 2284px; transform: translate3d(0px, 0px, 0px);">



                  <div class="row u-space-2-top">
                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Danny Montaner</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">E-Sports Industry Legend</span>
                          <p class="font-size-14">fRoD' Montaner was a professional gamer for over 12 years, won multiple world championships, voted Counter-Strike Player of the year in 2005 and North American Player of the Decade. </p>
                          <p class="font-size-14">Previously a manager/consultant in Esports for teams such as compLexity, Evil Geniuses, and FaZe Clan.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/danielmontaner/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/officialfrod" tabindex="0">
                                <span class="fab fa-twitter u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/danny-montaner-large-square.png" alt="Danny Montaner">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>


                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Tyrin Davidson</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Former LoL Challenger Rank</span>
                          <p class="font-size-14">Tyrin best known for his role as semi-pro League of Legends challenger rank player.</p>
                          <p class="font-size-14">He regularly attends gaming conventions and events.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/DandyChapLoL" tabindex="0">
                                <span class="fab fa-twitter u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/tyrin-davidson-large-square.png" alt="Tyin Davidson">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>
                  </div>






                  <div class="row u-space-2-top">
                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Ankur Maheshwari</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Research Director Techracers</span>
                          <p class="font-size-14">More than 15 years of experience in software development. Still a hands-on programmer, love experimenting.</p>
                          <p class="font-size-14">Currently Director of Research for Techracers blockchain studio.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/ankur-maheshwari-9ab2a215/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/ankur-large-square.png" alt="Ankur Maheshwari">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>


                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Vadim Bulatov</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Games Industry Expert</span>
                          <p class="font-size-14">Marketing Lead who pride myself on being at the cutting edge of social media, customer experience and digital marketing thinking.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/vadimbulatov/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/vadim-bulatov-large-square.png" alt="Vadim Bulatov">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>
                  </div>





                  <div class="row u-space-2-top">
                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Zahid Ali</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Investor Relations</span>
                          <p class="font-size-14">Strategic Development & Marketing, Law and European Business graduate.</p>
                          <p class="font-size-14">Primary focus on development and stratergy in the latter years, with online tech solutions and blockchain advisory more recently.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/zahid-ali-9b899a40/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/zahid-ali-large-square.png" alt="Zahid Ali">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>


                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Kate Breed</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Business Strategy</span>
                          <p class="font-size-14">Strategic thinker with proven track record of setting robust plans and delivering to agreed time, cost and quality criteria. </p>
                          <p class="font-size-14">BSc (hons) molecular and cellular biology, certifications in project management and business case appraisal, senior consultant at Altran.</p>
                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/kate-breed-bb082819/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/ksbreed" tabindex="0">
                                <span class="fab fa-twitter u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/kate-breed-large-square.png" alt="Kate Breed">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>
                  </div>




                  <div class="row u-space-2-top">
                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Owen Ashby</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Business Strategy (Director, Klarifi)</span>
                          <p class="font-size-14">Owen is a business strategist and sales and marketing expert approaching 30 years' of experience.</p>
                          <p class="font-size-14">His extensive knowledge and expertise has seen him take SME organisations into strategic alliance partnerships with the "Big Four" audit firms, break into and develop a symbiotic joint venture approach with the NHS and secure multi-year large scale contracts across the whole of the UK Civil Service.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/owen-ashby-a12722/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/owenashby" tabindex="0">
                                <span class="fab fa-twitter u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/owen-ashby-large-square.png" alt="Owen Ashby">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>


                    <div class="px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
                      <!-- Team -->
                      <div class="row">
                        <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                          <h3 class="h5 mb-4">Rick O'Neill</h3>
                          <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">Marketing Strategy</span>
                          <p class="font-size-14">Rick has over 20 years experience in starting, growing and exiting creative and marketing companies. He has delivered over 50,000 hours of digital projects. Rick is Advisor, Non-Exec, or Investor to several other companies in the Blockchain sector.</p>

                          <!-- Social Networks -->
                          <ul class="list-inline mt-auto mb-0">
                            <li class="list-inline-item mx-0">
                              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.linkedin.com/in/looktouchfeel/" tabindex="0">
                                <span class="fab fa-linkedin-in u-icon__inner"></span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Social Networks -->
                        </div>
                        <div class="col-sm-6">
                          <img class="img-fluid rounded mx-auto" src="/images/team/rick-oniell-large-square.png" alt="Zahid Ali">
                        </div>
                      </div>
                      <!-- End Team -->
                    </div>
                  </div>



              </div>
            </div>

          </div>

        </div>

    </div>

    </div>

    </div>

    <div class="container u-space-3-top">
            <div class="row">
              <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0 u-space-1-bottom">
                <!-- Contacts Info -->
                <div class="media pr-lg-9">
                  <div class="d-flex pr-4">
                    <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                      <span class="fa fa-envelope u-icon__inner"></span>
                    </span>
                  </div>

                  <div class="media-body">
                    <h3 class="h5">Can't find your answer?</h3>
                    <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
                    <a class="font-size-14" href="/contact">Contact us <span class="fa fa-angle-right align-middle ml-2"></span></a>
                  </div>
                </div>
                <!-- End Contacts Info -->
              </div>

              <div class="col-lg-6">
                <!-- Contacts Info -->
                <div class="media pl-lg-9">
                  <div class="d-flex pr-4">
                    <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
                      <span class="fab fa-discord u-icon__inner"></span>
                    </span>
                  </div>

                  <div class="media-body">
                    <h3 class="h5">Technical questions</h3>
                    <p class="mb-1">Have some technical questions? Reach out to us on Discord.</p>
                    <a class="font-size-14" href="https://discord.gg/Bnfpqrk">Discord Server <span class="fa fa-angle-right align-middle ml-2"></span></a>
                  </div>
                </div>
                <!-- End Contacts Info -->
              </div>
            </div>

            <hr class="my-0">
          </div>

</main>

<%- partial('./partials/footer.ejs') %>