<%- partial('./partials/header.ejs') %>

<main id="content" role="main">




<div class="container u-space-4">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--success mb-2">Our Team</span>
        <h2 class="text-primary">Trust the <span class="font-weight-bold">professionals</span></h2>
        <p>Our experienced and creative team will be as passionate about your game, as you are.</p>
      </div>
      <!-- End Title -->

      <!-- Slick Carousel -->
      <div class="js-slick-carousel u-slick u-slick--gutters-3 slick-initialized slick-slider slick-dotted" data-slides-show="2" data-slides-scroll="1" data-pagi-classes="text-center u-slick__pagination mt-7 mb-0" data-responsive="[{
             &quot;breakpoint&quot;: 992,
             &quot;settings&quot;: {
               &quot;slidesToShow&quot;: 1
             }
           }, {
             &quot;breakpoint&quot;: 768,
             &quot;settings&quot;: {
               &quot;slidesToShow&quot;: 1
             }
           }, {
             &quot;breakpoint&quot;: 554,
             &quot;settings&quot;: {
               &quot;slidesToShow&quot;: 1
             }
           }]">
        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2284px; transform: translate3d(0px, 0px, 0px);"><div class="js-slide px-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" style="width: 539px; height: auto;">
          <!-- Team -->
          <div class="row">
            <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
              <h3 class="h5 mb-4">Maria Muszynska</h3>
              <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">#maria</span>
              <p class="font-size-14">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

              <!-- Social Networks -->
              <ul class="list-inline mt-auto mb-0">
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="0">
                    <span class="fab fa-facebook-f u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="0">
                    <span class="fab fa-google u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="0">
                    <span class="fab fa-twitter u-icon__inner"></span>
                  </a>
                </li>
              </ul>
              <!-- End Social Networks -->
            </div>
            <div class="col-sm-6">
              <img class="img-fluid rounded mx-auto" src="../../assets/img/350x400/img1.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Team -->
        </div><div class="js-slide px-3 slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 539px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide21" aria-describedby="slick-slide-control21">
          <!-- Team -->
          <div class="row">
            <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
              <h3 class="h5 mb-4">Jack Wayley</h3>
              <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">#jack</span>
              <p class="font-size-14">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

              <!-- Social Networks -->
              <ul class="list-inline mt-auto mb-0">
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="0">
                    <span class="fab fa-facebook-f u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="0">
                    <span class="fab fa-google u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="0">
                    <span class="fab fa-twitter u-icon__inner"></span>
                  </a>
                </li>
              </ul>
              <!-- End Social Networks -->
            </div>
            <div class="col-sm-6">
              <img class="img-fluid rounded mx-auto" src="../../assets/img/350x400/img2.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Team -->
        </div><div class="js-slide px-3 slick-slide" data-slick-index="2" aria-hidden="true" style="width: 539px; height: auto;" tabindex="-1" role="tabpanel" id="slick-slide22" aria-describedby="slick-slide-control22">
          <!-- Team -->
          <div class="row">
            <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
              <h3 class="h5 mb-4">Emmely Jackson</h3>
              <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">#emmely</span>
              <p class="font-size-14">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

              <!-- Social Networks -->
              <ul class="list-inline mt-auto mb-0">
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="-1">
                    <span class="fab fa-facebook-f u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="-1">
                    <span class="fab fa-google u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="-1">
                    <span class="fab fa-twitter u-icon__inner"></span>
                  </a>
                </li>
              </ul>
              <!-- End Social Networks -->
            </div>
            <div class="col-sm-6">
              <img class="img-fluid rounded mx-auto" src="../../assets/img/350x400/img3.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Team -->
        </div><div class="js-slide px-3 slick-slide" data-slick-index="3" aria-hidden="true" style="width: 539px; height: auto;" tabindex="-1" role="tabpanel" id="slick-slide23" aria-describedby="slick-slide-control23">
          <!-- Team -->
          <div class="row">
            <div class="col-sm-6 d-sm-flex align-items-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
              <h3 class="h5 mb-4">Mark McManus</h3>
              <span class="badge u-badge-primary badge-pill u-badge-bigger mb-3">#mark</span>
              <p class="font-size-14">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

              <!-- Social Networks -->
              <ul class="list-inline mt-auto mb-0">
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="-1">
                    <span class="fab fa-facebook-f u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="-1">
                    <span class="fab fa-google u-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="u-icon u-icon--sm u-icon-secondary--air" href="#" tabindex="-1">
                    <span class="fab fa-twitter u-icon__inner"></span>
                  </a>
                </li>
              </ul>
              <!-- End Social Networks -->
            </div>
            <div class="col-sm-6">
              <img class="img-fluid rounded mx-auto" src="../../assets/img/350x400/img4.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Team -->
        </div></div></div>

        

        

        
      <ul class="js-pagination text-center u-slick__pagination mt-7 mb-0" style="" role="tablist"><li class="slick-active slick-current" role="presentation"><span></span></li><li role="presentation"><span></span></li><li role="presentation"><span></span></li></ul></div>
      <!-- End Slick Carousel -->
    </div>



</main>

<%- partial('./partials/footer.ejs') %>