<%- partial('./partials/header.ejs') %>



<main id="content" role="main">
    <!-- Terms Title Section -->
    <div class="position-relative">
      <div class="container u-space-4-top u-space-5-top--md u-space-3-bottom">
        <div class="w-md-80 w-lg-60">
          <h1 class="text-primary"><span class="font-weight-bold">Website Terms of Use</span></h1>

          <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our <a href="/privacy">privacy policy</a> govern TriForce Tokens Ltd's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
          <p>The term 'TriForce Tokens Ltd' or 'us' or 'we' refers to the owner of the website whose registered office is Au40 Bletchley Park Science & Innovation Centre, Sherwood Drive, Bletchley, Buckinghamshire, England, MK3 6EB. Our company registration number is 10844811. The term 'you' refers to the user or viewer of our website.</p>

        </div>
      </div>

      <!-- SVG Background Shapes -->
      <figure class="d-none d-lg-block w-lg-40 u-content-centered-y right-0 z-index-minus-1 ml-9">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 849.4 419.7" style="enable-background:new 0 0 849.4 419.7;" xml:space="preserve">
          <g>
            <linearGradient id="hireUsBgShape1" gradientUnits="userSpaceOnUse" x1="0.644" y1="109.4822" x2="84.356" y2="109.4822">
              <stop class="u-stop-color-gold-light" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-gold-dark" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape1)" d="M77.6,157.5L77.6,157.5c-7.3,5.4-17.7,3.7-23.1-3.6L3.8,84.5c-5.4-7.3-3.7-17.7,3.6-23.1l0,0
              c7.3-5.4,17.7-3.7,23.1,3.6l50.7,69.4C86.5,141.8,84.9,152.2,77.6,157.5z"></path>
          </g>
          <g>
            <linearGradient id="hireUsBgShape2" gradientUnits="userSpaceOnUse" x1="366.1731" y1="39.5945" x2="430.9116" y2="39.5945">
              <stop class="u-stop-color-primary" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-info" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape2)" d="M425.7,76.7L425.7,76.7c-5.7,4.1-13.7,2.9-17.8-2.8l-39.2-53.7c-4.1-5.7-2.9-13.7,2.8-17.8l0,0
              c5.7-4.1,13.7-2.9,17.8,2.8l39.2,53.7C432.6,64.6,431.4,72.6,425.7,76.7z"></path>
          </g>
          <linearGradient id="hireUsBgShape3" gradientUnits="userSpaceOnUse" x1="716" y1="109.4822" x2="739" y2="109.4822">
            <stop class="u-stop-color-primary" offset="7.500810e-08"></stop>
            <stop class="u-stop-color-info" offset="1"></stop>
          </linearGradient>
          <circle fill="url(#hireUsBgShape3)" cx="727.5" cy="109.5" r="11.5"></circle>
          <linearGradient id="hireUsBgShape4" gradientUnits="userSpaceOnUse" x1="0" y1="317.4822" x2="29" y2="317.4822">
            <stop class="u-stop-color-gold-light" offset="7.500810e-08"></stop>
            <stop class="u-stop-color-gold-dark" offset="1"></stop>
          </linearGradient>
          <circle fill="url(#hireUsBgShape4)" cx="14.5" cy="317.5" r="14.5"></circle>
          <g>
            <linearGradient id="hireUsBgShape5" gradientUnits="userSpaceOnUse" x1="139.1731" y1="371.5945" x2="203.9116" y2="371.5945">
              <stop class="u-stop-color-primary" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-info" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape5)" d="M198.7,408.7L198.7,408.7c-5.7,4.1-13.7,2.9-17.8-2.8l-39.2-53.7c-4.1-5.7-2.9-13.7,2.8-17.8l0,0
              c5.7-4.1,13.7-2.9,17.8,2.8l39.2,53.7C205.6,396.6,204.4,404.6,198.7,408.7z"></path>
          </g>
          <g>
            <linearGradient id="hireUsBgShape6" gradientUnits="userSpaceOnUse" x1="765.644" y1="368.4822" x2="849.356" y2="368.4822">
              <stop class="u-stop-color-gold-light" offset="7.500810e-08"></stop>
              <stop class="u-stop-color-gold-dark" offset="1"></stop>
            </linearGradient>
            <path fill="url(#hireUsBgShape6)" d="M842.6,416.5L842.6,416.5c-7.3,5.4-17.7,3.7-23.1-3.6l-50.7-69.4c-5.4-7.3-3.7-17.7,3.6-23.1v0
              c7.3-5.4,17.7-3.7,23.1,3.6l50.7,69.4C851.5,400.8,849.9,411.2,842.6,416.5z"></path>
          </g>
        </svg>
      </figure>
      <!-- End SVG Background Shapes -->
    </div>
    <!-- End Terms Title Section -->

    <div class="position-relative">
      <div class="container u-space-1-top u-space-1-top--md u-space-3-bottom">
<p><strong>A Our Terms</strong></p>
<p style="padding-left: 30px;">1 These Terms explain how you may use this website (the Site), which is provided by us free of charge.</p>
<p style="padding-left: 30px;">2 References in these Terms to the Site includes the following websites and all associated subdomains and web pages:</p>
<p style="padding-left: 60px;"><span id="span_id_sites">https://triforcetokens.io</span></p>
<p style="padding-left: 30px;">3 You should read these Terms carefully before using the Site.</p>
<p style="padding-left: 30px;">4 By accessing or using the Site or otherwise indicating your consent, you agree to be bound by these Terms and the documents referred to in them.</p>
<p style="padding-left: 30px;">5 If you do not agree with or accept any of these Terms, you should stop using the Site immediately.</p>
<p style="padding-left: 30px;">6 If you have any questions about the Site, please contact us by:</p>
<p style="padding-left: 60px;">e-mail: <span id="span_id_email">support@triforcetokens.io</span></p>
<p style="padding-left: 30px;">7 Definitions</p>
<p style="padding-left: 60px; text-align: left;"><em>Content</em></p>
<p style="padding-left: 90px; text-align: left;">means any text, images, video, audio or other multimedia content, software or other information or material submitted to or on the Site;</p>
<p style="padding-left: 60px; text-align: left;"><em>Terms</em></p>
<p style="padding-left: 90px; text-align: left;">means these terms and conditions of use as updated from time to time;</p>
<p style="padding-left: 60px; text-align: left;"><em>Intellectual property rights</em></p>
<p style="padding-left: 90px; text-align: left;">means rights such as copyright, trade marks, domain names, design rights, database rights, patents and all other intellectual property rights of any kind whether or not they are registered or unregistered (anywhere in the world);</p>
<p style="padding-left: 60px; text-align: left;"><em>Unwanted Submission</em></p>
<p style="padding-left: 90px; text-align: left;">has the meaning given to it in the section entitled "submitting information to the site";</p>

<p style="padding-left: 60px; text-align: left;"><em>Cookie policy</em></p>
<p style="padding-left: 90px; text-align: left;">means the policy (<span id="span_id_cookie"><a href="/privacy">/privacy</a></span>), which governs how we use cookies in the Site;</p>
<p style="padding-left: 60px; text-align: left;"><em>Online terms and conditions of sale</em></p>
<p style="padding-left: 90px; text-align: left;">means the terms and conditions which will apply to you ordering goods, services and/or digital content using the Site;</p>
<p style="padding-left: 60px; text-align: left;"><em>Privacy policy</em></p>
<p style="padding-left: 90px; text-align: left;">means the policy (<span id="span_id_privacy"><a href="/privacy">/privacy</a></span>), which governs how we process any personal data collected from you;</p>
<p style="padding-left: 60px; text-align: left;"><em>Site</em></p>
<p style="padding-left: 90px; text-align: left;">has the meaning given to it in clause 1.1;</p>
<p style="padding-left: 60px;"><em>We, us or our</em></p>
<p style="padding-left: 90px;">means <span id="span_id_website_operator">TriForce Tokens Ltd</span> (company registration number <span id="span_id_company_operator">10844811</span>) (VAT registration number <span id="span_id_vat">290006336</span>) the registered office of which is at:</p>
<p style="padding-left: 120px;"><span id="span_id_operator_address_company">Au40 Bletchley Park Science &amp; Innovation Centre, <br>Sherwood Drive, <br>Bletchley, <br>Buckinghamshire, <br>England, <br>MK3 6EB</span></p>

<p style="padding-left: 90px; text-align: left;">References to us in these Terms also includes any group companies which we may have from time to time.</p>
<p style="padding-left: 60px; text-align: left;"><em>You or your</em></p>
<p style="padding-left: 90px; text-align: left;">means the person accessing or using the Site or its Content.</p>


<p style="padding-left: 30px;">8 Your use of the Site means that you must also comply (where applicable) with:</p>
<p style="padding-left: 60px;">our Online terms and conditions of sale</p>

<p style="padding-left: 60px;">our Privacy policy</p>
<p style="padding-left: 60px;">our Cookie policy</p>
<p style="padding-left: 30px;">9 We reserve the right, at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes.</p>
<p><strong>B Using the Site</strong></p>
<p style="padding-left: 30px;">1 The Site is for your personal and non-exclusive use only. As long as you comply with these Terms of Use <span id="span_id_website_operator">TriForce Tokens Ltd</span> grants you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.</p>
<p style="padding-left: 30px;">2 You may not use any "page-scraper", "robot", "spider", "deep-link" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, copy, acquire, or monitor any part of the Site, or in any way reproduce or circumvent the navigational structure or presentation of the Site or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Site.</p>
<p style="padding-left: 30px;">3 You may not attempt to gain unauthorized access to any part or feature of the Site, or any other systems or networks connected to the Site or to any of our servers, or to any of the services offered on or through the Site, by password "mining", hacking or any other illegitimate means.</p>
<p style="padding-left: 30px;">4 You may not scan, probe or test the vulnerability of the Site or any network connected to the Site, nor breach the security or authentication measures on the Site or any network connected to the Site.</p>
<p style="padding-left: 30px;">5 You may not reverse look-up, trace or seek to trace any information on any other user of or visitor to the Site, or any other customer of ours, to its source, or exploit the Site or any service or information made available or offered by or through the Site, in any way where the purpose is to reveal any information, including but not limited to personal identification or information, other than your own information, as provided for by the Site.</p>
<p style="padding-left: 30px;">6 You agree that you will not take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Site or our systems or networks, or any systems or networks connected to the Site.</p>
<p style="padding-left: 30px;">7 You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of the Site or any transaction being conducted on the Site, or with any other person's use of the Site.</p>
<p style="padding-left: 30px;">8 You may not forge headers or otherwise manipulate identifiers in order to disguise the origin of any message or transmittal you send to us on or through the Site or any service offered on or through the Site. You may not pretend that you are, or that you represent, someone else, or impersonate any other individual or entity.</p>
<p style="padding-left: 30px;">9 You may not use the Site or any Content for any purpose that is unlawful or prohibited by these Terms of Use, or to solicit the performance of any illegal activity or other activity which infringes our rights or those of others.</p>
<p style="padding-left: 30px;">10 The Site is intended for use only by those who can access it from within the UK. If you choose to access the Site from locations outside the UK, you are responsible for compliance with local laws where they are applicable.</p>
<p style="padding-left: 30px;">11 You agree that you are solely responsible for:</p>
<p style="padding-left: 60px;">(i) all costs and expenses you may incur in relation to your use of the Site; and</p>
<p style="padding-left: 60px;">(ii) keeping your password and any other account details confidential.</p>

<p style="padding-left: 30px;">12 We seek to make the Site as accessible as possible. If you have any difficulties using the Site, please contact us at <span id="span_id_email">support@triforcetokens.io</span>.</p>
<p style="padding-left: 30px;">13 We may prevent or suspend your access to the Site if you do not comply with any part of these Terms, any terms or policies to which they refer or any applicable law.</p>
<p><strong>C Ownership, use and intellectual property rights</strong></p>
<p style="padding-left: 30px;">1 This Site and all intellectual property rights in it, including but not limited to any Content, are owned by us, our licensors or both (as applicable). We and our licensors reserve all of our and their rights in any intellectual property in connection with these Terms. This means, for example, that we and they remain owners of them and free to use them as we and they see fit.</p>
<p style="padding-left: 30px;">2 Nothing in these Terms grants you any legal rights in the Site other than as necessary to enable you to lawfully access the Site as intended and authorized by us. You agree not to adjust to try to circumvent or delete any notices contained on the Site (including any intellectual property notices) and in particular in any digital rights or other security technology embedded or contained within the Site.</p>
<p style="padding-left: 30px;">3 Trade marks:</p>
<p style="padding-left: 60px;">The following are our trademarks:</p>
<p style="padding-left: 60px;"><span style="white-space:pre-wrap;"><span id="span_id_trademarks_our" class="encours">The TriForce Tokens Logo.</span></span></p>

<p style="padding-left: 30px;">Other trade marks and trade names may also be used on this Site. The use of any trade marks on the Site is strictly prohibited unless you have our prior written permission.</p>
<p><strong>D Submitting information to the Site</strong></p>
<p style="padding-left: 30px;">1 While we try to make sure that the Site is secure, we cannot guarantee the security of any information that you supply to us. We therefore cannot guarantee that it will be kept confidential. For that reason, you should not submit any patentable ideas or patent applications, advertising or marketing suggestions, prototypes, or any other information that you regard as confidential, commercially sensitive or valuable (Unwanted Submissions) to the Site. While we value your feedback, you agree not to submit any Unwanted Submissions.</p>
<p style="padding-left: 30px;">2 We may use any Unwanted Submissions as we see reasonably fit on a free-of-charge basis (bear in mind that we have no way of knowing whether such information is confidential, commercially sensitive or valuable because we do not monitor the Site to check for these matters). Therefore, we will not be legally responsible for keeping any Unwanted Submissions confidential nor will we be legally responsible to you or anybody else for any use of such Unwanted Submissions.</p>
<p><strong>E Accuracy of information and availability of the Site</strong></p>
<p style="padding-left: 30px;">1 While we try to make sure that the Site is accurate, up-to-date and free from bugs, we cannot guarantee that it will be. Furthermore, we cannot guarantee that the Site will be fit or suitable for any purpose. Any reliance that you may place on the information on this Site is at your own risk.</p>
<p style="padding-left: 30px;">2 We may suspend or terminate operation of the Site at any time as we see fit.</p>
<p style="padding-left: 30px;">3 You may have certain legal rights when using the Site (such as if the Online terms and conditions for the supply of goods apply to you). These are also known as 'statutory rights' as they are derived from laws such as the Consumer Rights Act 2015. A summary of your key rights is set out at the beginning of the Online terms and conditions of sale.</p>
<p style="padding-left: 30px;">4 Content is provided for your general information purposes only and to inform you about us and our products and news, features, services and other websites that may be of interest. It does not constitute technical, financial or legal advice or any other type of advice and should not be relied on for any purposes.</p>
<p style="padding-left: 30px;">5 While we try to make sure that the Site is available for your use, we do not promise that the Site is available at all times nor do we promise the uninterrupted use by you of the Site.</p>
<p><strong>F Limitation on our liability</strong></p>
<p style="padding-left: 30px;">Except for any legal responsibility that we cannot exclude in law (such as for death or personal injury), we are not legally responsible for any losses. This exclusion shall include, but not be limited to:</p>
<p style="padding-left: 60px;">(a) losses that:</p>
<p style="padding-left: 60px;">i. were not foreseeable to you and us when these Terms were formed; or</p>
<p style="padding-left: 60px;">ii. that were not caused by any breach on our part</p>
<p style="padding-left: 60px;">(b) business losses; and</p>
<p style="padding-left: 60px;">(c) losses to non-consumers.</p>
<p><strong>G Events beyond our control</strong></p>
<p style="padding-left: 30px;">We shall have no liability to you for any breach of these Terms caused by any event or circumstance beyond our reasonable control including, but not limited to, strikes, lock-outs or other industrial disputes; breakdown of systems or network access; or flood, fire, explosion or accident.</p>
<p><strong>H Rights of third parties</strong></p>
<p style="padding-left: 30px;">No one other than a party to these Terms has any right to enforce any of these Terms.</p>
<p><strong>I Disputes</strong></p>
<p style="padding-left: 30px;">1 We will try to resolve any disputes with you quickly and efficiently.</p>
<p style="padding-left: 30px;">2 If you are unhappy with us please contact us as soon as possible.</p>
<p style="padding-left: 30px;">3 If you and we cannot resolve a dispute using our complaint handling procedure, we will:</p>
<p style="padding-left: 60px;">(a) let you know that we cannot settle the dispute with you; and</p>
<p style="padding-left: 60px;">(b) consider the need for Alternative Dispute Resolution and, if considered necessary, provide you with information about any alternative dispute resolution provider we deem appropriate to deal with your complaint.</p>


<p style="padding-left: 30px;">4 If you want to take court proceedings, the relevant courts of the United Kingdom will have exclusive jurisdiction in relation to these Terms.</p>
<p style="padding-left: 30px;">5 Relevant United Kingdom law will apply to these Terms.</p>


</div>
</div>
    
  </main>



<%- partial('./partials/footer.ejs') %>