<%- partial('./partials/header.ejs') %>


<main id="content" role="main">


   <div class="d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-90vh--lg">
       <!-- Content -->
       <div class="container">
         <div class="row">
           <div class="col-lg-5">

           
             <div class="g-mb-32">
               <h1 class="display-4 font-size-48--md-down mb-3">Look to the future</h1>
               <p>Join us on a journey to transform the games industry with a unique <strong>games dedicated blockchain</strong>.</p>
             </div>

             <div class="d-flex align-items-center">
               <a class="btn u-btn-primary--air u-btn-wide transition-3d-hover" href="/contributor-signup">Join Token Sale</a>

               <!-- Fancybox -->
               <a class="js-fancybox media align-items-center u-media-player ml-3" href="javascript:;" 
               data-src="https://youtu.be/gpAz4SEjfoo" 
               data-speed="200" 
               data-animate-in="zoomIn" 
               data-animate-out="zoomOut"
               data-caption="TriForce Tokens Vision">
                 <span class="d-flex mr-3">
                   <span class="u-media-player__icon u-media-player__icon--success">
                     <span class="fa fa-play u-media-player__icon-inner"></span>
                   </span>
                 </span>
                 <span class="media-body">
                   Play video
                 </span>
               </a>
               <!-- End Fancybox -->

             </div>

             <br />

               <a target="_blank" href="https://www.the-blocks.com/"><img class="img-fluid" src="/images/theblocks-award-2018.png" alt="" /></a>

           </div>


           <div class="col-lg-6 offset-1 text-center tokensale-opening" style="display:none;">

              <div class="g-mb-32 mt-4">
               <h2 class="mb-5">Final token sale opens soon</h2>
               <p>If you wish to take part in the private round that is <strong>open now</strong>, <a href="/contact">get in touch</a>.</p>
              </div>

              
                <div class="promo-timer-view">
                  <div class="timer">
                    <div class="row text-center mt-4">
                      <div class="col-md-3">
                        <div class="time-digit">
                          <span class="js-days digit"></span><br />
                          <span class="digit-type text-center">days</span>
                        </div>
                      </div>
                      <div class="col-md-3">
                      <div class="time-digit">
                        <span class="js-hours digit"></span><br />
                        <span class="digit-type">hours</span>
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="time-digit">
                        <span class="js-minutes digit"></span><br />
                        <span class="digit-type">mins</span>
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="time-digit">
                        <span class="js-seconds digit"></span><br />
                        <span class="digit-type">secs</span>
                      </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-6 text-center">
                    <div class="col-lg-12 text-center">
                      <a class="btn btn-success" href="/contributor-signup">Complete KYC Now &raquo;</a>
                    </div>
                  </div>

                </div>
            </div>



            <div class="col-lg-6 offset-1 text-center tokensale-open" style="display:none;">

              <div class="g-mb-32 mt-2">
               <h2 class="mb-5">Final token sale now live!</h2>
               <p>There is a limited supply of FORCE available. Join now to get the best bonus.</p>
              </div>

              
                <div class="promo-timer-view">
                  <div class="timer">
                    <div class="row text-center mt-4">
                      <div class="col-md-3">
                        <div class="time-digit">
                          <span class="js-days digit"></span><br />
                          <span class="digit-type text-center">days</span>
                        </div>
                      </div>
                      <div class="col-md-3">
                      <div class="time-digit">
                        <span class="js-hours digit"></span><br />
                        <span class="digit-type">hours</span>
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="time-digit">
                        <span class="js-minutes digit"></span><br />
                        <span class="digit-type">mins</span>
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="time-digit">
                        <span class="js-seconds digit"></span><br />
                        <span class="digit-type">secs</span>
                      </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-5">
                    <div class="col-lg-12 text-center bonus-info">
                      <p><strong>Current Bonus: <span class="current-bonus">15</span>&percnt;</strong></p>
                      <p><strong>Bonus ends in 
                      <span class="js-days-bonus digit"></span> <span class="digit-type text-center">days</span>,
                      <span class="js-hours-bonus digit"></span> <span class="digit-type text-center">hours</span>,
                      <span class="js-minutes-bonus digit"></span> <span class="digit-type text-center">mins</span>,
                      <span class="js-seconds-bonus digit"></span> <span class="digit-type text-center">seconds</span>
                      </strong></p>
                    </div>
                  </div>

                  <div class="row mt-3 text-center">
                    <div class="col-lg-12 text-center">
                      <a class="btn btn-success" href="/contributor-signup">Get your FORCE &raquo;</a>
                    </div>
                  </div>

                </div>
            </div>



            <div class="col-lg-6 offset-1 text-center tokensale-closed" style="display:none;">

              <div class="g-mb-32 mt-4">
               <h2 class="mb-5">Final token sale has ended</h2>
               <p>If you missed your opportunity to buy FORCE but would like to, <a href="/contact">get in touch</a>.</p>
              </div>

              
              <div class="row mt-6 text-center">
                <div class="col-lg-12 text-center">
                  <a class="btn btn-success" href="/contributor-login">Contributor Login &raquo;</a>
                </div>
              </div>
            </div>

          </div>

           <div class="container text-center u-space-3-top">
            <h4 class="h6 text-muted mb-3">Follow us</h4>

            <div class="d-flex justify-content-center">

              <div class="mx-3">
                <a target="_BLANK" href="https://discord.gg/Bnfpqrk" type="button" class="btn btn-xs btn-dark u-btn-dark transition-3d-hover text-left mb-2">
                  <span class="media align-items-center">
                    <span class="d-flex mr-3">
                      <span class="fab fa-discord font-size-26"></span>
                    </span>
                    <span class="media-body">
                      <strong class="font-size-14">Discord</strong>
                    </span>
                  </span>
                </a>
              </div>

              <div class="mx-3">
                <a target="_BLANK" href="https://twitter.com/triforcetokens" type="button" class="btn btn-xs btn-dark u-btn-dark transition-3d-hover text-left mb-2">
                  <span class="media align-items-center">
                    <span class="d-flex mr-3">
                      <span class="fab fa-twitter font-size-26"></span>
                    </span>
                    <span class="media-body">
                      <strong class="font-size-14">Twitter</strong>
                    </span>
                  </span>
                </a>
              </div>

              <div class="mx-3">
                <a target="_BLANK" href="https://www.facebook.com/triforcetokens" type="button" class="btn btn-xs btn-dark u-btn-dark transition-3d-hover text-left mb-2">
                  <span class="media align-items-center">
                    <span class="d-flex mr-3">
                      <span class="fab fa-facebook font-size-26"></span>
                    </span>
                    <span class="media-body">
                      <strong class="font-size-14">Facebook</strong>
                    </span>
                  </span>
                </a>
              </div>

              <div class="mx-3">
                <a target="_BLANK" href="https://medium.com/@triforcetokens" type="button" class="btn btn-xs btn-dark u-btn-dark transition-3d-hover text-left mb-2">
                  <span class="media align-items-center">
                    <span class="d-flex mr-3">
                      <span class="fab fa-medium font-size-26"></span>
                    </span>
                    <span class="media-body">
                      <strong class="font-size-14">Medium</strong>
                    </span>
                  </span>
                </a>
              </div>

            </div>
          </div>
          
        </div>

        <!-- End Content -->
      </div>


    </div>


    <!-- DOCUMENTS -->
    <div class="container u-space-1-bottom text-center">

      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--primary mb-2">Documents</span>
        <h2 class="h3 font-weight-normal">Discover how we are moving toward a decentralised utopia for gaming</h2>
      </div>

      <div class="row mb-4">
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-4">
          <a href="">
            <h6>General White Paper</h6>
            <img class="img-fluid" src="/images/general-whitepaper-cover.png" alt="General White Paper" />
          </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-4">
          <a href="">
            <h6>Tokenomic White Paper</h6>
            <img class="img-fluid" src="/images/tokenomic-whitepaper-cover.png" alt="Tokenomic White Paper" />
          </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-4">
          <a href="">
            <h6>Technical White Paper</h6>
            <img class="img-fluid" src="/images/tech-whitepaper-cover.png" alt="Technical White Paper" />
          </a>
        </div>
      </div>
      <div class="row mb-9">
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-4">
          <a href="">
            <h6>Token Sale Agreement</h6>
            <img class="img-fluid" src="/images/tokensale-agreement-cover.png" alt="Token Sale Agreement" />
          </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-4">
          <a href="">
            <h6>Risk Disclosures</h6>
            <img class="img-fluid" src="/images/risk-disclosures-cover.png" alt="Risk Disclosures" />
          </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-4 text-left">
          <form method="POST" action="/subscribe">
            <div class="form-group">
              <label><strong>Subscribe for updates</strong></label>
              <input placeholder="Email address" required type="email" name="email" class="form-control" />
            </div>
            <div class="form-group form-group-lg">
              <%- recaptchaForm %>
            </div>
            <div class="form-group">
              <input type="submit" value="Subscribe" class="btn btn-primary btn-sm btn-block" />
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- TOKEN SALE SUMMARY INFO -->
    <div class="container u-space-1-bottom text-center">

      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--primary mb-2">GitHub</span>
        <h2 class="h3 font-weight-normal">Our GitHub Activity</h2>
        <p>The majority of our GitHub activity is in private mode, as such you will not see everything the team is working on.</p>
      </div>

      <img class="img-fluid" src="/images/github-activity.png" alt="GitHub Activity" />
    </div>

    <!-- THE PROBLEM -->
    <div>
    </div>

    <!-- OUR SOLUTIONS -->
    <div>
    </div>

    <!-- THE OPPORTUNITY - WHY NOW WHEN BEAR MARKET? -->
    <div>
    </div>


    <!-- MVPS & ROADMAP -->
    <div>
    </div>


    <!-- TEAM -->
    <div>
    </div>


    <!-- PARTNERS -->
    <div>
    </div>


    <!-- TOKENOMICS & BUSINESS MODEL -->
    <div>
    </div>


    <!-- USE OF PROCEEDS & MANAGEMENT -->
    <div>
    </div>


    <!-- CALL TO ACTION - SIGN UP, JOIN SOCIAL MEDIA -->
    <div>
    </div>


    <!-- READY TO BUY NOW? -->
    <div>
    </div>



  </main>

<%- partial('./partials/footer.ejs') %>