<%- partial('./partials/header.ejs') %>


<main id="content" role="main">


   <div class="d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-90vh--lg">
       <!-- Content -->
       <div class="container">
         <div class="row">
           <div class="col-lg-5">

           
             <div class="g-mb-32">
               <h1 class="display-4 font-size-48--md-down mb-3">Look to the future</h1>
               <p>Join us on a journey to transform the games industry with <strong>pioneering blockchain technology</strong></p>
             </div>

             <div class="d-flex align-items-center">
               <a class="btn u-btn-primary--air u-btn-wide transition-3d-hover" href="/contributor-signup">Join Token Sale</a>

               <!-- Fancybox -->
               <a class="js-fancybox media align-items-center u-media-player ml-3" href="javascript:;" 
               data-src="https://youtu.be/gpAz4SEjfoo" 
               data-speed="200" 
               data-animate-in="zoomIn" 
               data-animate-out="zoomOut"
               data-caption="TriForce Tokens Vision">
                 <span class="d-flex mr-3">
                   <span class="u-media-player__icon u-media-player__icon--success">
                     <span class="fa fa-play u-media-player__icon-inner"></span>
                   </span>
                 </span>
                 <span class="media-body">
                   Play video
                 </span>
               </a>
               <!-- End Fancybox -->

             </div>

             <br />

             <a target="_blank" href="https://www.the-blocks.com/"><img class="img-responsive" src="/images/theblocks-award-2018.png" alt="" /></a>

           </div>
         </div>
       </div>
       <!-- End Content -->
      </div>


      <div class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute-top-right-0 pr-0" style="margin-top: 105.6px;">
        
      </div>

    </div>


    <!-- TOKEN SALE SUMMARY INFO -->
    <div>
    </div>

    <!-- THE PROBLEM -->
    <div>
    </div>

    <!-- OUR SOLUTIONS -->
    <div>
    </div>

    <!-- THE OPPORTUNITY - WHY NOW WHEN BEAR MARKET? -->
    <div>
    </div>

    <!-- DOCUMENTS -->
    <div>
    </div>


    <!-- MVPS & ROADMAP -->
    <div>
    </div>


    <!-- TEAM -->
    <div>
    </div>


    <!-- PARTNERS -->
    <div>
    </div>


    <!-- TOKENOMICS & BUSINESS MODEL -->
    <div>
    </div>


    <!-- USE OF PROCEEDS & MANAGEMENT -->
    <div>
    </div>


    <!-- CALL TO ACTION - SIGN UP, JOIN SOCIAL MEDIA -->
    <div>
    </div>


    <!-- READY TO BUY NOW? -->
    <div>
    </div>



  </main>

<%- partial('./partials/footer.ejs') %>